<div class="cookie-wrapper">
  <div class="container">
    <div class="cookie-content">
      <p>We use cookies and other similar technology to collect data to improve your experience on our site, as
        described in our <a href="https://appscode.com/legal/privacy-policy/" target="_blank">Privacy Policy</a>.</p>
      <div class="buttons">
        <button class="button close-btn">Close</button>
        <button class="button ac-button is-primary">ACCEPT</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // for cookie
  const cookieBox = document.querySelector(".cookie-wrapper"),
    acceptBtn = cookieBox.querySelector(".is-primary"),
    closeBtn = cookieBox.querySelector(".close-btn");

  // close cookie box
  closeBtn.addEventListener("click", function () {
    cookieBox.classList.add("is-hidden");
  })

  acceptBtn.addEventListener("click", function () {
    //setting cookie for 1 month, after one month it'll be expired automatically
    document.cookie = `CookieBy=AppsCode; path=/; max-age=${60 * 60 * 24 * 365}`;
    if (document.cookie) { //if cookie is set
      cookieBox.classList.add("is-hidden"); //is-hidden cookie box
    } else { //if cookie not set then alert an error
      alert("Cookie can't be set! Please unblock this site from the cookie setting of your browser.");
    }
  });
  let checkCookie = document.cookie.indexOf("CookieBy=AppsCode"); //checking our cookie
  //if cookie is set then is-hidden the cookie box else show it
  checkCookie != -1 ? cookieBox.classList.add("is-hidden") : cookieBox.classList.remove("is-hidden");
</script>