{{ $productName := .Params.product_name }}
  {{ if $productName }}
  {{ $p := (index $.Site.Data.products $productName) }}
   <section class="cta-area">
     <div class="container">
       <div class="cta-area-inner">
         <div class="container">
           <div class="flex flex-col md:flex-row items-center gap-4">
             <div class="w-full md:w-1/2">
               <h3 data-aos="fade-up" data-aos-duration="500" class="aos-init aos-animate">Ready to Get Started?</h3>
             </div>
             <div
               class="w-full md:w-1/2 text-center md:text-right">
               <div class="buttons justify-end">

                 <a href="/products/{{ $p.key }}/{{ $p.latestVersion }}/setup/" class="button ac-button ac-white"
                   style="background-color: white; border: 1px solid #e7e7e7; color: #00a651;">Try
                   Now for FREE!</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </section>
{{ end }}
