<!-- press-area start -->
<section class="press-area section-padding is-hidden">
    <div class="container">
      <div class="flex">
        <div class="w-full md:w-10/12 lg:w-2/3">
          <!-- section title start -->
          <div class="section-title md:text-center mb-10" data-aos="fade-up">
            <h2>WHAT THEY PUBLISHED</h2>
          </div>
          <!-- section title end -->
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-6" data-aos="fade-up" data-aos-duration="800">
        {{ range $idx, $article := $.Site.Data.press }}
        <!-- single press start -->
        <div>
          <div class="single-press-wrapper">
            <div class="press-image press-image-{{ add $idx 1 }}"></div>
            <div class="press-content">
              <p class="read-meta">{{ $article.timeToRead }}</p>
              <h3>
                <a href="{{ $article.link }}">{{ $article.title }}</a>
              </h3>
              <p class="is-ellipsis-3">
                {{ $article.summary }}
              </p>
              <div class="press-button-wrapper">
                <a href="{{ $article.link }}" class="press-button">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
        <!-- single press end -->
        {{ end }}
      </div>
    </div>
  </section>
  <!-- press-area end -->