<section class="testimonial-area">

  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-4">
        <div class="section-title">
          <h2 class="is-gradient" data-aos="fade-up" data-aos-duration="500">What They Are <span
              class="has-text-weight-light"> Talking About us</span></h2>
          <p data-aos="fade-up" data-aos-duration="700">Trusted by top engineers at the most ambitious companies</p>
        </div>
        <!-- arrows start  -->
        <div class="arrows" data-aos="fade-up" data-aos-duration="900">
          <button class="button arrow is-rounded customPrevBtn"><span
              class="material-icons-outlined">arrow_back</span></button>
          <button class="button arrow is-rounded customNextBtn"><span
              class="material-icons-outlined">arrow_forward</span></button>
        </div>
        <!-- arrows end -->
      </div>
      <div class="column is-8">
        <!-- owl-carousel -->
        <div class="testimonial-carousel-wrapper owl-carousel testimonial-carousel">
          {{ range $user := $.Site.Data.testimonials }}
          <!-- single testimonial item start  -->
          <div class="single-testimonial-item">
            <!-- user info wrapper start  -->
            <div class="user-info-wrapper">
              <figure class="image is-64x64">
                <img class="is-rounded" src="{{ $user.profile }}" alt="{{ $user.name }}">
              </figure>
              <div class="user-info">
                <h5>{{ $user.name }}</h5>
                <p>{{ $user.job }}{{ if $user.companyKey }} at
                  {{ index $.Site.Data.customers $user.companyKey "name" }}{{ end }}</p>
              </div>
            </div>
            <!-- user info wrapper end -->
            <p>{{ $user.testimonial | safeHTML }}</p>
          </div>
          {{ end }}
        </div>
        <!-- single testimonial item end -->
      </div>
    </div>
  </div>
</section>
