<section class="testimonial-area">

  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-4">
        <div class="section-title">
          <h2 class="is-gradient" data-aos="fade-up" data-aos-duration="500">What They Are <span
              class="has-text-weight-light"> Talking About us</span></h2>
          <p data-aos="fade-up" data-aos-duration="700">Trusted by top engineers at the most ambitious companies</p>
        </div>
        <!-- arrows start  -->
        <div class="arrows" data-aos="fade-up" data-aos-duration="900">
          <button class="button arrow is-rounded customPrevBtn">
            <span class="icon">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
              </svg>                
            </span>
          </button>
          <button class="button arrow is-rounded customNextBtn"><span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
          </span></button>
        </div>
        <!-- arrows end -->
      </div>
      <div class="column is-8">
        <!-- owl-carousel -->
        <div class="testimonial-carousel-wrapper owl-carousel testimonial-carousel">
          {{ range $user := $.Site.Data.testimonials }}
          <!-- single testimonial item start  -->
          <div class="single-testimonial-item">
            <!-- user info wrapper start  -->
            <div class="user-info-wrapper">
              <figure class="image is-64x64">
                <img class="is-rounded" src="{{ $user.profile }}" alt="{{ $user.name }}">
              </figure>
              <div class="user-info">
                <p class="name">{{ $user.name }}</p>
                <p>{{ $user.job }}{{ if $user.companyKey }} at
                  {{ index $.Site.Data.customers $user.companyKey "name" }}{{ end }}</p>
              </div>
            </div>
            <!-- user info wrapper end -->
            <p>{{ $user.testimonial | safeHTML }}</p>
          </div>
          {{ end }}
        </div>
        <!-- single testimonial item end -->
      </div>
    </div>
  </div>
</section>
