{{ $productName := .Params.product_name }}
{{ $p := (index .Site.Data.products (default "appscode" $productName)) }}
{{ $currentBranch := (index (split .Params.menu_name "_") 2) }}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="theme-color" content="{{ $p.website.themeColor }}">
<title>{{$p.fullname}}</title>
<meta name="description" content="{{ $p.summary | plainify }}">
<meta name="author" content="{{ $p.author }}">
<meta name="keywords" content="{{ $p.keywords }}">
{{ if (and $currentBranch (not (eq $p.latestVersion $currentBranch))) }}
<!--https://developers.google.com/search/docs/advanced/crawling/block-indexing#meta-tag-->
<meta name="robots" content="noindex">
{{ end }}

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/images/products/{{ $p.key }}/icons/ms-icon-144x144.png">
<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ $p.fullname }}">
<meta itemprop="description" content="{{ $p.summary | plainify }}">
<meta itemprop="image" content="{{ $.Site.BaseURL }}/assets/images/products/{{ $p.key }}/{{ $p.key }}-1280x640.png">
<!-- twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ strings.TrimPrefix `https://twitter.com/` $p.socialLinks.twitter }}">
<meta name="twitter:title" content="{{$p.fullname}}">
<meta name="twitter:creator" content="@{{ strings.TrimPrefix `https://twitter.com/` $p.socialLinks.twitter }}">
<meta name="twitter:description" content="{{ $p.summary | plainify }}">
<meta name="twitter:image:src"
  content="{{ $.Site.BaseURL }}/assets/images/products/{{ $p.key }}/{{ $p.key }}-1280x640.png">
<!-- facebook -->
<meta property="og:url" content="{{ $.Site.BaseURL }}">
<meta property="og:title" content="{{$p.fullname}}">
<meta property="og:description" content="{{ $p.summary | plainify }}">
<meta property="og:site_name" content="{{ $p.fullname }}">
<meta property="og:image"
  content="{{ $.Site.BaseURL }}/assets/images/products/{{ $p.key }}/{{ $p.key }}-1280x640.png">
<meta property="og:type" content="article">

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/products/{{ $p.key }}/icons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"
  href="/assets/images/products/{{ $p.key }}/icons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/products/{{ $p.key }}/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/products/{{ $p.key }}/icons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/products/{{ $p.key }}/icons/favicon-16x16.png">
<link rel="manifest" href="/assets/images/products/{{ $p.key }}/icons/manifest.json">