{{ define "main" }}

{{ $data:=""}}

{{ if .Params.data }}
  {{ $data = getJSON .Params.data }}
{{ end }}

{{ with $data }}

<div class="bg-gradient-1"
    style="background-image:url(https://appscode.com/assets/images/gradient-bg.webp); background-repeat: repeat;">
    <!-- Hero Section -->
    <section class="hero-area is-services">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-6 is-full-touch">
                    <h1 >{{ $data.hero.title }}</h1>
                    <p >
                        {{ $data.hero.subtitle }}
                    </p>
                    <button class="button ac-button is-primary ">{{ $data.hero.cta_text }}</button>
                </div>
                <div class="column is-6 is-full-touch">
                    <div class="hero-illustration">
                        <img src="{{ $data.hero.illustration.src }}"
                            alt="{{ $data.hero.illustration.alt }}" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->


    <!-- Trusted by Section -->
    <section >
        <div class="container has-text-centered">
            <h5>{{ $data.trusted_by.title }}</h5>
            <div class="columns is-centered is-vcentered">
                <div class="column is-12">
                    <div class="social-prove-brand-area">
                        <div class="brand-image-wrapper owl-carousel" id="brand-image-wrapper">
                            {{ range $customer := $.Site.Data.customers }}
                            {{ if $customer.show }}
                            <div class="single-brand"><img src="{{ $customer.logo }}" alt="{{ $customer.name }}"
                                    loading="eager" height="32"></div>
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Trusted by Section -->
    {{ end }}
    
    <!-- from markdown file -->
    {{ .Content }}
    <!-- end from markdown file -->


    {{ with $data }}
    <!-- Cloud Native Product Engineering Section -->
    <section class="section-padding bg-light benefits-section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10">
                    <div class="section-title has-text-centered-tablet mb-16">
                        <h2>{{ $data.services.title }}</h2>
                        <p class="mb-0">
                            {{ $data.services.subtitle }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="columns is-multiline">
                {{ range $item := $data.services.items }}
                <div class="column is-4">
                    <div class="service-card">
                        <div class="service-icon">
                            <i class="{{ $item.icon }}"></i>
                        </div>
                        <h4 class="mt-16">{{ $item.title }}</h4>
                        <p class="has-text-gray">
                            {{ $item.description }}
                        </p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>

    <!-- Leverage Golang Expertise Section -->
    <section class="section section-lg card-section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <div class="section-title mb-0">
                        <h2>{{ $data.golang_expertise.title }}</h2>
                        <p>
                            {{ $data.golang_expertise.subtitle }}
                        </p>
                        <a href="#" class="button ac-button">{{ $data.golang_expertise.cta_text }}</a>
                    </div>
                </div>
                <div class="column is-8">
                    <div class="columns is-gapless is-multiline">
                        {{ range $item := $data.golang_expertise.services }}
                        <div class="column is-6 single-card-wrapper">
                            <div class="single-feature card-view">
                                <div class="icon">
                                    <i class="{{ $item.icon }}"></i>
                                </div>
                                <div class="content">
                                    <h4 class="mt-16">{{ $item.title }}</h4>
                                    <p class="has-text-gray">
                                        {{ $item.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        
                    </div>
                </div>
            </div>
    </section>

    <!-- Accelerate Development Section -->
    <section class="section-padding bg-light">
        <div class="container">
            <div class="section-title has-text-centered mb-6">
                <h2>{{ $data.development_areas.title }}</h2>
                <p>{{ $data.development_areas.subtitle }}</p>
            </div>

            <div class="columns">
                {{ range $item := $data.development_areas.areas }}
                <div class="column is-3">
                    <div class="development-card">
                        <div class="development-icon">
                            <i class="{{ $item.icon }}"></i>
                        </div>
                        <h4 class="title is-5">{{ $item.title }}</h4>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>

    <!-- Partner Section -->
    <section class="section-padding cloud-native-partner-section">
        <div class="container">
            <div class="section-title has-text-centered mb-32">
                <h2>{{ $data.partner_section.title }}</h2>
            </div>

            <div class="columns">
                {{ range $item := $data.partner_section.partners }}
                <div class="column is-4">
                    <div class="single-feature card-view">
                        <div class="icon">
                            <i class="{{ $item.icon }}"></i>
                        </div>
                        <h4>{{ $item.title }}</h4>
                        <p class="has-text-gray">
                            {{ $item.description }}
                        </p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>

    <!-- Engagement Models Section -->
    <section class="section-padding engagement-models-section bg-light">
        <div class="container">
            <div class="section-title has-text-centered mb-32">
                <h2>{{ $data.engagement_models.title }}</h2>
            </div>

            <div class="engagement-card-wrapper">
                {{ range $item := $data.engagement_models.models }}
                <div class="engagement-card">
                    <div class="num-icon">
                        {{ $item.number }}
                    </div>
                    <h4>{{ $item.title }}</h4>
                    <p class="has-text-gray">
                        {{ $item.description }}
                    </p>
                </div>
                {{ end }}
            </div>
        </div>
    </section>

    <!-- Cloud Native Product Development with Right Processes & People  -->
    <section class="section-padding product-development-process-section">
        <div class="container has-text-centered">
            <div class="section-title has-text-centered">
                <h2>{{ $data.product_development_process.title }}</h2>
                <p>{{ $data.product_development_process.subtitle }}</p>
            </div>
        </div>
        <div class="container">
            <div class="columns">
                <div class="column is-6">
                    <div class="tab-items">
                        {{ range $item := $data.development_process.steps }}
                         <div class="tab-item {{ if $item.active }}is-active{{ end }}">
                            <div class="date">
                                <strong>{{ $item.date }}</strong>
                                <span>{{ $item.month }}</span>
                            </div>
                            <h4>{{ $item.title }}</h4>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div class="column is-6">
                    {{ range $item := $data.development_process.active_content }}
                    {{ if $item.active }}
                    <div class="tab-content">
                        <img src="{{ $item.image }}" alt="{{ $item.description }}">
                        <p>{{ $item.description }}</p>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <!-- We Understand the Nitty-Gritty!  -->
    <section class="section section-lg card-section working-scenarios-section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <div class="section-title mb-0">
                        <h2>{{ $data.industries.title }}</h2>
                        <p>{{ $data.industries.subtitle }}</p>
                        <p>{{ $data.industries.additional_text }}</p>
                    </div>
                </div>
                <div class="column is-8">
                    <div class="columns is-gapless is-multiline">
                        {{ range $item := $data.industries.sectors }}
                        <div class="column is-6 single-card-wrapper">
                            <div class="single-feature card-view">

                                <div class="content">
                                    <div class="is-flex is-align-items-center is-gap-8">
                                        <div class="icon">
                                            <i class="{{ $item.icon }}"></i>
                                        </div>
                                        <h4 class="mt-16">{{ $item.title }}</h4>
                                    </div>
                                    <p class="has-text-gray">
                                        {{ $item.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
    </section>

    <!-- We Love Open Source -->

    <section class="section-padding has-background-white features-area">
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    <div>
                        <div class="columns is-vcentered is-flex-direction-row-reverse-mobile">
                            <div class="column is-6">
                                <div class="features-thumbnail"><img
                                        src="{{ $data.open_source.image.src }}"
                                        alt="{{ $data.open_source.image.alt }}" class="img">
                                </div>
                            </div>
                            <div class="column is-6">
                                <div class="feature-wrapper d-table">
                                    <div class="feature-content pr-140 d-table-cell">
                                        <h3>{{ $data.open_source.title }}</h3>
                                        <p>{{ $data.open_source.description }}</p>
                                        <p class="has-text-info">{{ $data.open_source.cta_text }}</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="section-title has-text-centered">
                        <h2>{{ $data.tech_stack.title }}</h2>
                        <p>{{ $data.tech_stack.subtitle }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="columns is-multiline is-centered">
                <div class="logo-presentation">
                    {{ range $item := $data.tech_stack.technologies }}
                    <div class="single-logo has-text-centered">
                        <img src="{{ $item.logo }}" alt="{{ $item.name }}">
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>

    <!-- Why Some of the Best Companies Work with AppsCode? -->
    <section class="section section-lg card-section">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <div class="section-title mb-0">
                        <h2>{{ $data.why_choose_us.title }}</h2>
                    </div>
                </div>
                <div class="column is-8">
                    <div class="columns is-gapless is-multiline">
                        {{ range $item := $data.why_choose_us.reasons }}
                        <div class="column is-6 single-card-wrapper">
                            <div class="single-feature card-view">
                                <div class="icon">
                                    <i class="{{ $item.icon }}"></i>
                                </div>
                                <div class="content">
                                    <h4 class="mt-16">{{ $item.title }}</h4>
                                    <p class="has-text-gray">
                                        {{ $item.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
    </section>

    <section class="section-padding has-background-white engineering-resources-section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="section-title has-text-centered">
                        <h2>{{ $data.resources.title }}</h2>
                    </div>
                </div>
            </div>

            <div class="columns is-multiline">
                {{ range $item := $data.resources.items }}
                <div class="column is-4">
                    <a href="#" class="resource-card">
                        <div class="resource-thumbnail">
                            <img src="{{ $item.image }}" alt="{{ $item.title }}">
                        </div>
                        <div class="tag">{{ $item.type }}</div>
                        <div class="resource-content">
                            <h4 class="title is-5">{{ $item.title }}</h4>
                        </div>
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
    </section>


    <!-- Final CTA Section -->
    <section class="section-padding cta-action-section">
        <div class="container has-text-centered">
            <div class="section-title has-text-centered">
                <h2>{{ $data.final_cta.title }}</h2>
                <p>
                    {{ $data.final_cta.subtitle }}
                </p>
            </div>
            <div class="buttons is-centered">
                {{ range $data.final_cta.buttons }}
                <button class="button ac-button {{ if .primary }}is-primary{{ end }} {{ if .outlined }}is-outlined{{ end }}">
                    <span class="icon">
                        <i class="{{ .icon }}"></i>
                    </span>
                    <span>{{ .text }}</span>
                </button>
                {{ end }}
            </div>
        </div>
    </section>

</div>

{{ end }}
{{ end }}