//  color variable
$ac-color-heading: #1c1c1c;
$ac-color-text: #666F6A;
$ac-color-label: #a6abbd;
$ac-color-link: #4a4a4a;
$ac-color-value: #393939;

$ac-black: #000000;
$ac-bg: #ffffff;
$ac-white: #ffffff;
$ac-white-light: #e7e7e7;
$ac-white-lighter: #f1f1f1;
$ac-gray-dark: #5f5f5f;
$ac-gray-light: #8d8d8d;
$ac-gray-lightest: #d1d1d1;

// size
$ac-size-1: 48px;
$ac-size-2: 36px;
$ac-size-3: 28px;
$ac-size-4: 22px;
$ac-size-5: 18px;
$ac-size-6: 16px;
$ac-size-7: 14px;

// small font size
$font-size-medium: 16px;
$font-size-semi-normal: 15px;
$font-size-normal: 14px;
$font-size-small: 13px;
$font-size-extra-small: 12px;
$font-size-tiny: 11px;

// Base Color
$ac-orange: #ff8000;
$ac-yellow: #f7ad2a;
$ac-green: #158748;
$ac-blue: #0aafff;
$ac-purple: #791e94;
$ac-red: #ff3729;
