// hero-area css
.fixed-menu {
  position: absolute;
  width: 100%;
  padding: 9px 0px;
  z-index: 99;
  top: 0;
  left: 0;
}

body.fixed-nav .fixed-menu {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  padding: 9px 0px;
  background: $white-color;
  box-shadow: 0px 1px 1px rgba(25, 76, 128, 0.08);
}

.appscode .header-top {
  box-shadow: 0px 1px 1px rgba(25, 76, 128, 0.08);
}

//is dark bg available in menu
.main-menu.is-bg-available .navbar-item,
.main-menu.is-bg-available .navbar-link {
  color: $white-color;
}
.main-menu.is-bg-available .navbar-item:hover,
.main-menu.is-bg-available .navbar-link:hover {
  color: #ddd;
}
.navbar-item.has-dropdown.is-active .navbar-link,
.navbar-item.has-dropdown:hover .navbar-link {
  background: transparent;
}
// if header-fixed and bg color white
body.fixed-nav .main-menu.is-bg-available .navbar-item,
body.fixed-nav .main-menu.is-bg-available .navbar-link {
  color: $link-color;
}
// if header-fixed and bg color white
body.fixed-nav .main-menu.is-bg-available .navbar-item:hover,
body.fixed-nav .main-menu.is-bg-available .navbar-link:hover {
  color: $primary-color;
}
.main-menu.is-bg-available .navbar-link:not(.is-arrowless)::after,
.main-menu.is-bg-available .select:not(.is-multiple):not(.is-loading)::after {
  border-color: $white-color;
}
body.fixed-nav
  .main-menu.is-bg-available
  .navbar-link:not(.is-arrowless)::after,
body.fixed-nav
  .main-menu.is-bg-available
  .select:not(.is-multiple):not(.is-loading)::after {
  border-color: $link-color;
}
.hero-area {
  position: relative;
  z-index: 1;
  .hero-shape {
    position: absolute;
    background: url(../images/appscode/hero-shape.png);
    background-repeat: no-repeat;
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-position-y: top;
    z-index: -1;
    min-height: 100%;
  }
  .trusted-logo {
    margin-top: 20px;
  }
}
.is-full-height {
  min-height: 100vh;
}
.hero-area.is-full-height{
  padding: 70px 0 0;
  overflow: hidden;
}
.hero-area-content {
  h1 {
    line-height: 67px;
  }
  .play-buttons {
    margin-top: 30px;
    a {
      color: #242a31;
      font-size: 16px;
      font-weight: 600;
      span.video-icon {
        height: 54px;
        width: 54px;
        border: 1px solid #00a651;
        display: inline-block;
        font-size: 14px;
        color: #00a651;
        text-align: center;
        line-height: 54px;
        margin-right: 20px;
        border-radius: 50%;
        i.fa {
          padding-left: 5px;
        }
      }
    }
  }
}
.hero-right-content-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  .right-side-content-inner {
    position: absolute;
    right: -80px;
    top: 10px;
    z-index: -1;
  }
}
.trusted-logo {
  .trusted-action {
    background: #e0f2e9;
    padding: 6px 30px;
    border-radius: 4px;
    font-size: 16px;
    display: inline-block;
    margin: 0 auto;
    a {
      color: $primary-color;
    }
  }
  .trusted-company a {
    color: $primary-color;
  }
  .trusted-company p {
    font-weight: 500;
  }
}
.shap-3 {
  position: relative;
  z-index: 1;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
    z-index: -1;
    background: url(../images/appscode/shape-3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

// count-down area start
.count-link-area {
  background-color: #fbfbfb;
  position: relative;
  z-index: 1;
  .right-sidebar-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    .right-sidebar-menu {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      ul {
        padding-left: 30px;
        border-left: 1px solid $border-color;
        li {
          a {
            display: inline-block;
            color: $link-color;
            padding: 10px 0;
            font-weight: 600;
            position: relative;
            z-index: 1;
            &::after {
              position: absolute;
              content: "";
              left: 0;
              bottom: 0;
              width: 0;
              height: 2px;
              background: $primary-color;
              transition: 0.3s linear;
            }
            &:hover {
              color: $heading-color;
              &::after {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.counter-area {
  background-color: #fbfbfb;
  .single-count-wrapper {
    text-align: center;
    padding: 76px 40px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
    &:hover {
      background: $white-color;
      box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
      z-index: 3;
    }
    .count-icon {
      max-width: 180px;
      margin: 0 auto;
      margin-bottom: 40px;
      height: 170px;
      img {
        width: 100%;
      
      }
    }
    .count {
      font-size: 48px;
      font-weight: 700;
      color: #1c2c41;
      line-height: 1.5;
      transition: 0.3s ease-in-out;
    }
    &:hover .count {
      color: $primary-color;
    }
    .name {
      color: $paragraph-color;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .action-btn {
      font-size: 18px;
      font-weight: 600;
      position: absolute;
      bottom: 0;
      transition: 0.3s ease-in-out;
      margin-left: -50%;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      color: $primary-color;
    }
    &:hover .action-btn {
      opacity: 1;
      visibility: visible;
      bottom: 50px;
    }
  }
}
// count-down area end
.service-image.is-box-shadow {
  img{
    box-shadow: 0px 8px 57px rgba(0, 0, 0, 0.16);
  }
}
.service-content {
  padding-right: 60px;
  h5 {
    color: $primary-color;
    font-size: 14px;
    font-weight: 600;
  }
  h2 {
    color: $heading-color;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 10px;
  }
  p {
    color: $paragraph-color;
    font-size: 16px;
    max-width: 83%;
  }
}

.section-title {
  position: relative;
  z-index: 1;
  h4 {
    color: $primary-color;
    font-size: 14px;
    font-weight: 600;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    line-height: 50px;
    font-weight: 400;
  }
  p{
    a{
      color: $primary-color;
      text-decoration: underline;
      transition: .3s ease-in-out;
      &:hover{
        color: scale-color($primary-color, $lightness: 10%);
      }
    }
  }
  .quete-icon {
    font-size: 120px;
    position: absolute;
    width: 100%;
    top: -60px;
    z-index: -1;
    opacity: 0.1;
  }
}
.section-title.is-main-title h2 {
  margin-bottom: 0;
}
.section-title.mb-0 {
  margin-bottom: 0;
}
.ac-custom-tabs {
  ul {
    li {
      margin-bottom: 30px;
      a {
        color: #242a31;
        font-size: 24px;
        font-family: roboto;
        display: block;
        padding: 20px 20px;
        box-shadow: 0px 1px 4px rgba(26, 80, 151, 0.16);
        border-radius: 9px;
        transition: 0.3s;
        &:hover {
          box-shadow: 0px 8px 50px rgba(26, 80, 151, 0.16);
        }
        span.circle-shape {
          width: 20px;
          height: 20px;
          background: #00a0ff;
          display: inline-block;
          border-radius: 50%;
          margin-right: 14px;
        }
      }
    }
  }
}
// service area start
.single-solution-wrapper {
  position: relative;
  z-index: 1;
  padding: 30px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
  min-height: 300px;
  overflow: hidden;
  .solution-icon {
    max-width: 30px;
    margin-bottom: 10px;
  }
  h4 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #242a31;
  }
  p {
    font-size: 16px;
    margin-bottom: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    box-orient: vertical;
    -webkit-box-orient: vertical;
  }
  .inline-button {
    width: 100px;
    height: 100px;
    background: $primary-color;
    display: inline-block;
    text-align: left;
    padding-left: 40px;
    line-height: 80px;
    font-size: 30px;
    color: $white-color;
    border-radius: 50%;
    position: absolute;
    right: -100px;
    bottom: -100px;
    transition: 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
  &:hover .inline-button {
    right: -30px;
    bottom: -30px;
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
  }
  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    background: $primary-color;
    border-radius: 4px 4px 0 0;
    transition: 0.3s ease;
  }
  &:hover {
    &:after {
      height: 6px;
    }
  }
}
.color-2 {
  &:after {
    background: $blue-color;
  }
  .inline-button {
    background: $blue-color;
  }
}
.color-3 {
  &:after {
    background: lighten($orange-color, 10%);
  }
  .inline-button {
    background: lighten($orange-color, 10%);
  }
}
.color-4 {
  &:after {
    background: lighten($primary-color, 10%);
  }
  .inline-button {
    background: lighten($primary-color, 10%);
  }
}
// service area end

// press area start
.press-area {
  background-color: #fbfbfb;
  .single-press-wrapper {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
      border-radius: 4px;
      overflow: hidden;
      .press-content {
        border: 1px solid #FBFBFB;
      }
    }
    .press-image-1 {
      background-image: url(../images/press/1.png);
    }
    .press-image-2 {
      background-image: url(../images/press/2.png);
    }
    .press-image-3 {
      background-image: url(../images/press/3.png);
    }
    .press-image-4 {
      background-image: url(../images/press/4.png);
    }
  }
  .press-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    background-repeat: no-repeat;
    width: 100%;
  }
  .press-content {
    border: 1px solid $border-color;
    border-top: 1px solid transparent;
    border-radius: 0 0 4px 4px;
    padding: 20px;
    .read-meta {
      font-size: 12px;
      color: lighten($paragraph-color, 20%);
      margin-bottom: 10px;
    }
    h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      box-orient: vertical;
      -webkit-box-orient: vertical;
    }
    p {
      color: $paragraph-color;
      font-size: 15px;
      margin-bottom: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 4;
      -webkit-line-clamp: 4;
      box-orient: vertical;
      -webkit-box-orient: vertical;
    }

    .press-button-wrapper {
      overflow: hidden;
      position: relative;
      z-index: 1;
      &:after {
        position: absolute;
        content: "";
        top: 15px;
        width: 100%;
        height: 1px;
        background: $border-color;
        left: 0;
        z-index: -1;
        transition: 0.3s ease-in-out;
      }
      .press-button {
        border: 1px solid $border-color;
        font-size: 13px;
        color: lighten($paragraph-color, 30%);
        font-weight: 600;
        padding: 5px 20px;
        border-radius: 50px;
        display: block;
        float: right;
        position: relative;
        z-index: 1;
        background: $white-color;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $paragraph-color;
          border: 1px solid $paragraph-color;
        }
      }
    }
  }
}

// press area end


// testimonial area style start
.testimonial-area-2{
  .section-title{
    margin-bottom: 30px;
  }
}
.single-testimonial-wrapper {
  margin: 0 15px;
  .testimonial-msg {
    background-color: #f5f5f5;
    padding: 30px 20px;
    border-radius: 4px;
    min-height: 210px;
    p {
      color: $paragraph-color;
      font-size: 15px;
      line-height: 28px;
    }
  }
  .testimonial-client-info {
    overflow: hidden;
    padding: 30px 20px 0;
  }
}
.carousel-wrapper1 .slider-navigation-next,
.carousel-wrapper1 .slider-navigation-previous,
#logo-area .slider-navigation-next,
#logo-area .slider-navigation-previous {
  display: none;
}

.slider-container {
  .slider-item{
    margin-bottom: 30px;
  }
}
// testimonial area style end

.about-text-inner p {
  margin-bottom: 30px;
}

.ceo-message-wrapper h1 {
  margin-bottom: 40px;
  font-weight: 400;
}

.signature-image {
  margin-top: 40px;
  p {
    font-family: Raleway;
    font-weight: 600;
  }
}

.ceo-image {
  position: relative;
  z-index: 1;
  img{
    max-width: 300px;
    margin-top: 20px;
  }
  .dots-style {
    position: absolute;
    background: url(../images/appscode/dots.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 250px;
    right: 100px;
    bottom: -75px;
    z-index: -1;
    left: 50%;
    margin-left: -125px;
  }
}

section.our-customer-area {
  background: #fbfbfb;
}

// cta area start
.cta-bg-color-1 {
  position: relative;
  z-index: 1;
  h1 {
    color: $white-color;
    font-size: 58px;
    font-weight: 400;
  }
}

.cta-bg-color-1:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1c2c41;
  z-index: -1;
}
// cta area end
