// Define KubeDB Font Family
$font-heading: "Raleway", sans-serif;
$font-paragraph: "Roboto", sans-serif;
$font-link: "Roboto", sans-serif;

// Define KubeDB Font Size
$font-small: 12px;
$font-regular: 15px;
$font-semi-regular: 16px;
$font-large: 18px;

// Define KubeDB Colour
$primary-color: #4d4dcb;
$heading-color: #242a31;
$paragraph-color: #393e46;
$link-color: #4a4a4a;
$border-color: #E8E9EA;

// Define Basic Colour
$white-color: #ffffff;
$green-color: #00a651;
$orange-color: #f99a00;
$red-color: #e03056;
$blue-color: #0AAFFF;

//theme color define
$primary-color: #00A651;
$voyager-primary: #2D2A78;
$guard-primary: #D84E27;
$kubeci-primary: #2c3e50;
$kubed-primary: #1C7BD4;
$kubesheild-primary: #2516C7;
$kubevault-primary: #326CE5;
$pharmer-primary: #F18528;
$searchlight-primary: #46CDCF;
$service-broker-primary: #29B4A2;
$stash-primary: #5E2DEA;
$swift-primary: #e67e22;
