{{/* Load JSON from .Page.Params.data */}}
{{ $data := dict }}
{{ if .Page.Params.data }}
{{ $data = getJSON .Page.Params.data }}
{{ end }}

{{ with $data.development_process }}

<section class="section-padding product-development-process-section">
    <div class="container has-text-centered">
        <div class="section-title has-text-centered">
            <h2>{{ $data.development_process.title }}</h2>
            <p>{{ $data.development_process.subtitle }}</p>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <div class="tab-items">
                    {{ range $item := $data.development_process.steps }}
                    <div class="tab-item {{ if $item.active }}is-active{{ end }}">
                        <div class="date">
                            <strong>{{ $item.date }}</strong>
                            <span>{{ $item.month }}</span>
                        </div>
                        <h4>{{ $item.title }}</h4>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="column is-6">
                {{ range $item := $data.development_process.active_content }}
                {{ if $item.active }}
                <div class="tab-content">
                    <img src="{{ $item.image }}" alt="{{ $item.description }}">
                    <p>{{ $item.description }}</p>
                </div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}