{{/* Load JSON from .Page.Params.data */}}
{{ $data := dict }}
{{ if .Page.Params.data }}
{{ $data = getJSON .Page.Params.data }}
{{ end }}

{{ with $data.why_choose_us }}

<section class="section section-lg card-section">
    <div class="container">
        <div class="flex flex-col md:flex-row items-center gap-8">
            <div class="w-full md:w-1/3">
                <div class="section-title mb-0">
                    <h2>{{ $data.why_choose_us.title }}</h2>
                </div>
            </div>
            <div class="w-full md:w-2/3">
                <div class="grid grid-cols-1 md:grid-cols-2">
                    {{ range $item := $data.why_choose_us.reasons }}
                    <div class="single-card-wrapper">
                        <div class="single-feature card-view">
                            <div class="icon">
                                <i class="{{ $item.icon }}"></i>
                            </div>
                            <div class="content">
                                <h4 class="mt-16">{{ $item.title }}</h4>
                                <p class="has-text-gray">
                                    {{ $item.description | safeHTML }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
</section>
{{ end }}