{{ $productName := .Params.product_name }}
{{ $p := (index .Site.Data.products (default "appscode" $productName)) }}
{{ $currentBranch := (index (split .Params.menu_name "_") 2) }}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- ======================== Analytics HTML ========================= -->
  {{ partial "head/analytics.html" . }}

  <!-- ======================== Head HTML ========================= -->
  {{ partial "head/head.html" .  }}

 
  {{ block "head-footer" . }}
  {{ end }}

  <!-- ======================== Styles HTML ========================= -->
  {{ partial "helpers/style-bundle.html" . }}
</head>

<body class="{{ .Layout }}">
  <!-- Google Tag Manager (noscript) -->
  {{ partial "helpers/google-tag-manager.html" . }}
  <!-- End Google Tag Manager (noscript) -->

  <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

  <!--========================== header area start ==========================-->
  {{ block "header" . }}
    {{ partial "header/header.html" .  }}
  {{ end }}
  <!-- ========================== header area end ==========================-->

  <!--========================== cookies area start ==========================-->
  {{ block "cookie-warning" . }}
    {{ partial "components/cookie.html" .  }}
  {{ end }}
  <!--========================== cookies area end ==========================-->

  <div class="modal-backdrop"><span class="is-show"></span></div>

  <!-- ========================  Code that all your templates share, like a header========================  -->
  {{ block "main" . }}
  {{ end }}
  <!--========================  The part of the page that begins to differ between templates ========================  -->

  <!-- ==========================testimonial area 2022 start ==========================  -->
  {{ block "testimonial" . }}
    {{ partial "components/testimonial.html" .  }}
  {{ end }}
  <!--========================== testimonial area 2022 end  ==========================-->

  <!-- ========================  call to action area start ========================  -->
  {{ block "cta-install" . }}
    {{ partial "components/cta-area.html" .  }}
  {{ end }}
  <!-- ========================  call to action area end  ======================== -->

  <!-- ========================  top to button start  ======================== -->
  <button class="go-to-top" id="goTop" aria-label="Go to top Button">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
  </button>
  <!-- top to button end -->

  <!-- ======================== footer area start ========================  -->
  {{ block "footer" . }}
    {{ partial "footer/footer.html" .  }}
  {{ end }}
  <!-- footer area end -->
  
  <!-- ======================== Script HTML ========================= -->
  {{ partial "helpers/script-bundle.html" . }}
</body>

</html>
