{{ define "header-bottom" }}
<section></section>
{{ end }}

{{ define "main" }}

<!-- about hero  area start -->
<section class="hero-area-2 bg-color-available">
  <div class="container section">
    <div class="columns">
      <div class="column is-6 is-offset-3 d-table">
        <div class="hero-area-inner-2 has-text-centered d-table-cell">
          <h1>About Us</h1>
          <p>{{ .Site.Data.products.appscode.summary }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about hero area end -->

<!-- about start -->
<section class="about-text-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="about-text-inner has-text-centered">
          <p>
            AppsCode Inc. was founded by <a href="https://www.linkedin.com/in/tamalsaha" class="ac-primary-color">Tamal Saha</a> in 2016. Before founding AppsCode, Tamal was a software engineer at Google and Amazon. He has a Master of Computer Science degree from University of Virginia. He completed his Bachelor’s degree in CSE from BUET, Dhaka, Bangladesh. He comes from Bangladesh.
          </p>
          <p>
            AppsCode has offices in both USA and Bangladesh. This allows us to provide 24 x 7 technical operational support to our users and customers. For any inquiries, please contact us <a href="/contact/" class="ac-primary-color">here</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about end -->

<!-- message start -->
<section class="ceo-message section-padding pt-0">
  <div class="container section">
    <div class="columns">
      <div class="column is-5 is-offset-1-desktop">
        <div class="ceo-message-wrapper">
          <h1>Message from CEO</h1>
          <p>
            The inventor of web browser, Marc Andreessen, once said that software is eating the world. Software developers are the craftsmen who will shape the future of human civilization. The vision of AppsCode is to make the best tools for software development available to anybody at an affordable price. We believe that human knowledge belongs to the world. So, we are building an integrated development platform that democratizes modern software development tools.
          </p>
          <div class="signature-image">
            <img src="/assets/images/appscode/signature.png" alt="" />
            <p>Tamal Saha</p>
          </div>
        </div>
      </div>
      <div class="column is-6 is-offset-1">
        <div class="ceo-image">
          <div class="dots-style"></div>
          <img src="/assets/images/appscode/appscode.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- message end -->

<!-- happy-customer start -->
<section class="our-customer-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <div class="section-title has-text-centered">
          <h2>We Have Happy Customers <br />Around the World</h2>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-10 is-offset-1 has-text-centered">
        {{ range $customer := $.Site.Data.customers }}
        <a class="single-brand-logo">
          <img
            src="{{ $customer.logo }}"
            alt="{{ $customer.name }}"
            class="img"
          />
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<!-- happy-customer end -->

<!-- cta-area start -->
<!-- <section class="ac-cta-area section-padding">
  <div class="container section">
    <div class="cta-padding">
      <div class="columns">
        <div class="column is-6">
          <div class="cta-text">
            <h2>Ready to Get Started?</h2>
            <p>Create a Free Account and refer your friend</p>
          </div>
        </div>
        <div class="column is-6 has-text-right is-mobile">
          <div class="cta-button d-table">
            <div class="cta-button-inner d-table-cell">
              <a
                href="/products/voyager/10.0.0/setup/"
                class="button ac-button ac-primary"
                >Try Now for FREE</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 --><!-- cta-area end -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>
{{ end }}
