{{ define "header-bottom" }}
<section></section>
{{ end }}

{{ define "main" }}

<!-- about breadcrumb area start -->
<section class="hero-area-2 bg-color-available">
  <div class="container section">
    <div class="columns">
      <div class="column is-6 is-offset-3 d-table">
        <div class="hero-area-inner-2 has-text-centered d-table-cell">
          <h1>{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about breadcrumb area end -->

<!-- terms of service-area start -->
<section class="section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-3">
        <div class="kd-left-sidebar appscode-style">
          <div class="kd-sidebar-menu">
            {{ $currentPage := . }}
            {{ $menu := .Params.left_menu }}
            {{ range (index .Site.Menus $menu ) }}
              <div class="item">
                <input type="checkbox" id="1-1" {{ if $currentPage.IsMenuCurrent $menu . }}checked=""{{ end }} />
                <label for="1-1"><a href="{{ .URL }}">{{ .Name }}</a></label>
              </div>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="column is-9">
        <div class="full-info appscode-style">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- terms of service-area end -->

<!-- call to action start -->
<!-- <section class="ac-cta-area section-padding pt-0">
  <div class="container section">
    <div class="cta-padding">
      <div class="columns">
        <div class="column is-6">
          <div class="cta-text">
            <h2>Ready to Get Started?</h2>
            <p>Create a Free Account and refer your friend</p>
          </div>
        </div>
        <div class="column is-6 has-text-right is-mobile">
          <div class="cta-button d-table">
            <div class="cta-button-inner d-table-cell">
              <a
                href="/products/voyager/10.0.0/setup/"
                class="button ac-button is-primary"
                >Try Now for FREE</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- call to action end -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>
{{ end }}
