{{ define "header-bottom" }}
<section></section>
{{ end }}

{{ define "main" }}

<!-- about hero  area start -->
<section class="hero-area-2">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 d-table">
        <div class="hero-area-inner-2 has-text-centered d-table-cell">
          <h1 data-aos="fade-up">Our Experts are Your Experts</h1>
          <p data-aos="fade-up" data-aos-duration="800">
            AppsCode consultants work hand-in-hand with customers. Our
            Kubernetes experts help you make informed design decisions, navigate
            cloud native technologies, develop your custom operator and
            engage in custom development projects.
            Ready to get started?
          </p>
          <div class="consulting-button mt-30" data-aos="fade-up" data-aos-duration="1000">
            <a href="/contact/" class="button ac-button ac-primary">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about hero area end -->

<!-- consulting illustration area start -->
<div class="illustration-area illustration-1 mt-30 is-hidden-touch"></div>
<!-- consulting illustration area end -->

<!-- consulting-area start -->
<!--
<section class="consulting-area section-padding consulting-bg-1">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <div class="consulting-wrapper d-table">
          <div class="consulting-inner d-table-cell">
            <h2>Consulting</h2>
            <p>
              AppsCode addresses security as a very important factor and takes
              best possible measure to ensure secured Services. AppsCode
              maintains best practises to secure users from vulnerabilities
              using security controls over data and updates security features on
              regular basis.
            </p>
          </div>
        </div>
      </div>
      <div class="column is-7">
        <div class="consulting-image">
          <img src="/assets/images/consulting-page/consulting.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- consulting-area end -->

<!-- production readiness area start -->
<!--
<section class="production-readiness-area section-padding pt-0">
  <div class="container">
    <div class="columns reverse-row-order">
      <div class="column is-7">
        <div class="consulting-image">
          <img src="/assets/images/consulting-page/review.png" alt="" />
        </div>
      </div>
      <div class="column is-5">
        <div class="consulting-wrapper d-table">
          <div class="consulting-inner d-table-cell">
            <h2>Production Readiness Review</h2>
            <p>
              A AppsCode Production Readiness Review will validate existing work
              on Kubernetes, and identify any areas of your cluster that could
              <br />
              be improved.
            </p>
            <p>
              You will receive a report with improvements laid out in a
              suggested remediation plan with recommendations prioritised based
              on criticality. By the end of the review, you will have a list of
              concrete steps on getting to a best-practice cluster
            </p>
            <p>
              In the process of delivering Production Readiness reports for
              customers, AppsCode have uncovered a wide variety of issues that
              would otherwise have proved critical to the production usage of
              Kubernetes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!-- production readiness area end -->

<!-- package-area start -->
<section class="package-area pb-80">
  <div class="container">
    <div class="columns">
      <div class="column is-full-tablet is-two-thirds-desktop is-offset-2-desktop has-text-centered">
        <!-- title start -->
        <div class="section-title" data-aos="fade-up">
          <h2>AppsCode offers different staffing models to match your needs</h2>
        </div>
        <!-- title end -->
      </div>
    </div>
    <div class="columns">
      <!-- bundle start -->
      <div class="column is-4" data-aos="fade-up">
        <div class="single-package-wrapper has-text-centered">
          <h4>Pre-packaged bundles</h4>
          <p>
            Production Readiness Review will validate existing work on
            Kubernetes, and identify any areas of improvement for your cluster
          </p>
        </div>
      </div>
      <!-- bundle end -->
      <!-- bundle start -->
      <div class="column is-4" data-aos="fade-up" data-aos-duration="800">
        <div class="single-package-wrapper has-text-centered">
          <h4>Project aligned delivery</h4>
          <p>
            Develop custom tooling for Kubernetes based on scoping
            of internal needs of an organization.
          </p>
        </div>
      </div>
      <!-- bundle end -->
      <!-- bundle start -->
      <div class="column is-4" data-aos="fade-up" data-aos-duration="1000">
        <div class="single-package-wrapper has-text-centered">
          <h4>Resident architect</h4>
          <p>
            Our engineer will work side-by-side with your Devops
            team and participate in your transition to a cloud native future.
          </p>
        </div>
      </div>
      <!-- bundle end -->
    </div>
  </div>
</section>
<!-- package-area end -->

<!-- testimonial area start -->
<section class="testimonial-area-2 mb-80">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="testimonial-wrapper">
          <div class="quote-icon" data-aos="fade-up">
            <img src="/assets/images/consulting-page/quote.png" alt="" />
          </div>
          <h1 data-aos="fade-up" data-aos-duration="800">
            "InterSystems was delighted to engage with AppsCode in the delicate, yet fundamental task of supporting durable, non-ephemeral workloads with Kubernetes. We needed the best-prepared, most-proficient database operator consulting in the industry. Given AppsCode's pedigree of database building operators, the decision was easy. No time was wasted and all objectives reached in an amazingly short period of time. I would recommend AppsCode consulting for any Kubernetes related work."
          </h1>


          <div class="testimonial-client-info is-pulled-right" data-aos="fade-up" data-aos-duration="1000">
            <div class="client-thumb">
              <img src="https://cdn.appscode.com/images/customers/persons/luca_ravazzolo.png" alt="Mario Kozjak">
            </div>
            <div class="client-info">
              <h4>Luca Ravazzolo</h4>
              <p>Product Manager at InterSystems</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial area end -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>
{{ end }}
