{{ define "header-bottom" }}
<section></section>
{{ end }}

{{ define "main" }}

<!-- about hero  area start -->
<section class="hero-area-2 bg-color-available">
  <div class="container section">
    <div class="columns">
      <div class="column is-6 d-table">
        <div class="hero-area-inner-2 has-text-left d-table-cell">
          <h1>Get In Touch</h1>
          <p>Send us a note and we will be in touch shortly.</p>
        </div>
      </div>
      <div class="column is-6">

      </div>
    </div>
  </div>
</section>
<!-- about hero area end -->

<!-- contact area start -->
<div class="contact-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-6">
        <div class="contact-us-image">
          <img src="/assets/images/contact-page/contact.webp" alt="" />
        </div>
      </div>
      <div class="column is-6">
          <div class="contact-form">
              <!-- please remove the form and add your generate form style -->
              <div class="contact-form-inner">
                <script src='https://appscode.freshsales.io/web_forms/11d8c835da11f65ddf606b8b334b389ecef0040281894ab83cbce3da7e7f0f31/form.js' crossorigin='anonymous' id='fs_11d8c835da11f65ddf606b8b334b389ecef0040281894ab83cbce3da7e7f0f31'></script>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
<!-- contact area end -->

<!-- location-area start -->
<section class="location-area section-padding">
  <div class="container section">
    <div class="columns">
      <!-- section title start -->
      <div class="column is-8 is-offset-2 has-text-centered mb-30">
        <div class="section-title">
          <h2>Our Offices</h2>
        </div>
      </div>
      <!-- section title end -->
    </div>
    <div class="columns">
      <div class="column is-5">
        <div class="country-highlight-image">
          <img src="/assets/images/contact-page/office.webp" alt="" />
        </div>
      </div>
      <div class="column is-3 is-offset-1">
        <!-- single-details start -->
        <div class="office-details">
          <h4>Corporate HQ AppsCode Inc.</h4>
          <p>
            <span>1560 164TH Ave Apt 40, <br />
            San Leandro, <br />
            CA 94578, <br />
            USA</span>
            <span>Phone: {{.Site.Params.contact_phone}}</span>
            <span>Email: {{.Site.Params.contact_email}}</span>
          </p>
        </div>
        <!-- single-details end -->
      </div>

      <div class="column is-3">
        <!-- single-details start -->
        <div class="office-details">
          <h4>Dhaka Office AppsCode Ltd..</h4>
          <p>
            <span
              >Flat A2, House 4, Rd 10, Sector 10, <br />
              Uttara, <br />
              Dhaka-1230, <br />
              Bangladesh
            </span>
            <span>Phone: +880 1720-171904</span>
            <span>Email: {{.Site.Params.contact_email}}</span>
          </p>
        </div>
        <!-- single-details end -->
      </div>
    </div>
  </div>
</section>
<!-- location-area end -->

<!-- map-area start -->
<div class="map-area">
  <div class="container section">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <div class="tabs-wrapper">
          <ul>
            <li href="usa" class="is-active">San Leandro</li>
            <li href="dhaka">Dhaka</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="map-wrapper">
    <div class="single-map is-active" id="usa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50505.904007998746!2d-122.20117042513877!3d37.70514592898574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f857f043a66dd%3A0xe5aa490ddad757b2!2sSan+Leandro%2C+CA%2C+USA!5e0!3m2!1sen!2sbd!4v1564143474689!5m2!1sen!2sbd"
        frameborder="0"
        style="border:0"
        allowfullscreen
      ></iframe>
    </div>
    <div class="single-map" id="dhaka">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3648.19049567427!2d90.38724931545359!3d23.882862789618905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c46b5bbd22f9%3A0xd6602c2d16a5f203!2sAppsCode+Ltd.!5e0!3m2!1sen!2sbd!4v1563448108452!5m2!1sen!2sbd"
        style="border:0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<!-- map-area end -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>
{{ end }}
