{{ define "header-bottom" }}
<section></section>
{{ end }}

{{ define "main" }}

<!-- about hero  area start -->
<section class="hero-area-2 breadcrumb-section bg-color-available">
  <div class="container">
    <div class="columns">
      <div class="column is-6 d-table">
        <div class="hero-area-inner-2 has-text-left d-table-cell">
          <h1>Get In Touch</h1>
          <p>Send us a note and we will be in touch shortly.</p>
        </div>
      </div>
      <div class="column is-6">

      </div>
    </div>
  </div>
</section>
<!-- about hero area end -->

<!-- contact area start -->
<div class="contact-area sp-y-80">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <div class="contact-us-image">
          <img src="/assets/images/contact-page/contact.png" alt="" />
        </div>
      </div>
      <div class="column is-6">
          <div class="contact-form">
              <!-- please remove the form and add your generate form style -->
              <div class="contact-form-inner">
                <script src='https://appscode.freshworks.com/crm/sales/web_forms/779b59dfa11f83797b7b5db7e6cc40e095c15873df17fd4b0de69f17f74c57f2/form.js' crossorigin='anonymous' id='fs_779b59dfa11f83797b7b5db7e6cc40e095c15873df17fd4b0de69f17f74c57f2'></script>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
<!-- contact area end -->

<!-- location-area start -->
<section class="location-area sp-y-80">
  <div class="container">
    <div class="columns">
      <!-- section title start -->
      <div class="column is-8 is-offset-2 has-text-centered mb-30">
        <div class="section-title">
          <h2>Our Offices</h2>
        </div>
      </div>
      <!-- section title end -->
    </div>
    <div class="columns">
      <div class="column is-5">
        <div class="country-highlight-image">
          <img src="/assets/images/contact-page/office.png" alt="" />
        </div>
      </div>
      <div class="column is-3 is-offset-1">
        <!-- single-details start -->
        <div class="office-details">
          <h4>Corporate HQ AppsCode Inc.</h4>
          <p>
            <span>3937 SPENCER ST APT 118, <br />
            Las Vegas, <br />
            NV 89119, <br />
            USA</span>
            <span>Phone: {{.Site.Params.contact_phone}}</span>
            <span>Email: {{.Site.Params.contact_email}}</span>
          </p>
        </div>
        <!-- single-details end -->
      </div>

      <div class="column is-3">
        <!-- single-details start -->
        <div class="office-details">
          <h4>Dhaka Office AppsCode Ltd.</h4>
          <p>
            <span
              >Flat A2, House 4, Rd 10, Sector 10, <br />
              Uttara, <br />
              Dhaka-1230, <br />
              Bangladesh
            </span>
            <span>Phone: +880 1720-171904</span>
            <span>Email: {{.Site.Params.contact_email}}</span>
          </p>
        </div>
        <!-- single-details end -->
      </div>
    </div>
  </div>
</section>
<!-- location-area end -->

<!-- map-area start -->
<div class="map-area">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <div class="tabs-wrapper">
          <ul>
            <li href="usa" class="is-active">Las Vegas</li>
            <li href="dhaka">Dhaka</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="map-wrapper">
    <div class="single-map is-active" id="usa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.0353352253883!2d-115.13194098472924!3d36.11699688009501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8c4fcace52e03%3A0xd25fb63b78d7d8a1!2s3937%20Spencer%20St%20%23118%2C%20Las%20Vegas%2C%20NV%2089119!5e0!3m2!1sen!2sus!4v1609470452212!5m2!1sen!2sus"
        frameborder="0"
        style="border:0"
        allowfullscreen
      ></iframe>
    </div>
    <div class="single-map" id="dhaka">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3648.19049567427!2d90.38724931545359!3d23.882862789618905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c46b5bbd22f9%3A0xd6602c2d16a5f203!2sAppsCode+Ltd.!5e0!3m2!1sen!2sbd!4v1563448108452!5m2!1sen!2sbd"
        style="border:0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<!-- map-area end -->

<!-- Event snippet for Contact Us form conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-10933819571/hyZ8CPHTkeQDELOx090o'});
</script>
{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>
{{ end }}
