{{ define "main" }}

{{ $p := index $.Site.Data.products.voyager }}

<!-- hero area for page start -->
<section class="hero-area features-plan">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <!-- hero content start -->
        <div class="hero-area-content d-table pr-115">
          <div class="hero-content-inner d-table-cell">
            <h1>
              Go Cloud Native Confidently
              with AppsCode
            </h1>
            <p>
              At AppsCode, we focus on helping you achieve the outcomes you need to make your business successful. Our
              Support plans are designed to give you the right mix of tools and access to expertise so that you can be
              successful with AppsCode products while optimizing performance, managing risk, and keeping costs under
              control.
            </p>
            <br />
            <p>
              Our support plans are product specific and you will need a separate support subscription for each product.
            </p>
          </div>
        </div>
        <!-- hero content end -->
      </div>
      <div class="column is-6">
        <div class="hero-area-img">
          <img src="/assets/images/support-page/support-img.png" alt="" class="img" loading="lazy" decoding="async"/>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area for page end -->



<!-- pricing plan start -->
<section class="features-cta-area bgc-2 section-padding-100">
  <div class="container">

    <div class="features-plan-cta-wrapper">
      <div class="cta-left fp-cta-bg">
        <h2>Support Plans</h2>
        <p>Our support plans are designed to meet your need, risk tolerance and budget constraints</p>
      </div>
      <div class="cta-right">
        <div class="single-cta community has-text-centered">
          <h3>Community</h3>
          <small>Free</small>
          <p>Recommended if you are
            experimenting or testing</p>
          <div class="bottom-content"><a href="https://appscode.com/" class="button ac-button is-secondary">See Our
              Products</a>
          </div>
        </div>
        <div class="single-cta enterprise has-text-centered">
          <h3>Enterprise</h3>
          <p>Recommended if you have
            production workloads.</p>
          <div class="bottom-content"><a href="https://appscode.com/contact/"
              class="button ac-button is-secondary">Contact
              Us</a></div>
        </div>
      </div>
    </div>


    <div class="features-plan-area mt-30">
      <div class="single-features-area">
        <!-- title start  -->
        <div class="single-features">
          <div class="features-name">Recommended For</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community"><span>Recommended if you are
                experimenting or testing</span></div>
            <div class="features-plan enterprise">
              <span>Recommended if you have
                production workloads.</span>
            </div>
          </div>
        </div>
        <!-- title end -->
        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Response Times</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">Best effort</div>
            <div class="features-plan enterprise">
              <span>General guidance:<br>&lt; 48 business hours<br><br>System impaired:<br>&lt; 24 business
                hours<br><br>Production system impaired:<br>&lt; 4 hours</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->

        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Support Coverage</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">N/A</div>
            <div class="features-plan enterprise">
              <span>24x7x365</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->

        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Emergency patches</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">X</div>
            <div class="features-plan enterprise">
              <span>Yes(as required)</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->

        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Unlimited Incidents</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">X</div>
            <div class="features-plan enterprise">
              <span>Yes</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->

        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Contacts for Ticketing</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">X</div>
            <div class="features-plan enterprise">
              <span>5</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->

        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Community Support</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">Included (Public Slack & GitHub issues)</div>
            <div class="features-plan enterprise">
              <span>Included
                (Public Slack & GitHub issues)</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->

        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Remote Hands
            (Debug via Zoom)</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">Yes
              (charged at $200/hr)</div>
            <div class="features-plan enterprise">
              <span>Yes
                (First month 2 hrs FREE,
                addt’l charged at $200/hr)</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->

        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Production Runbook</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">X</div>
            <div class="features-plan enterprise">
              <span>Yes</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->

        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Dedicated Private
            chat (via Slack)</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">X</div>
            <div class="features-plan enterprise">
              <span>Yes</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->

        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Phone support</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">X</div>
            <div class="features-plan enterprise">
              <span>Yes ☎</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->

        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Architectural Guidance</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">X</div>
            <div class="features-plan enterprise">
              <span>Consultative review and
                guidance based on your
                applications</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->

        <!-- single table row start -->
        <div class="single-features">
          <div class="features-name">Professional Services</div>
          <div class="features-plan-wrapper">
            <div class="features-plan community">Additional fees</div>
            <div class="features-plan enterprise">
              <span>Additional fees</span>
            </div>
          </div>
        </div>
        <!-- single table row end -->
      </div>
    </div>

    <!-- pricing description start -->
    <div class="columns mt-30 pricing-description-mobile">
      <div class="column">
        <div class="pricing-description">
          <ul>
            <li>
              <span>* </span>Every support comes with license for 1 production Kubernetes cluster and unlimited
              non-production clusters. If you serve user traffic from a Kubernetes cluster or run workloads that are
              used to support your users, it qualifies as a production cluster. For each additional production
              Kubernetes cluster, add 50% of the base package price. There are no limits on how many nodes you can have
              per Kubernetes cluster.
            </li>
            <li>
              <span>☎ </span>Additional conditions apply. Please contact us for further details.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- pricing description end -->
  </div>
</section>
<!-- pricing plan end -->

<!-- payment method area start -->
<section class="payment-method-area sp-y-80">
  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <div class="payment-method-innner-text pr-140">
          <h2>Payment Methods</h2>
          <p>
            Our payment processing is powerd by <a href="https://stripe.com" target="_blank" rel="noopener"
              class="ac-primary-color">Stripe</a>.
            You credit card data never touches our servers. For more information, please visit
            <a target="_blank" rel="noopener" href="https://stripe.com" class="ac-primary-color">stripe.com</a>.
          </p>
        </div>
      </div>
      <div class="column is-6 is-offset-1">
        <div class="image-wrapper d-table">
          <div class="payment-option-image d-table-cell">
            <div class="single-payment-method">
              <img src="/assets/images/payment-method/american.png" alt="" class="img" loading="lazy" decoding="async" />
            </div>
            <div class="single-payment-method">
              <img src="/assets/images/payment-method/mastercard.png" alt="" class="img" loading="lazy" decoding="async" />
            </div>
            <div class="single-payment-method">
              <img src="/assets/images/payment-method/paypal.png" alt="" class="img" loading="lazy" decoding="async" />
            </div>
            <div class="single-payment-method">
              <img src="/assets/images/payment-method/visa.png" alt="" class="img" loading="lazy" decoding="async" />
            </div>
            <div class="single-payment-method">
              <img src="/assets/images/payment-method/western-union.png" alt="" class="img" loading="lazy" decoding="async" />
            </div>
            <div class="single-payment-method">
              <img src="/assets/images/payment-method/worldpay.png" alt="" class="img" loading="lazy" decoding="async" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- payment method area end -->

<!-- faq section start  -->
<section class="features-plan-faq-area sp-y-80">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="section-title has-text-centered">
          <h2>FAQ</h2>
        </div>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-8">
        <!--use "is-marginless" class for remove margin -->
        <div class="ac-accordion-wrapper">
          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Can I upgrade or downgrade anytime?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Monthly plans are subject to a 30 day minimum term.
                Monthly plans can be upgraded anytime.
                Annual plans can be downgraded at the end of the term.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Is my payment information safe?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                Our payment processing is powerd by
                <a href="https://stripe.com" class="ac-primary-color">Stripe</a>.
                You credit card data never touches our servers. For more information,
                please visit <a target="_blank" href="https://stripe.com" class="ac-primary-color">stripe.com</a>.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>Do you have any cancellation fee?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                There is no cancellation fee. But plans are subject to minimum duration as stated above.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->

          <!-- single accordion item start  -->
          <div class="single-accordion-item closed">
            <!-- accordion heading start  -->
            <div class="accordion-heading">
              <h3>What types of payment do you accept?</h3>
              <button class="icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <!-- accordion heading end -->
            <!-- accordion body start  -->
            <div class="accordion-body">
              <p>
                We accept all popular credit/debit cards such as Visa, Mastercard, American Express,
                Discover, etc. We also accept ACH debit/credit.
              </p>
            </div>
            <!-- accordion body end -->
          </div>
          <!-- single accordion item end  -->
        </div>

      </div>
    </div>
  </div>
</section>
<!-- faq section end  -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}