{{ define "header-bottom" }}
<section></section>
{{ end }}

{{ define "main" }}
<div class="solution-page bg-gradient-1" style="background-image: url(../assets/images/gradient-bg.webp);">
    <section class="hero-area">
        <div class="container">
        <div class="columns is-centered">
            <div class="column is-5 has-text-centered">
                <h1 class="is-gradient">AppsCode solutions Speed up your cloud journey</h1>
            </div>
        </div>
        </div>
    </section>

    <section class="single-solution section-padding">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-8">
                    <div class="section-title has-text-centered-tablet mb-0">
                        <h2>Database Management on Kubernetes</h2>
                        <p class="mb-0">KubeDB simplifies Provisioning, Upgrading, Scaling, Volume Expansion, Monitor, Backup, Restore for various Databases in Kubernetes on any Public & Private Cloud</p>
                    </div>
                </div>
            </div>
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <div class="left-content">
                        <img src="https://cdn.appscode.com/images/products/kubedb/kubedb.svg" alt="kubedb">
                        <h3>Efficiently manage databases on Kubernetes</h3>
                        <p>KubeDB simplifies Provisioning, Upgrading, Scaling, Volume Expansion, Monitor, Backup, Restore for various Databases in Kubernetes on any Public & Private Cloud</p>
                        <a href="#" class="button ac-button is-primary">Try KubeDB</a>
                    </div>
                </div>

                <div class="column is-8">
                    <div class="right-content">
                        <a href="#" class="single-card">
                            <h5>Lower administrative burden</h5>
                            <p>You can simply provision your databases on Kubernetes using KubeDB. Don’t need to worry about all the knowledge of Kubernetes Concepts & setups</p>
                            <button class="ac-button is-transparent"><span>Read More</span></button>
                        </a>
                        <a href="#" class="single-card">
                            <h5>Lower administrative burden</h5>
                            <p>You can simply provision your databases on Kubernetes using KubeDB. Don’t need to worry about all the knowledge of Kubernetes Concepts & setups</p>
                            <button class="ac-button is-transparent"><span>Read More</span></button>
                        </a>                
                        <a href="#" class="single-card">
                            <h5>Lower administrative burden</h5>
                            <p>You can simply provision your databases on Kubernetes using KubeDB. Don’t need to worry about all the knowledge of Kubernetes Concepts & setups</p>
                            <button class="ac-button is-transparent"><span>Read More</span></button>
                        </a>                
                        <a href="#" class="single-card">
                            <h5>Lower administrative burden</h5>
                            <p>You can simply provision your databases on Kubernetes using KubeDB. Don’t need to worry about all the knowledge of Kubernetes Concepts & setups</p>
                            <button class="ac-button is-transparent"><span>Read More</span></button>
                        </a>                
                        <a href="#" class="single-card">
                            <h5>Lower administrative burden</h5>
                            <p>You can simply provision your databases on Kubernetes using KubeDB. Don’t need to worry about all the knowledge of Kubernetes Concepts & setups</p>
                            <button class="ac-button is-transparent"><span>Read More</span></button>
                        </a>                
                        <a href="#" class="single-card">
                            <h5>Lower administrative burden</h5>
                            <p>You can simply provision your databases on Kubernetes using KubeDB. Don’t need to worry about all the knowledge of Kubernetes Concepts & setups</p>
                            <button class="ac-button is-transparent"><span>Read More</span></button>
                        </a>                             
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>
{{ end }}
