{{ define "header-bottom" }}
<section></section>
{{ end }}

{{ define "main" }}

<!-- hero  area start -->
<section class="hero-area-2 bg-color-available">
  <div class="container section">
    <div class="columns">
      <div class="column is-6 is-offset-3 d-table">
        <div class="hero-area-inner-2 has-text-centered d-table-cell">
          <h1>Support</h1>
          <p>Need some help? We're here for you.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area end -->

<!-- CRE area start -->
<section class="cre-area pb-50 section-padding">
  <div class="container section">
    <!-- single CRE start -->
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <!-- title start -->
        <div class="section-title">
          <h2>
            AppsCode Customer Reliability Engineering <br />(CRE) has your back
          </h2>
        </div>
        <!-- title start -->
      </div>
    </div>
    <div class="columns">
      <div class="column is-4  is-offset-1">
        <div class="consulting-wrapper d-table">
          <div class="consulting-inner d-table-cell">
            <h2>
              Feel prepared for every <br />
              milestone
            </h2>
            <p>
              Receive expert guidance on readying for and executing upgrades,
              and ensure your clusters are properly maintained
            </p>
          </div>
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <div class="consulting-image">
          <img src="/assets/images/support/3.png" alt="" />
        </div>
      </div>
    </div>
    <!-- single CRE end -->
    <!-- single CRE start -->
    <div class="columns reverse-row-order">
      <div class="column is-5 is-offset-1">
        <div class="consulting-image">
          <img src="/assets/images/support/1.png" alt="" />
        </div>
      </div>
      <div class="column is-4 is-offset-1">
        <div class="consulting-wrapper d-table">
          <div class="consulting-inner d-table-cell">
            <h2>Always be ‘in the loop’</h2>
            <p>
              Never miss a beat with communications about new features, open
              source community updates and emergency issues
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- single CRE end -->
    <!-- single CRE start -->
    <div class="columns">
      <div class="column"></div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-1">
        <div class="consulting-wrapper d-table">
          <div class="consulting-inner d-table-cell">
            <h2>
              Experts have your <br />
              back
            </h2>
            <p>
              Receive expert guidance on readying for and executing upgrades,
              and ensure your clusters are properly maintained
            </p>
          </div>
        </div>
      </div>
      <div class="column is-5 is-offset-1">
        <div class="consulting-image">
          <img src="/assets/images/support/2.png" alt="" />
        </div>
      </div>
    </div>
    <!-- single CRE end -->
  </div>
</section>
<!-- CRE area end -->

<!-- testimonial area start -->
<div class="testimonial-area-2 section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column">
        <div class="testimonial-wrapper">
          <div class="quote-icon">
            <img src="/assets/images/consulting-page/quote.png" alt="" />
          </div>
          <h1>
            "The fact that we have a high degree of automation, CD pipelines and
            a resilient cluster after 2 weeks is a great achievement and a
            demonstration of the value that AppsCode provide."
          </h1>
          <div class="user-information">
            <h4>Platform Operator,</h4>
            <p>Fortune 100 Telecommunications Company</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial area end -->

<!-- package-area start -->
<div class="package-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-6 is-offset-3 has-text-centered">
        <!-- title start -->
        <div class="section-title">
          <h2>AppsCode offers different staffing models to match your needs</h2>
        </div>
        <!-- title end -->
      </div>
    </div>
    <div class="columns">
      <!-- bundle start -->
      <div class="column is-4">
        <div class="single-package-wrapper has-text-centered">
          <h4>Pre-packaged bundles</h4>
          <p>
            Production Readiness Review will validate existing work on
            Kubernetes, and identify any areas of your cluster
          </p>
        </div>
      </div>
      <!-- bundle end -->
      <!-- bundle start -->
      <div class="column is-4">
        <div class="single-package-wrapper has-text-centered">
          <h4>Project aligned delivery</h4>
          <p>
            Production Readiness Review will validate existing work on
            Kubernetes, and identify any areas of your cluster
          </p>
        </div>
      </div>
      <!-- bundle end -->
      <!-- bundle start -->
      <div class="column is-4">
        <div class="single-package-wrapper has-text-centered">
          <h4>Resident architect</h4>
          <p>
            Production Readiness Review will validate existing work on
            Kubernetes, and identify any areas of your cluster
          </p>
        </div>
      </div>
      <!-- bundle end -->
    </div>
  </div>
</div>
<!-- package-area end -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>
{{ end }}
