{{ define "header-bottom" }}
<section></section>
{{ end }}

{{ define "main" }}

<!-- hero  area start -->
<section class="hero-area-2 bg-color-available">
  <div class="container">
    <div class="flex justify-center">
      <div class="w-full md:w-1/2 d-table">
        <div class="hero-area-inner-2 text-center d-table-cell">
          <h1 data-aos="fade-up">Support</h1>
          <p data-aos="fade-up" data-aos-duration="800">Need some help? We're here for you.</p>
          <div class="consulting-button mt-30" data-aos="fade-up" data-aos-duration="1000">
            <a href="/pricing/" class="button ac-button ac-primary">Compare Support Plans</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area end -->

<!-- CRE area start -->
<section class="cre-area pb-50 section-padding">
  <div class="container">
    <!-- single CRE start -->
    <div class="flex justify-center">
      <div class="w-full md:w-2/3 text-center">
        <!-- title start -->
        <div class="section-title" data-aos="fade-up">
          <h2>
            Our support plans are designed to meet your<br />
            need, risk tolerance and budget constraints
          </h2>
        </div>
        <!-- title start -->
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-8 mb-12">
      <div class="w-full md:w-2/5">
        <div class="consulting-wrapper d-table">
          <div class="consulting-inner d-table-cell" data-aos="fade-up">
            <h2>
              Emergency patches
            </h2>
            <p>
              Our engineers will deliver emergency patches and security upgrades
              so that your clusters are properly maintained.
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-3/5">
        <div class="consulting-image" data-aos="fade-up" data-aos-duration="800">
          <img src="/assets/images/support/3.png" alt="" />
        </div>
      </div>
    </div>
    <!-- single CRE end -->
    <!-- single CRE start -->
    <div class="flex flex-col-reverse md:flex-row items-center gap-8 mb-12">
      <div class="w-full md:w-3/5">
        <div class="consulting-image" data-aos="fade-up">
          <img src="/assets/images/support/1.png" alt="" />
        </div>
      </div>
      <div class="w-full md:w-2/5">
        <div class="consulting-wrapper d-table">
          <div class="consulting-inner d-table-cell" data-aos="fade-up" data-aos-duration="800">
            <h2>Remote Hands</h2>
            <p>
              Some issues can't fixed via tickets. Our support team will
              be ready to jump in via remote desktop software so
              your systems keeps running.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- single CRE end -->
    <!-- single CRE start -->
    <div class="flex flex-col md:flex-row items-center gap-8 mb-12">
      <div class="w-full md:w-2/5">
        <div class="consulting-wrapper d-table">
          <div class="consulting-inner d-table-cell" data-aos="fade-up">
            <h2>
              Production Runbook
            </h2>
            <p>
              Receive expert guidance on readying for and executing upgrades,
              and consultative review and guidance based on your applications.
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-3/5">
        <div class="consulting-image" data-aos="fade-up" data-aos-duration="800">
          <img src="/assets/images/support/2.png" alt="" />
        </div>
      </div>
    </div>
    <!-- single CRE end -->
  </div>
</section>
<!-- CRE area end -->

<!-- testimonial area start -->
<section class="testimonial-area-2 section-padding">
  <div class="container">
    <div>
      <div>
        <div class="testimonial-wrapper">
          <div class="quote-icon" data-aos="fade-up">
            <img src="/assets/images/consulting-page/quote.png" alt="" />
          </div>
          <h1 data-aos="fade-up" data-aos-duration="800">
            "The fact that we have a Kubernetes operator for our in-house database
            after 1 week is a great achievement and a
            demonstration of the value that AppsCode provides."
          </h1>
          <div class="user-information flex items-center gap-4" data-aos="fade-up" data-aos-duration="1500">
            <figure class="w-16 h-16 rounded-full overflow-hidden flex-shrink-0">
                <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
            </figure>
            <div class="user-info-inner">
                <h4>Platform Operator,</h4>
                <p>Fortune 500 Healthcare Information Systems provider</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- testimonial area end -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>
{{ end }}
