{{ define "header-bottom" }}
<section></section>
{{ end }}

{{ define "main" }}

<!-- about hero  area start -->
<section class="hero-area-2">
  <div class="container">
    <div class="columns">
      <div class="column is-10 is-offset-1 d-table">
        <div class="hero-area-inner-2 has-text-centered d-table-cell">
          <h1 data-aos="fade-up">Training Courses</h1>
          <p data-aos="fade-up" data-aos-duration="800">
            Our on-site and remote training courses are tailored to
            specific stages of your Kubernetes adoption — whether you need to
            begin with basic learning (such as "What is a Kubernetes Pod?") or
            with advanced issues such as configuration of Kubernetes networking
            and troubleshooting your clusters.

            <br />
            <br />

            We also offer hands-on training courses for our open source projects
            so that your team can jump start on delivering value to your customers
            instead of spending weeks to learn the system.
          </p>
          <div class="hero-area-button has-text-centered" data-aos="fade-up" data-aos-duration="1000">
            <a href="/contact/" class="button ac-button is-primary mt-30 pl-40 pr-40"
              >Contact Us</a
            >
            <!-- <a href="#" class="button ac-button is-primary is-outlined mt-5"
              >Download Courses Guide</a
            > -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about hero area end -->

<!-- illustration-area start -->
<div class="training-image-area">
  <div class="container is-fluid section">
    <div class="columns">
      <div class="column is-12 has-text-centered">
        <div class="training-wrapper-image">
          <!-- image start -->
          <div class="single-training-image-wrapper" data-aos="fade-right" data-aos-duration="800">
            <img src="/assets/images/training-page/2.png" alt="" />
          </div>
          <!-- image end -->
          <!-- image start -->
          <div class="single-training-image-wrapper" data-aos="fade-up" data-aos-duration="800">
            <img src="/assets/images/training-page/5.png" alt="" />
          </div>
          <!-- image end -->
          <!-- image start -->
          <div class="single-training-image-wrapper" data-aos="fade-up" data-aos-duration="800">
            <img src="/assets/images/training-page/1.png" alt="" />
          </div>
          <!-- image end -->
          <!-- image start -->
          <div class="single-training-image-wrapper" data-aos="fade-up" data-aos-duration="800">
            <img src="/assets/images/training-page/4.png" alt="" />
          </div>
          <!-- image end -->
          <!-- image start -->
          <div class="single-training-image-wrapper" data-aos="fade-left" data-aos-duration="800">
            <img src="/assets/images/training-page/3.png" alt="" />
          </div>
          <!-- image end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- illustration-area end -->
<div class="shap-3">
  <!-- about appscode start -->
  <section class="about-training">
    <div class="container">
      <div class="columns">
        <div class="column is-full-desktop has-text-left is-one-thirds-fullhd">
          <!-- title start -->
          <div class="section-title" data-aos="fade-up">
            <h2>
              You are in good hands when it comes to training on AppsCode OSS products.
              Our training sessions are run by the engineers who develop our products.
            </h2>
          </div>
          <!-- title end -->
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <div class="ac-image" data-aos="fade-up" data-aos-duration="800">
            <img src="/assets/images/training-page/ac.png" alt="" />
          </div>
        </div>
        <div class="column is-3 is-offset-1">
          <div class="ac-text pr-20" data-aos="fade-up" data-aos-duration="1000">
            <p>
              Kubernetes workshop teaches the basic Kubernetes concepts and day-to-day interactions as a user of the system. This disucsses how to deploy and scale a cluster on your preferred cloud provider, configure DNS, and manage applications with Kubernetes (including creating and managing pods, replication controllers, services and ingress) from cli and UI.
            </p>
          </div>
        </div>
        <div class="column is-4">
          <div class="ac-text" data-aos="fade-up" data-aos-duration="1500">
            <p>
              Workshops are delivered via web-conferencing or in person (within Continental USA).
              You’ll also learn about how to manage and troubleshoot your cluster. We're open to discussing other materials to cover. Please let us know in the contact form, if you are interested.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- about appscode end -->

<!-- cta-area start -->
<div class="cta-area-2 sp-y-80">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <div class="cta-content" data-aos="fade-up">
          <h3 class="mb-20">Got more questions? Let's talk.</h3>
          <a href="/contact/" class="button ac-button is-primary pl-40 pr-40">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- cta-area end -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>
{{ end }}
