{{ define "header-bottom" }}
<section></section>
{{ end }}

{{ define "main" }}

<!-- hero  area start -->
<section class="hero-area-2 webinar-page">
  <div class="container section">
    <div class="columns">
      <div class="column is-8">
        <div class="webinar-hero-area">
          <div class="hero-area-inner-2">
            <h1>Kubarnetes Webinar 2021</h1>
            <p class="subtitle">Manage production grade databases in Kubernetes using KubeDB</p>
            <div class="webinar-wrapper is-flex is-flex-wrap-wrap">
              <!-- single webinar info start  -->
              <div class="single-webinar-info">
                <span class="icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                <strong>When : </strong>
                <p>28 Feb 2021 - 07:05:00 PM</p>
              </div>
              <!-- single webinar info end -->
              <!-- single webinar info start  -->
              <div class="single-webinar-info">
                <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                <strong>Where : </strong>
                <p>via Zoom</p>
              </div>
              <!-- single webinar info end -->
            </div>
          </div>

          <!-- count-down area start  -->
          <div class="count-down-area">
            <!-- single count start  -->
            <div class="signle-count">
              <div class="name">DAYS</div>
              <div class="unit" id="days">00</div>
            </div>
            <!-- single count end -->
            <!-- single count start  -->
            <div class="signle-count">
              <div class="name">HOURS</div>
              <div class="unit" id="hours">00</div>
            </div>
            <!-- single count end -->
            <!-- single count start  -->
            <div class="signle-count">
              <div class="name">MINUTES</div>
              <div class="unit" id="minutes">00</div>
            </div>
            <!-- single count end -->
            <!-- single count start  -->
            <div class="signle-count">
              <div class="name">SECONDS</div>
              <div class="unit" id="seconds">00</div>
            </div>
            <!-- single count end -->
          </div>
          <!-- count-down area end -->
        </div>
      </div>
      <div class="column is-4">
        <div class="registration-form-wrapper">
          <!-- form start  -->
          <div class="registration-form">
            <h3>Registration Now</h3>
            <form action="#" method="post">
              <!-- single input field start  -->
              <div class="single-input-form">
                <label for="first_name">First Name <span class="is-require">*</span></label>
                <input type="text" placeholder="Enter text" id="first_name" name="first_name" required />
                <!-- if error occured  -->
                <p class="is-error"></p>
              </div>
              <!-- single input field end -->
              <!-- single input field start  -->
              <div class="single-input-form">
                <label for="last_name">Last Name <span class="is-require">*</span></label>
                <input type="text" placeholder="Enter text" id="last_name" name="last_name" required />
                <!-- if error occured  -->
                <p class="is-error"></p>
              </div>
              <!-- single input field end -->
              <!-- single input field start  -->
              <div class="single-input-form">
                <label for="phone">Phone <span class="is-require">*</span></label>
                <input type="text" placeholder="Phone" placeholder="Enter text" id="phone" name="phone" required />
                <!-- if error occured  -->
                <p class="is-error"></p>
              </div>
              <!-- single input field end -->
              <!-- single input field start  -->
              <div class="single-input-form">
                <label for="job_title">Job title <span class="is-require">*</span></label>
                <input type="text" placeholder="+1(123)-456-7890" id="job_title" name="job_title" required />
                <!-- if error occured  -->
                <p class="is-error"></p>
              </div>
              <!-- single input field end -->
              <!-- single input field start  -->
              <div class="single-input-form">
                <label for="work_email">Work email <span class="is-require">*</span></label>
                <input type="email" placeholder="you@company.com" id="work_email" name="work_email" required />
                <!-- if error occured  -->
                <p class="is-error"></p>
              </div>
              <!-- single input field end -->
              <label class="radio-title">Do you know kubarnates?<span class="is-require ml-10">*</span></label>
              <!-- input field start -->
              <div class="ac-single-radio mb-20">
                <input class="is-checkradio ac-radio" id="yes" type="radio" name="exampleRadioInline"
                  checked="checked" />
                <label for="yes" class="mr-20">Yes, I use</label>
                <input class="is-checkradio ac-radio" id="no" type="radio" name="exampleRadioInline" />
                <label for="no">No, I’m new user</label>
              </div>
              <!-- input field end -->
              <p class="form-message">We do not published your information lorem ipsum has been the industry's standard
                dummy
                text eve</p>
              <input type="submit" class="button ac-primary mt-20" value="SEND NOW">
            </form>
          </div>
          <!-- form end -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area end -->

<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script type="text/javascript">
  function countdown(endDate) {
    let days, hours, minutes, seconds;

    endDate = new Date(endDate).getTime();

    if (isNaN(endDate)) {
      return;
    }

    setInterval(calculate, 1000);

    function calculate() {
      let startDate = new Date().getTime();

      let timeRemaining = parseInt((endDate - startDate) / 1000);

      if (timeRemaining >= 0) {
        days = parseInt(timeRemaining / 86400);
        timeRemaining = (timeRemaining % 86400);

        hours = parseInt(timeRemaining / 3600);
        timeRemaining = (timeRemaining % 3600);

        minutes = parseInt(timeRemaining / 60);
        timeRemaining = (timeRemaining % 60);

        seconds = parseInt(timeRemaining);

        document.getElementById("days").innerHTML = parseInt(days, 10);
        document.getElementById("hours").innerHTML = hours < 10 ? "0" + hours : hours;
        document.getElementById("minutes").innerHTML = minutes < 10 ? "0" + minutes : minutes;
        document.getElementById("seconds").innerHTML = seconds < 10 ? "0" + seconds : seconds;
      } else {
        document.querySelector(".hero-area-inner-2 h1").innerHTML = "No Webinar Found!";
        document.querySelector(".subtitle").style.display = "none";
        document.querySelector(".registration-form").style.display = "none";
        document.querySelector(".webinar-summary").style.display = "none";
        document.querySelectorAll(".single-webinar-info").forEach(el=>{
          el.style.display = "none";
        })
        return;
      }
    }
  }

  (function () {
    var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
    xhr.onreadystatechange = function() {
      if(xhr.readyState === 4) {
        if(xhr.status === 200) {
          var result = JSON.parse(xhr.responseText);
          document.querySelector(".hero-area-inner-2 p").innerHTML = result.title;
          document.querySelector(".webinar-summary p").innerHTML = result.summary;
          document.querySelector(".speaker-info h5").innerHTML = result.speaker;
          document.querySelector(".speaker-message").innerHTML = result.speaker_bio;
          document.querySelector(".speaker-thumbnail img").src = result.speaker_picture;

          var date = new Date(result.schedule);
          document.querySelector(".single-webinar-info p").innerHTML = dayjs(date).format('D MMM YYYY - hh:mm:ss A');

          var sheetName = "" + date.getUTCFullYear() + "-" + (date.getUTCMonth() + 1) + "-" + date.getUTCDate();
          document.querySelector(".registration-form form").action = "https://license-issuer.appscode.com/_/webinars/"+sheetName+"/register" ;

          // M/D/Y H:M:S
          // countdown('04/28/2021 07:05:00 PM');
          countdown(result.schedule);
        } else {
          location.reload();
        }
      }
    }
    console.log('GET', 'https://license-issuer.appscode.com/_/webinars/');
    xhr.open('GET', 'https://license-issuer.appscode.com/_/webinars/');
    xhr.send();
  }());
</script>
<!-- summary area start  -->
<section class="webinar-summary-area mb-60">
  <div class="container section">
    <div class="columns">
      <div class="column is-8">
        <!-- summary start  -->
        <div class="webinar-summary">
          <h3>Summary:</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic</p>

          <!-- speaker info start  -->
          <h3>Speaker: </h3>
          <div class="speaker-info-wrapper">
            <div class="speaker-thumbnail">
              <img src="https://via.placeholder.com/600/dddddd/808080" alt="speaker-thumbnail">
            </div>
            <div class="speaker-info">
              <h5>Tamal Saha</h5>
              <p class="designation">‎Founder & CEO · <a href="http://appscode.com">‎AppsCode Inc</a></p>
              <div class="speaker-message">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard</div>
            </div>
          </div>
          <!-- speaker info end -->
        </div>
        <!-- summary end -->
      </div>
      <div class="column is-4">
      </div>
    </div>
  </div>
</section>
<!-- summary area start  -->



{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>
{{ end }}