{{ define "head-footer" }}
<!-- Slim Select CSS  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css">
{{ end }}

{{ define "main" }}
<!-- hero  area start -->
<section class="hero-area-2">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <div class="webinar-hero-area mt-100 mr-60">
          <!-- webinar header start  -->
          <div class="webinar-header is-flex is-justify-content-space-between is-align-items-center mt-10">
            <div class="upcoming-message">
              <h1 class="is-gradient">Upcoming <br>Webinar</h1>
            </div>
            <!-- webinar list start  -->
            <div class="webinar-list-items is-flex">
              <!-- single date item start  -->
              <div class="webinar-item is-active">
                <p>Apr</p>
                <h2>28</h2>
                <p class="date">11:30:00 PM</p>
              </div>
              <!-- single date item end -->
              <!-- single date item start  -->
              <div class="webinar-item">
                <p>Apr</p>
                <h2>13</h2>
                <p class="date">11:30:00 PM</p>
              </div>
              <!-- single date item end -->
              <!-- single date item start  -->
              <div class="webinar-item">
                <p>Apr</p>
                <h2>05</h2>
                <p class="date">11:30:00 PM</p>
              </div>
              <!-- single date item end -->
            </div>
            <!-- webinar list end -->
          </div>
          <!-- webinar header end -->

          <!-- webinar body start  -->
          <div class="webinar-body">
            <div class="webinar-video">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/B_7qJ1Gk9QI" title="YouTube video player"
             frameborder="0"
             allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
             allowfullscreen></iframe>
            </div>
            <div class="webinar-title">
              <h1>KubeDB AutoOps - Automate Day 2 Life-cycle Management for Databases on Kubernetes.</h1>
            </div>
            <div class="date-and-location">
              <p class="date">
                <lord-icon src="https://cdn.lordicon.com/drtetngs.json" trigger="loop" colors="primary:#00a651"
                  style="width:24px;height:24px">
                </lord-icon><span>When: 13 Apr 2022 - 11:30:00 PM</span>
              </p>
              <p class="date">
                <lord-icon src="https://cdn.lordicon.com/zzcjjxew.json" trigger="loop" style="width:24px;height:24px">
                </lord-icon><span>Where : via Zoom </span>
              </p>
            </div>

            <!-- webinar summary start  -->
            <div class="webinar-summary">
              <p class="highlight">KubeDB manages the day-2 life cycle of any support databases via OpsRequest. But
                currently to generate
                an ops request, you have to identify the need for it like TLS certificates are going to expire, new
                patch/minor/major version is available etc. Moreover, you have to apply the ops request with immediate
                effect.</p>
              <p>To automate these manual processes, we are going to introduce a Recommendation generator which will
                automatically generate Ops request recommendations for you by inspecting the KubeDB resources. We are
                also developing a generic recommendation executor called Supervisor to execute the Ops request in the
                specified maintenance window in a more convenient and managed way.</p>

              <p>We will be happy to share the progress we have accomplished so far and get feedback from you.</p>

              <ul class="check-items">
                <li>
                  <lord-icon src="https://cdn.lordicon.com/hjeefwhm.json" trigger="loop" colors="primary:#00a651"
                    style="width:16px;height:16px">
                  </lord-icon><span>Introduction to Supervisor (Generic Recommendation Executor)</span>
                </li>
                <li>
                  <lord-icon src="https://cdn.lordicon.com/hjeefwhm.json" trigger="loop" colors="primary:#00a651"
                    style="width:16px;height:16px">
                  </lord-icon><span>Introduction to Recommendation Generator for KubeDB Ops request</span>
                </li>
                <li>
                  <lord-icon src="https://cdn.lordicon.com/hjeefwhm.json" trigger="loop" colors="primary:#00a651"
                    style="width:16px;height:16px">
                  </lord-icon><span>Demo</span>
                </li>
              </ul>
            </div>
            <!-- webinar summary end -->

            <!-- webinar speaker section start  -->
            <h5 class="mb-10 mt-30">Webinar Speakers</h5>
            <div class="webinar-speakers">
              <!-- single speaker start  -->
              <div class="single-speaker">
                <div class="speaker-image"><img src="https://via.placeholder.com/600/dddddd/808080" alt=""></div>
                <div class="speaker-info">
                  <h6>Pulak Kanti Bhowmick</h6>
                  <p>Software Engineers <a href="https://appscode.com">AppsCode Inc</a></p>
                </div>
              </div>
              <!-- single speaker end -->

              <!-- single speaker start  -->
              <div class="single-speaker">
                <div class="speaker-image"><img src="https://via.placeholder.com/600/dddddd/808080" alt=""></div>
                <div class="speaker-info">
                  <h6>Pulak Kanti Bhowmick</h6>
                  <p>Software Engineers <a href="https://appscode.com">AppsCode Inc</a></p>
                </div>
              </div>
              <!-- single speaker end -->

              <!-- single speaker start  -->
              <div class="single-speaker">
                <div class="speaker-image"><img src="https://via.placeholder.com/600/dddddd/808080" alt=""></div>
                <div class="speaker-info">
                  <h6>Pulak Kanti Bhowmick</h6>
                  <p>Software Engineers <a href="https://appscode.com">AppsCode Inc</a></p>
                </div>
              </div>
              <!-- single speaker end -->

            </div>
            <!-- webinar speaker section end -->
          </div>
          <!-- webinar body end -->

        </div>
      </div>
      <div class="column is-4">
        <!-- register-success/register-failed -->
        <div class="registration-form-container">
          <div class="registration-form-wrapper">
            <!-- form start  -->
            <div class="registration-form">
              <h3>Register Now</h3>
              <div class="circle-shape"><img src="/assets/images/webinar/circle-shape.png" alt=""></div>
              <!-- registration form start  -->
              <!-- https://stackoverflow.com/a/29014676 -->
              <form method="post" action="https://license-issuer.appscode.com/_/webinars/register"
                onsubmit="return registerForWebinar();">
                <!-- single input field start  -->
                <div class="single-input-form">
                  <label for="first_name">First Name <span class="is-require">*</span></label>
                  <input type="text" placeholder="Enter your first name" id="first_name" name="first_name" required />
                  <!-- if error occured  -->
                  <p class="is-error"></p>
                </div>
                <!-- single input field end -->
                <!-- single input field start  -->
                <div class="single-input-form">
                  <label for="last_name">Last Name <span class="is-require">*</span></label>
                  <input type="text" placeholder="Enter your last name" id="last_name" name="last_name" required />
                  <!-- if error occured  -->
                  <p class="is-error"></p>
                </div>
                <!-- single input field end -->
                <!-- single input field start  -->
                <div class="single-input-form">
                  <label for="work_email">Work email <span class="is-require">*</span></label>
                  <input type="email" placeholder="you@company.com" id="work_email" name="work_email" required />
                  <!-- if error occured  -->
                  <p class="is-error"></p>
                </div>
                <!-- single input field end -->
                <!-- single input field start  -->
                <div class="single-input-form">
                  <label for="phone">Phone (including country code) <span class="is-require">*</span></label>
                  <input type="text" placeholder="Enter your phone number" id="phone" name="phone" required />
                  <!-- if error occured  -->
                  <p class="is-error"></p>
                </div>
                <!-- single input field end -->
                <!-- single input field start  -->
                <div class="single-input-form">
                  <label for="job_title">Job title <span class="is-require">*</span></label>
                  <input type="text" placeholder="Enter your job title" id="job_title" name="job_title" required />
                  <!-- if error occured  -->
                  <p class="is-error"></p>
                </div>
                <!-- single input field end -->
                <!-- single input field start  -->
                <div class="single-input-form">
                  <label for="company">Company <span class="is-require">*</span></label>
                  <input type="text" placeholder="Enter company name" id="company" name="company" required />
                  <!-- if error occured  -->
                  <p class="is-error"></p>
                </div>
                <!-- single input field end -->
                <!-- single input field start  -->
                <div class="single-input-form">
                  <label for="company">Pick a Date <span class="is-require">*</span></label>
                  <select class="ac-custom-select" id="schedule" name="schedule" required>
                  </select>
                  <!-- if error occured  -->
                  <p class="is-error"></p>
                </div>
                <!-- single input field end -->
                <!-- single input field start  -->
                <div class="single-input-form is-select-box">
                  <label for="company">Where are you running or plan to run Kubernetes? <span
                      class="is-require">*</span></label>
                  <select class="ac-custom-select" id="cluster_provider" name="cluster_provider" multiple required>
                    <option>On premises</option>
                    <option>Cloud - AWS</option>
                    <option>Cloud - Google Cloud</option>
                    <option>Cloud - Azure</option>
                    <option>Other</option>
                  </select>
                  <!-- if error occured  -->
                  <p class="is-error"></p>
                </div>
                <!-- single input field end -->
                <!-- single input field start  -->
                <div class="single-input-form">
                  <label for="company">Have you tried KubeDB/Stash already? <span class="is-require">*</span></label>
                  <select class="ac-custom-select" id="experience_level" name="experience_level" required>
                    <option>Already deployed in production</option>
                    <option>Tried in laptop/test cluster</option>
                    <option>Not yet</option>
                  </select>
                  <!-- if error occured  -->
                  <p class="is-error"></p>
                </div>
                <!-- single input field end -->
                <!-- single input field start  -->
                <div class="single-input-form">
                  <label for="company">How did you hear about this webinar? <span class="is-require">*</span></label>
                  <select class="ac-custom-select" id="marketing_reach" name="marketing_reach" required>
                    <option>LinkedIn</option>
                    <option>Twitter</option>
                    <option>Mailing list</option>
                    <option>Slack</option>
                    <option>Word of mouth</option>
                    <option>Other</option>
                  </select>
                  <!-- if error occured  -->
                  <p class="is-error"></p>
                </div>
                <!-- single input field end -->
                <!-- single input field start  -->
                <div class="single-input-form">
                  <div class="g-recaptcha" data-sitekey="6Lc-FpQaAAAAANrpxobhTpD63WPBubftjEd1nTbz"
                    data-callback="enableSubmit" data-expired-callback="disableSubmit"
                    data-error-callbac="disableSubmit"></div>
                </div>
                <!-- single input field end -->
                <p class="form-message">By registering, you agree to the processing of your personal data by AppsCode as
                  described in the <a href="/legal/privacy-policy/">Privacy Statement</a>.</p>
                <input type="submit" class="button ac-primary mt-20" value="REGISTER" disabled="true">
              </form>
              <!-- registration form end -->
              <!-- Success/Fail message start  -->
              <div class="register-notification">
                <div class="reg-illustration">
                  <img class="illustration" src="/assets/images/webinar/success.png" alt="">
                </div>
                <p class="status-message"></p>
              </div>
              <!-- Success/Fail message end -->
            </div>
            <!-- form end -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero area end -->

<!-- Slim Select JS  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
<!-- initilize Slim Select  -->
<script type="text/javascript">
  if (document.querySelector('.ac-custom-select')) {
    new SlimSelect({
      select: '#schedule'
    });
    new SlimSelect({
      select: '#cluster_provider'
    });
    new SlimSelect({
      select: '#experience_level'
    });
    new SlimSelect({
      select: '#marketing_reach'
    });
  }
</script>

<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script type="text/javascript">
  function countdown(endDate) {
    let days, hours, minutes, seconds;

    endDate = new Date(endDate).getTime();

    if (isNaN(endDate)) {
      return;
    }

    setInterval(calculate, 1000);

    function calculate() {
      let startDate = new Date().getTime();

      let timeRemaining = parseInt((endDate - startDate) / 1000);

      if (timeRemaining >= 0) {
        days = parseInt(timeRemaining / 86400);
        timeRemaining = (timeRemaining % 86400);

        hours = parseInt(timeRemaining / 3600);
        timeRemaining = (timeRemaining % 3600);

        minutes = parseInt(timeRemaining / 60);
        timeRemaining = (timeRemaining % 60);

        seconds = parseInt(timeRemaining);

        document.getElementById("days").innerHTML = parseInt(days, 10);
        document.getElementById("hours").innerHTML = hours < 10 ? "0" + hours : hours;
        document.getElementById("minutes").innerHTML = minutes < 10 ? "0" + minutes : minutes;
        document.getElementById("seconds").innerHTML = seconds < 10 ? "0" + seconds : seconds;
      } else {
        document.querySelector(".hero-area-inner-2 h1").innerHTML = "No Webinar is currently scheduled!";
        document.querySelector(".subtitle").style.display = "none";
        document.querySelector(".registration-form").style.display = "none";
        document.querySelector(".webinar-summary").style.display = "none";
        document.querySelectorAll(".single-webinar-info").forEach(el => {
          el.style.display = "none";
        })
        return;
      }
    }
  }

  function enableSubmit() {
    document.querySelector(".registration-form form input[type='submit']").disabled = false;
  }

  function disableSubmit() {
    document.querySelector(".registration-form form input[type='submit']").disabled = true;
  }

  // https://stackoverflow.com/a/38931547/244009
  function urlencodeFormData(fd) {
    var params = new URLSearchParams();
    for (var pair of fd.entries()) {
      typeof pair[1] == 'string' && params.append(pair[0], pair[1]);
    }
    return params.toString();
  }

  function registerForWebinar() {
    // https://code-boxx.com/display-message-after-submitt-html-form/
    // https://gomakethings.com/how-to-serialize-form-data-with-vanilla-js/

    var form = document.querySelector(".registration-form form");

    var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        const regFormContainer = document.querySelector('.registration-form-container');
        if (xhr.status === 200) {
          regFormContainer.classList.add('register-success');
          regFormContainer.querySelector('form').remove();
          regFormContainer.querySelector('h3').textContent = "Registration Successful!";
          regFormContainer.querySelector('.illustration').src = "/assets/images/webinar/success.png";
          regFormContainer.querySelector('.status-message').innerHTML =
            "<span>Congratulations!</span> <br> <br>You have successfully completed your registration, please check your email.";
        } else {
          regFormContainer.classList.add('register-failed');
          regFormContainer.querySelector('h3').textContent = "Registration Failed!";
          regFormContainer.querySelector('form').remove();
          regFormContainer.querySelector('.illustration').src = "/assets/images/webinar/failed.png";
          regFormContainer.querySelector('.status-message').innerHTML =
            "<span>Sorry!</span> <br> <br>Something went wrong and your registration is not complete, please try again later.";
        }
      }
    }
    // console.log('POST', form.action, data);
    xhr.open('POST', form.action);

    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    xhr.send(urlencodeFormData(new FormData(form)));

    // prevent form submission
    return false;
  }

  (function () {
    var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
    xhr.onreadystatechange = function () {

      if (xhr.readyState === 4) {
        if (xhr.status === 200) {

          var result = JSON.parse(xhr.responseText);
          document.querySelector(".hero-area-inner-2 p").innerHTML = result.title;
          document.querySelector(".webinar-summary .summary-content").innerHTML = result.summary;
          document.querySelector(".speaker-info h5").innerHTML = result.speaker;
          document.querySelector(".speaker-info .designation").innerHTML = result.speaker_title;
          document.querySelector(".speaker-message").innerHTML = result.speaker_bio;
          document.querySelector(".speaker-thumbnail img").src = result.speaker_picture;

          if (result.schedules && result.schedules[0]) {
            var date = new Date(result.schedules[0]);
            document.querySelector(".single-webinar-info p").innerHTML = dayjs(date).format(
              'D MMM YYYY - hh:mm:ss A');
            var select = document.querySelector(".registration-form form #schedule");
            for (var i = 0; i < result.schedules.length; i++) {
              var opt = document.createElement('option');
              opt.value = result.schedules[i];
              opt.innerHTML = dayjs(new Date(result.schedules[i])).format('D MMM YYYY - hh:mm:ss A');
              select.appendChild(opt);
            } // M/D/Y H:M:S // countdown('04/28/2021 07:05:00 PM');
            countdown(result.schedules[0]);
          } else {
            // fast event 
            countdown(0)
          }

        } else {
          location.reload();
        }
      }
    }
    // console.log('GET', 'https://license-issuer.appscode.com/_/webinars/');
    xhr.open('GET', 'https://license-issuer.appscode.com/_/webinars/');
    xhr.send();
  }());
</script>
<!-- summary area start  -->
<section class="webinar-summary-area mb-60">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <!-- summary start  -->
        <div class="webinar-summary">
          <h3>Summary:</h3>
          <div class="summary-content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic</div>

          <!-- speaker info start  -->
          <h3>Speaker: </h3>
          <div class="speaker-info-wrapper">
            <div class="speaker-thumbnail">
              <img src="http://via.placeholder.com/600/dddddd/808080" alt="speaker-thumbnail">
            </div>
            <div class="speaker-info">
              <h5>Tamal Saha</h5>
              <p class="designation">‎Founder & CEO · <a href="http://appscode.com">‎AppsCode Inc</a></p>
              <div class="speaker-message">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard</div>
            </div>
          </div>
          <!-- speaker info end -->
        </div>
        <!-- summary end -->
      </div>
      <div class="column is-4">
      </div>
    </div>
  </div>
</section>
<!-- summary area start  -->

{{ end }}

{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>

{{ end }}