.events-page {
  padding: 80px 0 32px;
}
.single-event {
  border: 1px solid $ac-white-light;
  padding: 32px;
  border-radius: 4px;
  background-color: #F7F8F8;
  height: 100%;

  &.primary-gradient {
    color: $ac-white;
    h2 {
      color: $ac-white;
    }
    p{
      color: #E6E7E6;
    }
    .button.is-primary{
      color: $ac-primary;
      background: $ac-white !important;
    }
  }
  
  h2 {
    font-size: 24px;
    margin: 8px 0;
  }
  p{
    margin-bottom: 32px;
    color: #4B4B4B;
  }
}
.primary-gradient {
  background: rgb(42,126,83);
  background: linear-gradient(90deg, rgba(42,126,83,1) 0%, rgba(0,166,81,1) 100%);
}