// ============================ hero area start ============================ //
// message 
.news-message {
  display: inline-flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: $ac-color-text;
  background: $ac-white;
  margin-bottom: 8px;
  border: 1px solid $ac-white-light;
  padding: 8px 15px;
  border-radius: 2px;

  &:hover {
    strong {
      text-decoration: underline;
    }
  }

  strong {
    color: $ac-primary;
  }
}

.hero-area-1 {
  padding: 150px 0 60px 0px;
  @include mobile {
    padding: 170px 0 50px;
  }

  @include tablet-only {
    padding: 160px 0 50px;
  }

  @include desktop-only {
    padding: 150px 0 60px;
  }

  h1 {
    font-weight: 600;
    font-size: 68px;
    line-height: 120%;
    letter-spacing: -2.5px;
    @include mobile {
      font-size: 38px;
      letter-spacing: -0.57px;
    }
    @include until-widescreen {
      font-size: 38px;
      letter-spacing: -0.57px;
    }
    @include widescreen-only {
      font-size: 58px;
      letter-spacing: -0.57px;
    }
    img {
      transform: translateY(2px);
      @include mobile {
        height: 32px;
      }
      @include tablet-only {
        height: 32px;
      }
      @include desktop-only {
        height: 32px;
      }
    }
  }

  .buttons {
    margin-top: 30px;
    margin-bottom: 30px;
    @include until-fullhd {
      margin-bottom: 16px;
    }

    .button {
      margin-bottom: 0;
      &.ac-button {
        @include mobile {
          width: 100%;
        }
        @include until-widescreen {
          margin-bottom: 0.5rem;
          margin-right: 0.5rem !important;
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  .h-right-content {
    margin-right: -84px;
    position: relative;
    z-index: 1;
    @extend .decorative-el;
    @include until-widescreen {
      margin-right: 0;
    }
    @include widescreen-only {
      margin-right: -74px;
    }
    &::after {
      transform: scale(3) rotate(90deg);
      left: auto;
      right: 200px;
      top: 0;
      bottom: auto;
      opacity: 0.5;
      @include touch {
        transform: scale(1.5) rotate(90deg);
        left: 0;
      }
    }
  }
}

.intro-view-button {
  position: absolute;
  left: 0;
  top: 25%;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 30px rgba(44, 60, 74, 0.16);
  padding: 16px;
  border-radius: 16px;
  width: 330px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 2px 30px rgba(44, 60, 74, 0.25);
    .content {
      span {
        color: $ac-color-heading;
      }
    }
  }
  .video-icon {
    width: 48px;
    height: 48px;
    box-shadow: 0px 2px 30px rgba(44, 60, 74, 0.16);
    border-radius: 50%;
  }
  .content {
    width: calc(100% - 64px);
    p {
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}
// ============================ hero area end ============================ //

// products area start
.products-area {
  position: relative;
  @extend .decorative-el;
  .single-product {
    display: block;
    background-color: $ac-white;
    border: 1px solid $ac-white-light;
    transition: 0.3s ease-in-out;
    padding: 45px 25px;
    border-radius: 4px;
    &:hover {
      box-shadow: 1px 11px 114px rgba(0, 0, 0, 0.15);
    }
    @include mobile {
      padding: 30px 20px;
    }
    @include desktop-only {
      &:after {
        right: 0;
        width: 100%;
      }
    }
    @include widescreen-only {
      padding: 35px 20px;
    }

    .product-logo {
      height: 24px;
      margin-bottom: 20px;

      img {
        height: 100%;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: $ac-color-text;
      margin-bottom: 20px;

      strong {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: $ac-primary;
      }
    }

    .button {
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 1.25px;
      color: $ac-color-heading;

      .material-icons-outlined {
        font-size: 18px;
        margin-left: 1rem;
      }
    }
  }
}
// products area end

// ui features area start
.more-products,
.intro-kubedb-ui {
  gap: 12px;
  .single-feature {
    flex-basis: calc(50% - 6px);
    @include touch {
      flex-basis: 100%;
    }
  }
}
.single-feature {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  &.card-view {
    flex-direction: column;
    border: 1px solid $ac-white-light;
    padding: 16px;
    border-radius: 4px;
    background-color: #fbfbfe;
    &:nth-child(2) {
      background-color: #fefdfa;
    }
    &:nth-child(3) {
      background-color: #fafefc;
    }
    &:nth-child(4) {
      background-color: #fcfaff;
    }
    .icon {
      border: 1px solid transparent;
      background-color: #ffffff;
    }
    .content {
      width: 100%;
    }
  }
  &.mechanism {
    transition: 0.3s ease-in-out;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    .content {
      h5 {
        margin-bottom: 4px;
      }
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    &.is-active {
      background-color: $ac-primary;
    }
  }
  .icon {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #f0fff7;
    border: 1px solid $ac-primary;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 32px;
      width: auto;
    }
  }
  .content {
    width: calc(100% - 76px);
    h4 {
      font-size: 22px;
      margin-bottom: 4px;
      line-height: 130%;
    }
    p {
      font-size: 16px;
      color: $ac-color-text;
    }
  }
}

.single-ui-ss {
  border-radius: 8px;
  overflow: hidden;
  margin-left: 0px;
  position: relative;
  width: 100%;
  height: 0px;
  padding-top: calc(100% * (100 / 143));
  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    object-position: left;
  }
}
.ui-dashboard {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/images/products/appscode/features/ui-features.png");
    background-repeat: no-repeat;
  }
}
// ui features end

.mechanics-area {
  position: relative;
  z-index: 1;
  @extend .decorative-el;
}

// dark background
.dark-bg {
  background-color: #000a05;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #e6e7e6;
  }
  p {
    color: #d4d6d5;
  }
  .single-feature {
    &.card-view {
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: #000a05;
    }
    .icon {
      background-color: rgba(255, 255, 255, 0.1);
      border: none;
    }
    .content {
      p {
        color: #d4d6d5;
      }
      a {
        transition: 0.3s ease-in-out;
        font-weight: 500;
        &:hover {
          color: $ac-primary;
          opacity: 0.9;
        }
      }
    }
  }
  .footer-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer-inline-link,
  .subscription-form label,
  .all-contact-info li a,
  p.spam-message {
    color: #adb2b0;
    a {
      color: #adb2b0;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $ac-primary;
      }
    }
  }
}
.decorative-el-large {
  background-image: url("../images/shape/decorative-el-large-2.png");
  background-size: cover;
  background-position: center;
}

// intro kubedb ui start
.intro-kubedb-ui {
  position: relative;
  z-index: 1;

  &:after {
    background-color: rgba(253, 253, 253, 0.1);
    position: absolute;
    content: "";
    left: 30px;
    top: 0;
    height: 100%;
    width: calc(100% - 60px);
    z-index: -1;
    border-radius: 20px;
    @extend .decorative-el-large;

    @include touch {
      left: 0;
      width: 100%;
      border-radius: 0;
    }
  }
}
// intro kubedb ui end

.ui-features-area {
  position: relative;
  z-index: 1;
  @extend .decorative-el;
  &:after {
    right: 0px;
    left: auto;
    top: 60px;
  }
}
// subscription-area start
.subscription-area {
  .subscription-message {
    padding-right: 150px;
    @include touch {
      padding: 0;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $ac-color-text;
    margin-bottom: 30px;

    strong {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: $ac-primary;
    }
  }

  .subscription-input {
    position: relative;
    z-index: 1;
    max-width: 400px;

    input {
      height: 56px;
      background-color: $ac-white;
      border: 1px solid $ac-white-light;
      border-radius: 2px;
      padding: 6px 140px 6px 30px;
      font-size: 15px;
      box-shadow: 0px 4px 18px 5px rgba(0, 166, 81, 0.09);
      width: 100%;

      &::placeholder {
        color: #999999;
      }

      &:focus {
        outline: 1px solid $ac-primary;
      }
    }

    button {
      height: 44px;
      position: absolute;
      right: 6px;
      top: 6px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      margin-top: 15px;
    }
  }
}

// subscription-area end

// products features area start
.products-features {
  background: #f3f4f7;
  @include mobile {
    #nav-serialscrolling {
      top: 0;
    }
    [data-serialscrolling-target] {
      height: 100%;
    }
  }

  .features-tabs {
    position: sticky;
    margin-top: 210px;
    @extend .decorative-el;
    &:after {
      top: -250px;
      left: -120px;
    }
    @include mobile {
      margin-top: 0;
    }
    ul {
      li {
        span {
          cursor: pointer;
          padding: 10px 0;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 1.25px;
          color: #636363;
          transition: 0.3s ease-in-out;
          display: block;

          &.is-current {
            color: #000000;
            text-decoration: underline;
          }

          &:hover {
            color: $ac-primary;
          }
        }
      }
    }
  }

  .products-description-wrapper {
    .single-product {
      padding: 100px 0 100px 50px;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      overflow: hidden;

      @include mobile {
        padding: 30px 15px;
        margin-left: 0;
        margin-right: 0;
      }

      &:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #f1f1f1;
        z-index: -1;
        opacity: 0.5;

        @include mobile {
          right: 0;
          width: 100%;
        }
        @include widescreen-only{
          right: -160px;
          width: calc(100% + 160px);
        }
      }

      // background-color: hsla(256, 82, 95, 1);
      &.kubedb {
        &:after {
          background-color: #f6f6fd;
          background-image: linear-gradient(to right, #f6f6fd, white);
        }

        .product-description .features li .material-icons {
          color: $kubedb-primary;
        }

        .button.ac-button.is-primary {
          background-color: $kubedb-primary;
        }
      }

      &.stash {
        &:after {
          background-color: #e9e9fc;
          background-image: linear-gradient(to right, #e9e9fc, white);
        }

        .product-description .features li .material-icons {
          color: $stash-primary;
        }

        .button.ac-button.is-primary {
          background-color: $stash-primary;
        }
      }

      &.kubevault {
        &:after {
          background-color: #e9e9fc;
          background-image: linear-gradient(to right, #e9e9fc, white);
        }

        .product-description .features li .material-icons {
          color: $kubevault-primary;
        }

        .button.ac-button.is-primary {
          background-color: $kubevault-primary;
        }
      }

      &.prometheus {
        .product-description .features li .material-icons {
          color: $kubedb-primary;
        }
      }

      &.voyager {
        &:after {
          background-color: #cfcfe6;
          background-image: linear-gradient(to right, #cfcfe6, white);
        }

        .product-description .features li .material-icons {
          color: $voyager-primary;
        }

        .button.ac-button.is-primary {
          background-color: $voyager-primary;
        }
      }

      &.kubeform {
        &:after {
          background-color: #e9e9fc;
          background-image: linear-gradient(to right, #e9e9fc, white);
        }

        .product-description .features li .material-icons {
          color: $kubeform-primary;
        }

        .button.ac-button.is-primary {
          background-color: $kubeform-primary;
        }
      }
    }

    .illustration {
      top: 30%;
      position: sticky;
      display: flex;
      justify-content: flex-end;
      @include mobile {
        max-width: 350px;
      }
    }
  }

  .product-description {
    .brand {
      height: 30px;
      margin-bottom: 1rem;

      img {
        height: 100%;
      }
    }
    h5 {
      margin-bottom: 1rem;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #636363;
      margin-bottom: 1.5rem;

      strong {
        color: $ac-primary;
      }
    }

    .features {
      margin-bottom: 30px;

      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: $ac-color-text;
        margin-bottom: 1rem;
        display: flex;

        .material-icons {
          margin-right: 0.75rem;
          font-size: 1.2rem;
          color: $ac-primary;
        }
      }
    }
  }
}

[data-serialscrolling-target] {
  height: 100vh;
  /* your own styles here */
}

#nav-serialscrolling {
  position: sticky;
  top: 30%;
}

// products features area end

// others product start
.others-products {
  position: relative;
  @extend .decorative-el;
  &:after {
    right: 0px;
    left: auto;
    top: auto;
    bottom: 0;
    rotate: 90deg;
  }
  .small-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    color: $ac-primary;
  }
  h2 {
    @include mobile {
      font-size: 22px;
    }
  }
  p {
    font-size: 16px;
    line-height: 160%;
    color: $ac-color-text;
    margin-bottom: 30px;
  }
  .pr-60 {
    padding-right: 0 !important;
  }
  .products {
    .single-product {
      @include mobile {
        margin-top: 1rem;
        border: 1px solid $ac-white-light;
        padding: 20px 15px;
        border-radius: 4px;
      }
      img {
        width: 60px;
        height: 60px;
        margin-bottom: 16px;
        @include mobile {
          width: 50px;
          height: 50px;
          margin-bottom: 8px;
        }
      }

      h5 {
        font-size: 22px;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 160%;
        margin-bottom: 10px;
      }

      .inline-button {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.25px;
        text-decoration-line: underline;
        color: $ac-primary;
        transition: 0.3s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

// others product end

// social connect area start
.social-connect-area {
  background: rgba(243, 244, 247, 0.6);

  .connect-message {
    margin-right: 120px;
    margin-bottom: 20px;
    @include touch {
      margin-right: 0;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }

  .social-link {
    li {
      a {
        font-weight: 600;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0.5px;
        color: #1c1c1c;
        display: inline-flex;
        transition: 0.3s ease-in-out;
        padding: 10px 0;

        &:hover {
          text-decoration-line: underline;
          color: $ac-primary;
        }

        span {
          height: 20px;
          margin-right: 10px;

          img {
            height: 100%;
            filter: opacity(0.5);
          }
        }
      }
    }
  }

  .single-card {
    background-color: $ac-white;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    padding: 40px 30px;

    &:hover {
      box-shadow: 0px 10px 120px rgba(44, 60, 74, 0.38);
    }

    .card-top {
      display: flex;
      margin-bottom: 16px;
      align-items: center;

      .card-icon {
        width: 60px;
        height: 60px;
        margin-right: 24px;

        img {
          width: 100%;
        }
      }

      .count {
        width: calc(100% - 84px);

        h2 {
          font-weight: 500;
          font-size: 36px;
          color: #00a651;
          line-height: 1;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          color: #636363;
        }
      }
    }

    .card-bottom {
      p {
        font-size: 1rem;
        line-height: 160%;
        color: $ac-color-text;
        margin-bottom: 16px;
      }

      button {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.25px;
        text-decoration-line: underline;
        text-transform: uppercase;
        border: none;
        background-color: transparent;

        /* 1c1c1c */

        color: #1c1c1c;
      }
    }
  }
}

// social connect area end

// ============================home-page CSS end 2022============================

// press area start
.press-area {
  .single-press-wrapper {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
      border-radius: 4px;
      overflow: hidden;

      .press-content {
        border: 1px solid #fbfbfb;
      }
    }

    .press-image-1 {
      background-image: url(../images/press/1.png);
    }

    .press-image-2 {
      background-image: url(../images/press/2.png);
    }

    .press-image-3 {
      background-image: url(../images/press/3.png);
    }

    .press-image-4 {
      background-image: url(../images/press/4.png);
    }
  }

  .press-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    background-repeat: no-repeat;
    width: 100%;
  }

  .press-content {
    border: 1px solid $ac-white-light;
    border-top: 1px solid transparent;
    border-radius: 0 0 4px 4px;
    padding: 20px;

    .read-meta {
      font-size: 12px;
      color: lighten(#4a4a4a, 20%);
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      box-orient: vertical;
      -webkit-box-orient: vertical;

      a {
        color: $ac-color-text;
      }
    }

    p {
      color: $ac-color-text;
      font-size: 15px;
      margin-bottom: 30px;
    }

    .press-button-wrapper {
      overflow: hidden;
      position: relative;
      z-index: 1;

      &:after {
        position: absolute;
        content: "";
        top: 15px;
        width: 100%;
        height: 1px;
        background: $ac-white-light;
        left: 0;
        z-index: -1;
        transition: 0.3s ease-in-out;
      }

      .press-button {
        border: 1px solid $ac-white-light;
        font-size: 13px;
        color: lighten(#4a4a4a, 30%);
        font-weight: 600;
        padding: 5px 20px;
        border-radius: 50px;
        display: block;
        float: right;
        position: relative;
        z-index: 1;
        background: $ac-white;
        transition: 0.3s ease-in-out;

        &:hover {
          color: $ac-color-text;
          border: 1px solid $ac-color-text;
        }
      }
    }
  }
}

// press area end

.about-text-inner p {
  margin-bottom: 30px;
}

.ceo-message-wrapper h1 {
  margin-bottom: 40px;
  font-weight: 400;
}

.signature-image {
  margin-top: 40px;

  p {
    font-family: Raleway;
    font-weight: 600;
  }
}

.ceo-image {
  position: relative;
  z-index: 1;

  img {
    max-width: 300px;
    margin-top: 20px;
  }

  .dots-style {
    position: absolute;
    background: url(../images/appscode/dots.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 250px;
    right: 100px;
    bottom: -75px;
    z-index: -1;
    left: 50%;
    margin-left: -125px;
  }
}

.is-paddingless-desktop {
  padding: 0;
}

/*********************************************************************************************
Responsive Classes
***********************************************************************************************/
@media (max-width: 768.98px) {

  // .social-prove-brand-area {
  //   padding: 16px 0 0;

  //   .container {
  //     margin-top: 0 !important;
  //   }

  //   .brand-image-wrapper {
  //     padding: 0 !important;
  //   }
  // }

  // .is-paddingless-desktop {
  //   padding: 0.75rem;
  // }
}


// Medium devices (tablets, 769px and up)
@media (min-width: 769px) and (max-width: 1023.98px) {

  // .social-prove-brand-area {
  //   padding: 16px 0 0;

  //   .container {
  //     margin-top: 0 !important;
  //   }

  //   .brand-image-wrapper {
  //     padding: 0 !important;
  //   }
  // }

  // .is-paddingless-desktop {
  //   padding: 0.75rem;
  // }
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) and (max-width: 1212px) {
  

  // .subscription-area {

  //   h2 {
  //     font-size: 28px;
  //     margin-bottom: 16px;
  //   }

  //   .subscription-message {
  //     padding: 0;
  //   }
  // }

  // .social-connect-area {

  //   h2 {
  //     font-size: 28px;
  //   }

  //   .connect-message {
  //     margin-right: 0;
  //   }
  // }

  // .social-prove-brand-area {
  //   padding: 16px 0 0;

  //   .container {
  //     margin-top: 0 !important;
  //   }

  //   .brand-image-wrapper {
  //     padding: 0 !important;
  //   }
  // }
}

@media (min-width: 1216px) and (max-width: 1600px) {

  // .subscription-area {
  //   // padding: 70px 0 50px;

  //   h2 {
  //     font-size: 28px;
  //     margin-bottom: 16px;
  //   }

  //   .subscription-message {
  //     padding: 0;
  //   }
  // }

  // .social-connect-area {
  //   h2 {
  //     font-size: 28px;
  //     letter-spacing: -0.3px;
  //   }

  //   .connect-message {
  //     margin-right: 0;
  //   }

  //   .single-card {
  //     padding: 35px 20px;
  //     .card-top {
  //       .card-icon {
  //         width: 50px;
  //         height: 50px;
  //         margin-right: 1rem;
  //       }
  //       .count {
  //         h2 {
  //           font-size: 28px;
  //         }
  //         p {
  //           font-size: 13px;
  //         }
  //       }
  //     }
  //   }
  // }

  // .social-prove-brand-area {
  //   padding: 16px 0 0;

  //   .container {
  //     margin-top: -80px !important;
  //   }

  //   .brand-image-wrapper {
  //     padding: 0 !important;
  //   }
  // }
}
