.hero-area.is-services {
  padding: 100px 0 50px;
  align-items: center;
  overflow: hidden;
  display: flex;
  background-size: cover;
  background-position: center;
  margin-top: 110px;
  position: relative;
  z-index: 1;

  h1 {
    font-size: 3rem;
    line-height: 130%;
    font-weight: 700;
    letter-spacing: -0.57px;
    margin-bottom: 1rem;
    text-wrap: balance;
  }

  p {
    font-family: $ac-font-paragraph;
    font-size: 1rem;
    line-height: 160%;
    color: #636363;
    margin-bottom: 2rem;
    text-wrap: balance;
  }
}
.bg-light {
  background-color: #f9f9f9;
}
.benefits-section {
  margin-top: 50px;
}
.service-card {
  background: #ffffff;
  //   border: 1px solid #e6e6e6;
  //   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  transition: all 0.3s ease;
  height: 100%;

  // &:hover {
  //     box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  //     transform: translateY(-5px);
  // }

  .service-icon {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: hsl(148, 15%, 95%);
    color: $ac-primary;

    img {
      max-width: 30px;
      max-height: 30px;
    }
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #636363;
  }
}

.development-card {
  text-align: center;
  padding: 20px;
  // border: 1px solid #e6e6e6;
  border-radius: 8px;
  transition: all 0.3s ease;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .development-icon {
    font-size: 32px;
    color: $ac-primary;
    margin-bottom: 8px;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.cta-action-section {
  background: $ac-primary;
  padding: 60px 20px;

  h2 {
    margin-bottom: 15px;
    color: #ffffff;
  }

  p {
    font-size: 1.125rem;
    color: #ffffff;
    margin-bottom: 25px;
  }

  .button {
    font-size: 1rem;
    padding: 12px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary, 10%);
      color: #ffffff;
    }
  }
}

.card-section {
  .single-card-wrapper {
    &:first-child {
      border-right: 1px solid #e7e7e7;
    }
    &:nth-child(3),
    &:nth-child(5) {
      border-top: 1px solid #e7e7e7;
      border-right: 1px solid #e7e7e7;
    }
    &:nth-child(4),
    &:nth-child(6) {
      border-top: 1px solid #e7e7e7;
    }
    @include mobile {
      border: none !important;
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        border-top: none !important;
      }
    }
  }
  .single-feature {
    height: 100%;
    padding: 32px;
    border: none;
    background-color: #fff;
    .icon {
      background-color: hsl(148, 15%, 95%) !important;
      color: $ac-primary;
      font-size: 24px;
      border-radius: 8px !important;
    }
  }
}

.services-menu {
  .single-product {
    position: relative;
    z-index: 1;
    padding: 16px 24px;
    border-radius: 8px;
    .product-logo {
      background-color: #fff !important;
      border: 1px solid #e7e7e7;
      border-radius: 10px !important;
      img {
        height: 2rem !important;
      }
    }
    p {
      margin-bottom: 0 !important;
    }
    &:hover {
      background-color: #ebf4f0;
      h2 {
        color: $ac-primary;
      }
    }
    &::after {
      position: absolute;
      content: "";
      right: -7px;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      width: 16px;
      height: 16px;
      background: #ebf4f0;
      border-radius: 0px 4px 0 0;
      z-index: -1;
      transition: 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }
    &.is-active {
      background-color: #ebf4f0 !important;

      // .product-logo {
      //   background-color: #f4f8f6 !important;
      // }
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.offering-description-container {
  .product-info {
    .arrow-right.icon {
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease;
    }
  }
  .single-product {
    h2 {
      letter-spacing: 0;
      color: $ac-primary;
    }
    &:hover {
      h2 {
        text-decoration: underline;
      }
      .arrow-right.icon {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.engagement-models-section {
  .engagement-card-wrapper {
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    @include touch {
      flex-direction: column;
      .engagement-card {
        width: 100% !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid #e7e7e7;
        &:last-child {
          border-bottom: none !important;
        }
      }
    }
    .engagement-card {
      padding: 30px;
      border-right: 1px solid #e7e7e7;
      flex-grow: 1;
      width: min-content;
      &:last-child {
        border-right: none;
      }

      h4 {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .num-icon {
        border-radius: 8px !important;
        font-size: 30px;
        font-weight: 900;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
      }
    }
  }
}
.cloud-native-partner-section {
  .single-feature {
    height: 100%;
    align-items: center;
    text-align: center;
    padding: 70px 80px;
    border-radius: 8px;
    background-color: #fff;
    @include desktop {
      padding: 24px;
    }
    @include touch {
      padding: 16px;
    }
    .icon {
      background-color: transparent !important;
      border-radius: 8px !important;
      color: $ac-primary;
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 16px;
    }
  }
}
.section-title.has-text-centered {
  max-width: 80%;
  margin: 0 auto;
  @include touch {
    max-width: 100%;
  }
}
.product-development-process-section {
  .steps-wrapper {
    display: grid;
    grid-template-columns: 5fr 7fr;
    gap: 16px;
    @include touch {
      grid-template-columns: 1fr;
    }
  }

  .tab-items {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .tab-item {
      cursor: pointer;
      padding: 8px 12px;
      border-radius: 8px;
      transition: all 0.3s ease;
      text-align: center;
      border: 1px solid #e7e7e7;
      background: #ffffff;
      // box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
      height: 100%;
      display: flex;
      align-items: center;

      &:hover {
        h4 {
        }
      }
      &.is-active {
        background-color: $ac-primary;
        border: none;
        color: #ffffff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        cursor: default;
        .date {
          strong {
            color: $ac-primary;
          }
        }
        .tab-icon {
          color: #ffffff;
        }
        h4 {
          color: #ffffff;
        }
      }
      .date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 16px;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background-color: hsl(148, 15%, 95%);
        color: $ac-primary;
        font-size: 18px;
        font-weight: 700;
        padding: 8px;
        strong {
          font-size: 1.25rem;
          font-weight: 600;
          display: block;
          line-height: 1;
          color: hsl(148, 15%, 75%);
        }
        span {
          font-size: 0.875rem;
          color: #636363;
        }
      }
      h4 {
        font-size: 18px;
      }
    }
  }

  .tab-content {
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    background: #ffffff;
    // box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    height: 100%;
    display: none;
    animation: fadeIn 0.3s ease-in-out;
    &.is-active {
      display: block;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      color: #636363;
    }

    img {
      max-width: 100%;
      height: auto;
      width: 100%;
      max-height: 200px;
    }
  }
}
.features-area {
  h3 {
    margin-bottom: 1rem;
    font-weight: 700;
  }
  p {
    margin-bottom: 16px;
  }
}

.logo-presentation {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  .single-logo {
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    padding: 20px;
    background: #ffffff;
    // box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
    gap: 8px;

    img {
      width: auto;
      height: 60px;
      object-fit: contain;
    }
  }
}

.resource-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  transition: all 0.3s ease;
  height: 100%;
  display: block;
  border: 1px solid #e7e7e7;
  &:hover {
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);

    h4 {
      color: $ac-primary;
    }
  }

  .tag {
    display: inline-block;
    background-color: hsl(148, 15%, 95%);
    color: $ac-primary;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 5px;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #636363;
  }
}

.working-scenarios-section {
  .single-feature {
    .icon {
      width: 36px;
      height: 36px;
      background-color: transparent !important;
      padding: 0;
    }
  }
}
.service-wrapper {
  .service-content {
    h3 {
      margin-bottom: 1rem;
      font-weight: 700;
    }
    p {
      margin-bottom: 16px;
    }
    ul {
      li {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        margin-bottom: 16px;
        .icon {
          margin-top: 3px;
        }
      }
    }
  }
}
.hero-illustration {
  img {
    max-height: 450px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
