<footer class="footer-area dark-bg">
  <div class="footer-top">
    <div class="container">
      <div class="columns is-mobile is-multiline is-variable is-1-mobile">
        <div class="column is-full-mobile is-one-third-desktop is-one-third-widescreen is-one-third-tablet mb-15"
          data-aos="fade-up">
          <div class="single-footer-widget">
            <!-- logo start -->
            <div class="footer-logo">
              <a href="{{.Site.Params.domain_appscode}}"><img src="{{$.Site.Data.products.appscode.logoWhite.src}}"
                  alt="{{$.Site.Data.products.appscode.logo.alt}}" class="img" /></a>
            </div>
            <!-- logo end -->

            <!-- subscription form start -->
            <div class="subscription-form">
              <form method="post" action="https://listmonk.appscode.com/subscription/form"
                id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="navbar-form" target="_blank"
                novalidate role="email" role="email">
                <label for="email">Subscribe to Our Newsletter</label>
                <p class="spam-message">No spam, we promise. Your mail address is secure</p>
                <div class="field has-addons">
                  <div class="control">
                    <!-- AppsCode Monthly Newsletter -->
                    <input type="hidden" id="afbbc" name="l" value="d6a7b3b4-15ec-419e-beaf-a503d0bc1b41" />
                    <input class="input" name="email" id="mce-EMAIL" type="email"
                      placeholder="Your work email address" required />
                    <button id="mc-embedded-subscribe" type="submit" name="subscribe" class="button">
                      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- subscription form end -->

            <!-- contact information start -->
            <div class="contact-information">
              <h4>Have any Inquiry?</h4>
              <ul class="all-contact-info">
                <li>
                  <a href="callto:{{.Site.Params.contact_phone}}"><span><i class="fa fa-phone"
                        aria-hidden="true"></i></span>{{.Site.Params.contact_phone}}</a>
                </li>

                <li>
                  <a href="mailto:{{.Site.Params.contact_email}}"><span><i class="fa fa-envelope-o"
                        aria-hidden="true"></i></span>{{.Site.Params.contact_email}}</a>
                </li>
              </ul>
            </div>
            <!-- contact information end -->
          </div>
        </div>

        <div class="column is-half-mobile" data-aos="fade-up" data-aos-duration="500">
          <div class="single-footer-widget">
            <!-- footer menu start -->
            <div class="footer-menu is-info">
              <h4>Products</h4>
              <ul class="footer-link">
                {{ range $item := $.Site.Data.config.footerLinks }}
                {{ $p := (index $.Site.Data.products $item) }}
                <li><a href="{{index $.Site.Params $p.website.domainKey}}{{$p.website.path}}" class="is-flex is-gap-4">
                  <span>{{$p.name}}</span>
                  <span class="is-flex width-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                    </svg>
                  </span>
                </a></li>
                {{ end }}
              </ul>
            </div>
            <!-- footer menu end -->
          </div>
        </div>

        <div class="column is-half-mobile" data-aos="fade-up" data-aos-duration="600">
          <div class="single-footer-widget">
            <!-- footer menu start -->
            <div class="footer-menu is-success">
              <h4>Services</h4>
              <ul class="footer-link">
                <!-- <li><a href="{{.Site.Params.domain_appscode}}/pricing/">Pricing</a></li> -->
                <li>
                  <a href="{{.Site.Params.domain_appscode}}/consulting/" class="is-flex is-gap-4">
                  <span>Consulting</span>
                  <span class="is-flex width-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                  </span>
                  </a>
                </li>
                <li><a href="{{.Site.Params.domain_appscode}}/training/" class="is-flex is-gap-4">
                  <span>Training</span>
                  <span class="is-flex width-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                  </span>
                </a></li>
                <li><a href="{{.Site.Params.domain_appscode}}/support/" class="is-flex is-gap-4">
                  <span>Support</span>
                  <span class="is-flex width-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                  </span>
                </a></li>
              </ul>
            </div>
            <!-- footer menu end -->
          </div>
        </div>

        <div class="column is-half-mobile" data-aos="fade-up" data-aos-duration="700">
          <div class="single-footer-widget">
            <!-- footer menu start -->
            <div class="footer-menu is-warning">
              <h4>Company</h4>
              <ul class="footer-link">
                <li><a href="{{.Site.Params.domain_appscode}}/about/" class="is-flex is-gap-4">
                 <span> About Us</span>
                  <span class="is-flex width-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                  </span>
                </a></li>
                <li><a href="{{.Site.Params.blog_url}}" class="is-flex is-gap-4">
                  <span>Blog</span>
                  <span class="is-flex width-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                  </span>
                </a></li>
                <li><a href="{{.Site.Params.domain_appscode}}/contact/" class="is-flex is-gap-4">
                  <span>Contact Us</span>
                  <span class="is-flex width-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                  </span>
                </a></li>
              </ul>
            </div>
            <!-- footer menu end -->
          </div>
        </div>

        <div class="column is-half-mobile" data-aos="fade-up" data-aos-duration="800">
          <div class="single-footer-widget">
            <!-- footer menu start -->
            <div class="footer-menu is-danger">
              <h4>Legal</h4>
              <ul class="footer-link">
                <li>
                  <a href="{{.Site.Params.domain_appscode}}/legal/tos/" class="is-flex is-gap-4">
                  <span>Terms of Service</span>
                  <span class="is-flex width-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                    
                  </span>
                </a>
               </li>

               <li>
                <a href="{{.Site.Params.domain_appscode}}/legal/privacy-policy/" class="is-flex is-gap-4">
                <span>Privacy Policy</span>
                <span class="is-flex width-12">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                  </svg>
                  
                </span>
                </a>
               </li>
                <li>
                  <a href="{{.Site.Params.domain_appscode}}/legal/security/" class="is-flex is-gap-4">
                    <span>Security</span>
                    <span class="is-flex width-12">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                      </svg>
                      
                    </span>
                  </a>
                </li>
                <li>
                  <a href="{{.Site.Params.domain_appscode}}/legal/sla/" class="is-flex is-gap-4">
                  <span>Service Level Agreement</span>
                  <span class="is-flex width-12">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg>
                    
                  </span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- footer menu end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom dark-bg">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4 has-text-centered-mobile  has-text-left-tablet is-paddingless">
          <p>© {{ now.Format "2006" }} AppsCode Inc. All rights reserved.</p>
        </div>
        <div class="column is-4 is-mobile has-text-centered-touch has-text-centered-desktop is-paddingless">
          <div class="footer-inline-link">
            <a href="{{.Site.Params.domain_appscode}}/legal/privacy-policy/">Privacy Policy</a>
            <a href="{{.Site.Params.domain_appscode}}/legal/tos/">Terms of Service</a>
          </div>
        </div>
        <div class="column is-4 has-text-centered-mobile  has-text-right-tablet is-paddingless">
          <div class="socail-link-inline">
            <ul>
              <li>
                <a href="{{.Site.Params.twitter_url}}">
                  <i class="fa" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" height="12" width="12" viewBox="0 0 512 512"><path fill="currentColor" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>
                  </i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/appscode"><i class="fa fa-linkedin"
                    aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="{{.Site.Params.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="{{.Site.Params.youtube_url}}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>