<!-- Compressed and Minified Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" defer></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/headroom/0.12.0/headroom.min.js" defer></script> -->
<!-- <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js" defer></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" defer></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.js" defer></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.7/download.min.js" defer></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js" defer></script> -->

<!-- Load Critical Scripts Asynchronously -->
<script src="https://tag.clearbitscripts.com/v1/pk_81079761ad5191fbdb09e9f13ff41927/tags.js" async defer></script>
<script src="https://cdn.pagesense.io/js/appscodeinc/30ddadb503fc4a72b3eede8ce8b08997.js" async defer></script>

<!-- Load from local Script -->
<script src="/assets/js/jquery.serialscrolling.min.js" defer></script>
<script src="/assets/js/main.js" defer></script>

<!-- {{ with $style := resources.Get "assets/js/main.js" | resources.Fingerprint }}
<script src="{{ $style.RelPermalink }}"></script>
{{ end }} -->

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9255943.js"></script>
<!-- End of HubSpot Embed Code -->

<!-- Start of Tawk.to Script-->

<script type="text/javascript" async defer>
  // var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  //   (function(){
  //     var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  //     s1.async=true;
  //     s1.src='https://embed.tawk.to/5821e34b18d9f16af02864b7/default';
  //     s1.charset='UTF-8';
  //     s1.setAttribute('crossorigin','*');
  //     s0.parentNode.insertBefore(s1,s0);
  //   })();
</script>
<!--End of Tawk.to Script -->
