<script src="https://cdn.pagesense.io/js/appscodeinc/30ddadb503fc4a72b3eede8ce8b08997.js"></script>
<script src="https://tag.clearbitscripts.com/v1/pk_81079761ad5191fbdb09e9f13ff41927/tags.js"></script>
<!-- recaptcha -->
 <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
 <!-- integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous" -->
 <script src="/assets/js/jquery-3.6.0.min.js"></script>
 <script src="/assets/js/owl.carousel.min.js"></script>
 <script src="/assets/js/headroom.min.js"></script>
 <!-- https://www.jqueryscript.net/menu/one-page-scroll-nav-serial.html -->
 <script src="/assets/js/jquery.serialscrolling.min.js"></script>

 <!-- lordicon js  -->
 <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
 <!-- Magnific-popup JS  -->
 <script src="/assets/js/magnific-popup.min.js"></script>
 <!-- AOS JS -->
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <!-- download js  -->
 <script src="https://unpkg.com/downloadjs@1.4.7/download.min.js"></script>
 <!-- clipboard js  -->
 <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
 <!-- highlight js  -->
 <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script> -->


 <!-- <script src="/assets/js/main.js"></script>
   {{ with $style := resources.Get "assets/js/main.js" | resources.Fingerprint }}
   <script src="{{ $style.RelPermalink }}"></script>
   {{ end }} -->
 <script src="/assets/js/main.js"></script>

 <!-- Start of HubSpot Embed Code -->
 <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9255943.js"></script>
 <!-- End of HubSpot Embed Code -->

 <!--Start of Tawk.to Script-->
 <script type="text/javascript">
   var Tawk_API = Tawk_API || {},
     Tawk_LoadStart = new Date();
   (function () {
     var s1 = document.createElement("script"),
       s0 = document.getElementsByTagName("script")[0];
     s1.async = true;
     s1.src = 'https://embed.tawk.to/5821e34b18d9f16af02864b7/default';
     s1.charset = 'UTF-8';
     s1.setAttribute('crossorigin', '*');
     s0.parentNode.insertBefore(s1, s0);
   })();
 </script>
 <!--End of Tawk.to Script-->