.cookie-wrapper {
  border-top: 1px solid $ac-white-light;
  position: fixed;
  width: 100%;
  background-color: #fafafd;
  bottom: 0;
  left: 0;
  padding: 8px 0;
  z-index: 99;
  transition: 0.3s ease-in-out;
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  .cookie-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 14px;
      color: $ac-color-heading;
      width: calc(100% - 220px);
      margin-bottom: 0;

      a {
        color: hsla(149, 90%, 20%,1);
        text-decoration: underline;
        font-weight: 500;
        &:hover{
          color: $ac-primary;
        }
      }
    }

    .buttons {
      .button {
        border: none;
        background-color: transparent;
        font-weight: 500;
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 2px;
        transition: 0.3s;
        &:hover:not(.is-primary) {
          text-decoration: underline;
          color: $ac-primary;
        }
        &.is-primary {
          background-color: $ac-primary;
        }
      }
    }
  }
}

/****************************************
Responsive Classes
*****************************************/
// Extra small devices (portrait phones, less than 576px)
@include mobile {
  .cookie-wrapper {
    .cookie-content {
      justify-content: center;
      flex-direction: column;

      p {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
}
