.trusted-logo {
  .trusted-action {
    background: #e0f2e9;
    padding: 6px 30px;
    border-radius: 4px;
    font-size: 16px;
    display: inline-block;
    margin: 0 auto;
    a {
      color: $ac-primary;
    }
  }
  .trusted-company {
    a {
    color: $ac-primary;
  }
  p {
    font-weight: 500;
  }
  }
}