{{/* Load JSON from .Page.Params.data */}}
{{ $data := dict }}
{{ if .Page.Params.data }}
{{ $data = getJSON .Page.Params.data }}
{{ end }}

{{ with $data.final_cta }}
<!-- Final CTA Section -->
<section class="section-padding cta-action-section">
    <div class="container has-text-centered">
        <div class="section-title has-text-centered">
            <h2>{{ $data.final_cta.title }}</h2>
            <p>
                {{ $data.final_cta.subtitle }}
            </p>
        </div>
        <!-- Calendly inline widget begin -->
                <!-- <div class="calendly-inline-widget" data-url="https://calendly.com/mohin-appscode/30min?primary_color=000000" style="min-width:320px;height:700px;"></div>
                <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script> -->
                <!-- Calendly inline widget end -->
                 <!-- Cal inline embed code begins -->
                    <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline-30min"></div>
                    <script type="text/javascript">
                    (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
                    Cal("init", "30min", {origin:"https://app.cal.com"});

                    Cal.ns["30min"]("inline", {
                        elementOrSelector:"#my-cal-inline-30min",
                        config: {"layout":"month_view"},
                        calLink: "mohin7/30min",
                    });

                    Cal.ns["30min"]("ui", {"cssVarsPerTheme":{"light":{"cal-brand":"#00a651"}},"hideEventTypeDetails":false,"layout":"month_view"});
                    </script>
                    <!-- Cal inline embed code ends -->
        <!-- <div class="buttons is-centered">
            {{ range $data.final_cta.buttons }}
            <a href="{{ .url }}"
                class="button ac-button {{ if .primary }}is-primary{{ end }} {{ if .outlined }}is-outlined{{ end }}">
                <span class="icon">
                    <i class="{{ .icon }}"></i>
                </span>
                <span>{{ .text }}</span>
            </a>
            {{ end }}
        </div> -->
    </div>
</section>
{{ end }}
