{{ $jsonPath := .Get "data" | default .Page.Params.data }}
{{ $data := getJSON $jsonPath | default dict }}

{{ with $data.hero }}
<!-- Hero Section -->
<section class="hero-area is-services">
    <div class="container">
        <div class="flex flex-col md:flex-row items-center gap-8">
            <div class="w-full md:w-1/2">
                <h1 class="is-gradient">{{ $data.hero.title }}</h1>
                <p>
                    {{ $data.hero.subtitle | safeHTML}}
                </p>
                <a href="{{ $data.hero.cta_url }}" class="button ac-button is-primary ">{{ $data.hero.cta_text }}</a>
            </div>
            <div class="w-full md:w-1/2">
                <div class="hero-illustration text-right">
                    <img src="{{ $data.hero.illustration.src }}" alt="{{ $data.hero.illustration.alt }}" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->
{{ end }}
