{{/* Load JSON from .Page.Params.data */}}
{{ $data := dict }}
{{ if .Page.Params.data }}
  {{ $data = getJSON .Page.Params.data }}
{{ end }}

{{ with $data.title_with_small_cards }}
<section class="section-padding bg-light">
  <div class="container">
    <div class="section-title has-text-centered mb-6">
      <h2>{{ .title }}</h2>
      <p>{{ .subtitle }}</p>
    </div>

    <div class="columns is-centered is-multiline">
      {{ range .areas }}
      <div class="column is-3">
        <div class="development-card">
          <div class="development-icon">
              {{ if or .icon .logo }}
                {{ if .icon }}
                  <i class="{{ .icon }}"></i>
                {{ else if .logo }}
                  <img src="{{ .logo }}" alt="{{ .title }} Logo">
                {{ end }}
              {{ end }}
          </div>
          <h4 class="title is-5">{{ .title }}</h4>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
