{{ define "header-bottom" }}
<section></section>
{{ end }}

{{ define "main" }}
<!-- hero-area start -->
<section class="hero-area is-full-height">
  <div class="hero-shape"></div>
  <div class="container section">

    <!-- hero-area main start -->
    <div class="columns">
        <div class="column is-6">
          <div class="hero-area-content d-table">
            <div class="hero-content-inner typing d-table-cell">
              <h1>
                Our Mission is to<br />
                Accelerate the transition to<br />
                Containers by building a<br />
                <b>Kubernetes-native Cloud</b>
              </h1>
              <div class="hero-area-button buttons">
                <a href="{{ $.Site.Params.domain_appscode }}/contact/" class="button ac-button ac-primary"
                  >Contact Us</a
                >
                <a href="{{ $.Site.Params.github_url }}" class="button ac-transparent-btn"
                  >View on Github</a
                >
              </div>
              <div class="play-buttons">
                <a href="#" id="playme" onclick="revealVideo('video','youtube')"
                  ><span class="video-icon"
                    ><i class="fa fa-play" aria-hidden="true"></i
                  ></span>
                  Watch the reel</a
                >
              </div>

            </div>
          </div>
        </div>
        <div class="column is-6 is-hidden-mobile">
          <div class="hero-right-content-wrapper">
            <div class="right-side-content-inner">
              <img src="{{ .Site.Data.products.appscode.heroImage.src }}" alt="" />
            </div>
          </div>
        </div>
      </div>
    <!-- hero-area main end -->

    <!-- trusted logo area start -->
    <div class="columns trusted-logo is-multiline">
      <div class="column has-text-centered">
        <div class="trusted-action">
          <p>
            Stash <a href="https://appscode.com/products/stash/v0.9.0-rc.2/welcome/" target="_blank" rel="noopener">v0.9.0-rc.2</a> is out!

            <!-- Visit our booth BN3 at the <a href="https://techcrunch.com/events/disrupt-sf-2019/" target="_blank" rel="noopener"> TechCrunch Disrupt SF 2019</a> Startup Alley on Oct 4, 2019! -->
          </p>
        </div>
      </div>

      <div class="column is-10 is-offset-1 has-text-centered">
        <div class="trusted-company mt-10">
          <p>Companies that <strong>trust</strong> AppsCode</p>
          <!-- brand logo start -->
          <div class="brand-logo-wrapper mt-10">
            {{ range $customer := $.Site.Data.customers }}
              {{ if $customer.show }}
                <a class="single-brand-logo">
                  <img
                    src="{{ $customer.logo }}"
                    alt="{{ $customer.name }}"
                    class="img"
                  />
                </a>
              {{ end }}
            {{ end }}
          </div>
          <!-- brand logo end -->
        </div>
      </div>
    </div>
    <!-- trusted logo area end -->
  </div>
</section>
<!-- hero-area end -->

<!-- shape start -->
<div class="shap-3">
  <!-- service area start -->
  <section class="section-padding pt-100">
    <div class="container section">
      <div class="columns">
        <div class="column is-6">
          <div class="service-image is-box-shadow">
            <video width="100%" muted autoplay loop playsinline>
                <source src="/assets/images/products/appscode/features/dashboard.webm" type="video/mp4">
            </video>
          </div>
        </div>
        <div class="column is-6">
          <div class="service-content-wrapper d-table">
            <div class="service-content pl-30 d-table-cell">
              <!-- <h5>What Is AppsCode?</h5> -->
              <h2>
                Cloud reimagined <br />for the age of Kubernetes
              </h2>
              <p>
                Deploy, manage, upgrade Kubernetes on any cloud and automate deployment,
                scaling, and management of containerized applications. Make Kubernetes
                accessible any member of your development team using
                <a href="{{ .Site.Params.domain_bytebuilders }}">ByteBuilder's</a>
                innovative Kubernetes Dashboard.
              </p>
              <div class="mt-40">
                <a href="{{ .Site.Params.domain_bytebuilders }}" class="button ac-button ac-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns pt-100 is-mobile-device">
        <div class="column is-6">
          <div class="service-content-wrapper d-table">
            <div class="service-content d-table-cell">
              <!-- <h5>What Is AppsCode?</h5> -->
              <h2>
                Global Cloud Infrastructure <br />
                at Your Fingertip
              </h2>
              <p>
                Provision self-managed multi-node Kubernetes clusters
                in minutes just with a few clicks. Easily take advantage of the
                global infrastructure footprint of the cloud providers, like AWS, Azure, Google Cloud, DigitalOcean, Linode and others.
              </p>
              <div class="mt-40">
                <a href="{{ .Site.Params.domain_pharmer }}/docs/latest/welcome/" class="button ac-button ac-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="service-image">
            <img
              src="/assets/images/appscode/products.webp"
              alt="dashboard-image"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- service area end -->
</div>
<!-- shape end -->

<!-- countdown-top-title start -->
<section class="section-padding count-link-area">
  <div class="container section">
    <!-- section title start -->
    <div class="columns">
      <div class="column is-8 has-text-left">
        <div class="section-title mb-0">
          <h2>
            More than 5,000 developers use AppsCode products every month to deliver value
          </h2>
          <p>
            Turbocharge your Kubernetes journey with AppsCode's open source Kubernetes operators <br />
            and developer tools, like, KubeDB, Voyager, Stash, KubeVault, Pharmer and others. <br />
            Join our vibrant community of users and let's get stuff done!
          </p>
        </div>
      </div>
      <!-- right sidebar area start -->
      <div class="column is-3 is-offset-1">
        <div class="right-sidebar-wrapper">
          <div class="right-sidebar-menu">
            <ul>
              <li><a href="{{.Site.Params.slack_url}}">Join our slack!</a></li>
              <li><a href="{{.Site.Params.github_url}}">Visit our Github page</a></li>
              <li><a href="{{.Site.Params.domain_appscode}}">Read the docs</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- right sidebar area end -->
    </div>
    <!-- section title end -->
  </div>
</section>
<!-- countdown-top-title end -->

<!-- countdown start -->
<section class="counter-area pb-100">
  <div class="container section">
    <!-- counter start -->
    <div class="columns is-gapless is-multiline">

      <!-- single count start -->
      <div class="column is-one-quarter-widescreen is-one-quarter-fullhd is-half-tablet is-full-mobile">
        <div class="single-count-wrapper">
          <div class="count-icon">
            <img src="/assets/images/icon/count/Octocat.png" alt="" />
          </div>
          <p class="count">4,500+</p>
          <p class="name">GitHub stars</p>
          <a href="{{.Site.Params.github_url}}" class="action-btn">Visit GitHub</a>
        </div>
      </div>
      <!-- single count end -->

      <!-- single count start -->
      <div class="column is-one-quarter-widescreen is-one-quarter-fullhd is-half-tablet is-full-mobile">
        <div class="single-count-wrapper">
          <div class="count-icon">
            <img src="/assets/images/icon/count/trained.png" alt="" />
          </div>
          <p class="count">1,400+</p>
          <p class="name">Developer Community</p>
          <a href="{{.Site.Params.slack_url}}" class="action-btn">Join slack</a>
        </div>
      </div>
      <!-- single count end -->

      <!-- single count start -->
      <div class="column is-one-quarter-widescreen is-one-quarter-fullhd is-half-tablet is-full-mobile">
        <div class="single-count-wrapper">
          <div class="count-icon">
            <img src="/assets/images/icon/count/managed.png" alt="" />
          </div>
          <p class="count">3M+</p>
          <p class="name">Docker downloads</p>
          <a href="{{.Site.Params.domain_appscode}}/meet-expert/" class="action-btn">Request a demo</a>
        </div>
      </div>
      <!-- single count end -->

      <!-- single count start -->
      <div class="column is-one-quarter-widescreen is-one-quarter-fullhd is-half-tablet is-full-mobile">
        <div class="single-count-wrapper">
          <div class="count-icon">
            <img src="/assets/images/icon/count/enterprise.png" alt="" />
          </div>
          <p class="count">30,000+</p>
          <p class="name">Operators deployed</p>
          <a href="{{.Site.Params.domain_appscode}}/pricing/" class="action-btn">Get support</a>
        </div>
      </div>
      <!-- single count end -->

    </div>
    <!-- counter end -->
  </div>
</section>
<!-- countdown end -->

<!-- service area start -->
<section class="section-padding service-area">
  <div class="container section">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <!-- section title start -->
        <div class="section-title is-main-title">
          <h4>What we Do?</h4>
          <h2>Our Services</h2>
          <p>
            Need some help? We're <a href="#">here</a> for you.
          </p>
        </div>
        <!-- section title end -->
      </div>
    </div>

    <div class="columns is-multiline">
      <!-- solution start -->
      <div class="column is-one-quarter-widescreen is-one-quarter-fullhd is-half-tablet is-full-mobile">
        <div class="single-solution-wrapper color-1">
          <div class="solution-icon">
            <img src="/assets/images/icon/leave-2.png" alt="" />
          </div>
          <h4><a href="{{ .Site.Params.github_url }}">Open Source</a></h4>
          <p>
            Turbocharge your Kubernetes journey with AppsCode's open source Kubernetes operators
          </p>
          <a href="{{ .Site.Params.github_url }}" class="inline-button"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <!-- solution end -->
      <!-- solution start -->
      <div class="column is-one-quarter-widescreen is-one-quarter-fullhd is-half-tablet is-full-mobile">
        <div class="single-solution-wrapper color-3">
          <div class="solution-icon">
            <img src="/assets/images/icon/consulting.webp" alt="" />
          </div>
          <h4><a href="{{ .Site.Params.domain_appscode }}/consulting/">Consulting</a></h4>
          <p>
            Expedite your Kubernetes transition with the help of our kick-ass Kubernetes developers
          </p>
          <a href="{{ .Site.Params.domain_appscode }}/consulting/" class="inline-button"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <!-- solution end -->
      <!-- solution start -->
      <div class="column is-one-quarter-widescreen is-one-quarter-fullhd is-half-tablet is-full-mobile">
        <div class="single-solution-wrapper color-4">
          <div class="solution-icon">
            <img src="/assets/images/icon/light-bulb.png" alt="" />
          </div>
          <h4><a href="{{ .Site.Params.domain_appscode }}/training/">In-Person Training</a></h4>
          <p>
            We organize training workshops to help your organization implement Kubernetes quickly.
          </p>
          <a href="{{ .Site.Params.domain_appscode }}/training/" class="inline-button"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <!-- solution end -->
      <!-- solution start -->
      <div class="column is-one-quarter-widescreen is-one-quarter-fullhd is-half-tablet is-full-mobile">
        <div class="single-solution-wrapper color-2">
          <div class="solution-icon">
            <img src="/assets/images/icon/network.png" alt="" />
          </div>
          <h4><a href="{{ .Site.Params.domain_appscode }}/pricing/">Support</a></h4>
          <p>
            We offer paid support packages so that you are not alone when things go wrong!
          </p>
          <a href="{{ .Site.Params.domain_appscode }}/pricing/" class="inline-button"
            ><i class="fa fa-angle-right" aria-hidden="true"></i
          ></a>
        </div>
      </div>
      <!-- solution end -->
    </div>
  </div>
</section>
<!-- service area end -->

<!-- press-area start -->
<section class="press-area section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <!-- section title start -->
        <div class="section-title">
          <h2>Press</h2>
        </div>
        <!-- section title end -->
      </div>
    </div>
    <div class="columns is-multiline">
      {{ range $idx, $article := $.Site.Data.press }}
      <!-- single press start -->
      <div class="column is-one-quarter-widescreen is-one-quarter-fullhd is-half-tablet is-full-mobile">
        <div class="single-press-wrapper">
          <div class="press-image press-image-{{ add $idx 1 }}"></div>
          <div class="press-content">
            <p class="read-meta">{{ $article.timeToRead }}</p>
            <h3>
              <a href="{{ $article.link }}">{{ $article.title }}</a>
            </h3>
            <p>
              {{ $article.summary }}
            </p>
            <div class="press-button-wrapper">
              <a href="{{ $article.link }}" class="press-button">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <!-- single press end -->
      {{ end }}
    </div>
  </div>
</section>
<!-- press-area end -->

<!-- testimonial area start -->
<section class="testimonial-area-2 section-padding">
  <div class="container section">
    <div class="columns">
      <div class="column column is-10 is-offset-1 has-text-centered">
        <div class="section-title">
          <div class="quete-icon">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
          <h2>Trusted by top engineers at the most ambitious companies</h2>
        </div>
      </div>
    </div>
    <div class="columns column is-10 is-offset-1 has-text-centered">
      <div class="column is-12">
        <div class="logo-carousel-wrapper" id="logo-area-2">
          {{ range $customer := $.Site.Data.customers }}
            {{ if $customer.show }}
              <a class="single-brand-logo">
                <img
                  src="{{ $customer.logo }}"
                  alt="{{ $customer.name }}"
                  class="img"
                />
              </a>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

    <!-- testimonial wrapper start -->
    <div class="columns">
      <div class="column is-12">
        <div class="carousel-wrapper1" id="testimonial-carousel">
          {{ range $user := $.Site.Data.testimonials }}
          <!-- user start -->
          <div class="carousel-user">
            <div class="single-testimonial-wrapper">
              <div class="testimonial-msg">
                <p>{{ $user.testimonial | safeHTML }}</p>
              </div>
              <div class="testimonial-client-info">
                <div class="client-thumb">
                  <img src="{{ $user.profile }}" alt="{{ $user.name }}" />
                </div>
                <div class="client-info">
                  <h4>{{ $user.name }}</h4>
                  <p>{{ $user.job }}{{ if $user.companyKey }} at {{ index $.Site.Data.customers $user.companyKey "name" }}{{ end }}</p>
                </div>
              </div>
            </div>
          </div>
          <!-- user end -->
          {{ end }}
        </div>
      </div>
    </div>
    <!-- testimonial wrapper end -->
  </div>
</section>
<!-- testimonial area end -->

<!-- call to action area start -->
<section class="cta-area section-padding cta-bg-color-1">
  <div class="container section">
    <div class="columns">
      <div class="column is-8 is-offset-2 has-text-centered">
        <div class="cta-wrapper">
          <h1>Get Started with AppsCode</h1>
          <div class="mt-60">
            <a href="{{ $.Site.Params.domain_appscode }}/contact/" class="button ac-button ac-primary">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- call to action area end -->

<!-- video-player start  -->
<div id="video" class="lightbox" onclick="hideVideo('video','youtube')">
    <div class="lightbox-container">
      <div class="lightbox-content">
        <button onclick="hideVideo('video','youtube')" class="lightbox-close">
          X
        </button>
        <div class="video-container">
          <iframe id="youtube" width="1080" height="540" src="https://www.youtube.com/embed/{{ $.Site.Data.products.appscode.videos.intro }}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
<!-- video-player start  -->
<script>
  // Function to reveal lightbox and adding YouTube autoplay
    function revealVideo(div,video_id) {
      var video = document.getElementById(video_id).src;
      document.getElementById(video_id).src = video+'?&autoplay=1'; // adding autoplay to the URL
      document.getElementById(div).style.display = 'block';
    }

    // Hiding the lightbox and removing YouTube autoplay
    function hideVideo(div,video_id) {
      var video = document.getElementById(video_id).src;
      var cleaned = video.replace('?&autoplay=1',''); // removing autoplay form url
      document.getElementById(video_id).src = cleaned;
      document.getElementById(div).style.display = 'none';
    }
</script>


{{ end }}
{{ define "testimonial" }}
<section></section>
{{ end }}

{{ define "customer-logos" }}
<section></section>
{{ end }}

{{ define "cta-install" }}
<section></section>
{{ end }}
