/* ======================
  Global CSS start
========================*/

::-moz-selection {
  /* Code for Firefox */
  color: $ac-white;
  background: $ac-primary;
}

::selection {
  color: $ac-white;
  background: $ac-primary;
}


pre {
  margin-bottom: 15px;
  padding: 20px 15px;
}


.kd-primary {
  background-color: $ac-primary;
  color: $ac-white !important;
}




.kubedb-primary-bg {
  background-color: $ac-primary;
}

.tooltip.is-tooltip-primary::before {
  background-color: #32325d;
  color: $ac-white;
  min-width: 200px;
  padding: 15px;
  font-weight: 400;
  font-style: normal;
}

.tooltip.is-tooltip-primary:not(.is-loading)::after {
  border-color: #32325d transparent transparent transparent;
}

/* button style */
.button {
  height: auto;
}

.ac-custom-select {
  .ss-single-selected,
  .ss-multi-selected {
    min-height: 45px !important;
    border: 1px solid #a6abbd;
    color: $ac-color-text;
    padding: 0 15px;

    .ss-arrow {
      margin: 0;
    }
    .placeholder {
      font-size: 15px;
      color: $ac-color-text;
      font-weight: 500;
    }
    .ss-values {
      margin-top: 3px;

      .ss-disabled {
        margin: 0;
        padding: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #a6abbd;
      }

      .ss-value {
        height: 30px;
        margin-bottom: 6px;
        padding: 0 10px;
        background-color: #35a651;
      }
    }

    .ss-add {
      margin: 4px;
      align-items: center;
    }
  }

  .ss-content {
    border: 1px solid #a6abbd;

    .ss-list {
      .ss-option {
        font-size: 14px;
        color: $ac-color-text;
        transition: 0.3s ease-in-out;

        &:hover {
          background-color: scale-color($ac-primary, $lightness: 80%);
          color: $ac-primary;
        }

        &.ss-disabled {
          opacity: 0.5;
        }
      }
    }

    .ss-search {
      input {
        border: 1px solid #a6abbd;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
}

.kd-button,
.ac-button {
  border: none;
  border-radius: 4px;
  padding: 12px 40px;
  display: inline-block;
  font-weight: 500;
  margin: 0;
  color: $ac-white;
  transition: 0.3s;
  font-family: $ac-font-paragraph;
  font-size: 16px;
  min-width: 190px;
}

.kd-button:hover {
  background-color: darken($ac-primary, 3%);
  color: $ac-white;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.16);
}

.ac-button:hover {
  background-color: darken($ac-primary, 3%);
  color: $ac-white;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.16);
  transform: translateY(-2px);
}

.kd-button span {
  padding-left: 10px;
}

.img {
  max-width: 100%;
  height: auto;
}

.d-table {
  display: table;
  height: 100%;
  width: 100%;
}

.d-table-cell {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.section-padding {
  padding: 120px 0;
}

.container.section {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  margin-bottom: 50px;
}

.subscription-form .input.is-hovered,
.subscription-form .input:hover {
  border-color: $ac-primary;
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
  border-color: $ac-primary;
  box-shadow: none;
}

video:focus {
  outline: none;
}

.is-dark {
  background-color: #32325d;
}

.is-success {
  background-color: #00a651 !important;
}

.is-info {
  background-color: #1da1f2 !important;
}

.is-blue {
  background-color: #3f19ad !important;
  color: $ac-white;
}

.is-gold {
  background-color: #f99a00 !important;
  color: $ac-white !important;
}

.is-marked {
  background-color: $ac-white-lighter !important;
}

.is-danger {
  background-color: #e01563;
}

.is-red {
  background-color: #e03056 !important;
  color: $ac-white !important;
}

.is-dark-red {
  background-color: #8e2c4a !important;
  color: $ac-white !important;
}

.is-light-blue {
  background-color: #d1ecfd !important;
  color: #1da1f2;
}

.is-white {
  background-color: $ac-white !important;
  color: #4d4f5c !important;
  border: 1px solid #e9e9f0;
}

.is-tranparent {
  background: transparent !important;
  border: none;
  cursor: pointer;
}

.is-gray {
  background-color: #e9e9f0 !important;
  color: #4d4f5c !important;
}

.is-white-gray {
  background-color: #e9e9f0;
  border: none;
}

// notification style start
.notification-area {
  display: block;
  cursor: pointer;
  &.notification {
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: -6px;
    .delete {
      right: 15px;
      top: 11px;
    }
    .notification-inner {
      min-height: 45px;
      padding: 8px 0;
      overflow: hidden;
      // position: relative;
      p {
        // animation: mymove 5s infinite;
        font-size: 16px;
        color: $ac-white;
        font-weight: 500;
        // position: absolute;

        a {
          font-weight: 600 !important;
          padding: 0 5px;
          font-family: Roboto;
        }
      }
    }
  }
  &.is-primary {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00a651+0,1971bd+100 */
    background: #00a651; /* Old browsers */
    background: -moz-linear-gradient(
      45deg,
      #00a651 0%,
      #1971bd 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      45deg,
      #00a651 0%,
      #1971bd 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      45deg,
      #00a651 0%,
      #1971bd 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a651', endColorstr='#1971bd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
}
// notification style end
/* Deafult Margin & Padding */
@for $i from 1 through 100 {
  .mt-#{$i} {
    margin-top: #{$i}px;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}px;
  }

  .ml-#{$i} {
    margin-left: #{$i}px;
  }

  .mr-#{$i} {
    margin-right: #{$i}px;
  }

  .pt-#{$i} {
    padding-top: #{$i}px;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }

  .pl-#{$i} {
    padding-left: #{$i}px;
  }

  .pr-#{$i} {
    padding-right: #{$i}px;
  }
}

/* font weight */
.f-700 {
  font-weight: 700;
}

.f-600 {
  font-weight: 600;
}

.f-500 {
  font-weight: 500;
}

.f-400 {
  font-weight: 400;
}

.f-300 {
  font-weight: 300;
}
