// ============================home-page CSS start 2022============================//
.bg-gradient-1 {
  position: relative;
  z-index: 1;
  background-size: 120% 120%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    z-index: -1;
    opacity: 0.9;
    background-size: 50%;
  }
}

// hero area start
.hero-area-1 {
  padding: 150px 0 70px 0px;

  h1 {
    font-weight: 600;
    font-size: 68px;
    line-height: 130%;
    /* or 88px */
    letter-spacing: -2.57px;
  }

  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #404040;
  }

  .buttons {
    margin-top: 30px;
    margin-bottom: 50px;

    .button {
      margin-right: 25px !important;
      margin-bottom: 0;

      lord-icon {
        width: 22px;
        height: 22px;
        margin-right: 8px;
      }
    }

    .play-buttons {
      a {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.25px;
        color: #000000;
        transition: 0.3s ease-in-out;

        &:hover {
          color: $ac-primary;
        }

        span {
          font-size: 24px;
          width: 40px;
          height: 40px;
          border: 2px solid $ac-primary;
          color: $ac-primary;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin-right: 1rem;
        }
      }
    }
  }

  .news-message {
    display: inline-flex;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #3e393e;
    background: $ac-white;

    border: 1px solid $ac-white-light;
    padding: 8px 15px;
    border-radius: 2px;

    &:hover {
      strong {
        text-decoration: underline;
      }
    }

    strong {
      color: $ac-primary;
    }
  }

  .h-right-content {
    margin-right: -70px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s ease-in-out;

    &.is-visible {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}

// hero area end

// products area start
.products-area {
  .single-product {
    display: block;
    background-color: $ac-white;
    border: 1px solid #f1f1f1;
    transition: 0.3s ease-in-out;
    padding: 45px 25px;

    &:hover {
      box-shadow: 1px 11px 114px rgba(0, 0, 0, 0.15);
    }

    .product-logo {
      height: 24px;
      margin-bottom: 20px;

      img {
        height: 100%;
      }
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #3e393e;
      margin-bottom: 20px;

      strong {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: $ac-primary;
      }
    }

    .button {
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: 1.25px;
      color: #1c1c1c;

      .material-icons-outlined {
        font-size: 18px;
        margin-left: 1rem;
      }
    }
  }
}

// products area end

// subscription-area start
.subscription-area {
  padding: 100px 0;

  .subscription-message {
    padding-right: 150px;
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 130%;
    margin-bottom: 20px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #444444;
    margin-bottom: 30px;

    strong {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: $ac-primary;
    }
  }

  .subscription-input {
    position: relative;
    z-index: 1;
    max-width: 400px;

    input {
      height: 56px;
      background-color: $ac-white;
      border: 1px solid $ac-white-light;
      border-radius: 2px;
      padding: 6px 140px 6px 30px;
      font-size: 15px;
      box-shadow: 0px 4px 18px 5px rgba(0, 166, 81, 0.09);
      width: 100%;

      &::placeholder {
        color: #999999;
      }

      &:focus {
        outline: 1px solid $ac-primary;
      }
    }

    button {
      height: 44px;
      position: absolute;
      right: 6px;
      top: 6px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      margin-top: 15px;
    }
  }
}

// subscription-area end

// products features area start
.products-features {
  background: #f3f4f7;

  .features-tabs {
    position: sticky;
    margin-top: 210px;

    ul {
      li {
        span {
          cursor: pointer;
          padding: 10px 0;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 1.25px;
          color: #636363;
          transition: 0.3s ease-in-out;
          display: block;

          &.is-current {
            color: #000000;
            text-decoration: underline;
          }

          &:hover {
            color: $ac-primary;
          }
        }
      }
    }
  }

  .products-description-wrapper {
    .single-product {
      padding: 100px 0 100px 50px;
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;

      &:after {
        position: absolute;
        content: "";
        right: -100%;
        top: 0px;
        width: 200%;
        height: 100%;
        background-color: hsla(256, 82, 95, 1);
        z-index: -1;
        opacity: 0.5;
      }

      // background-color: hsla(256, 82, 95, 1);
      &.kubedb {
        &:after {
          background-color: hsla(240, 55, 95, 1);
        }

        .product-description .features li .material-icons {
          color: $kubedb-primary;
        }

        .button.ac-button.is-primary {
          background-color: $kubedb-primary;
        }
      }

      &.stash {
        &:after {
          background-color: hsla(256, 82, 93, 1);
        }

        .product-description .features li .material-icons {
          color: $stash-primary;
        }

        .button.ac-button.is-primary {
          background-color: $stash-primary;
        }
      }

      &.kubevault {
        &:after {
          background-color: hsla(271, 77, 95, 1);
        }

        .product-description .features li .material-icons {
          color: $kubevault-primary;
        }

        .button.ac-button.is-primary {
          background-color: $kubevault-primary;
        }
      }

      &.prometheus {
        .product-description .features li .material-icons {
          color: $kubedb-primary;
        }
      }

      &.voyager {
        &:after {
          background-color: hsla(242, 48, 95, 1);
        }

        .product-description .features li .material-icons {
          color: $voyager-primary;
        }

        .button.ac-button.is-primary {
          background-color: $voyager-primary;
        }
      }

      &.kubeform {
        &:after {
          background-color: hsla(141, 45, 90, 1);
        }

        .product-description .features li .material-icons {
          color: $kubeform-primary;
        }

        .button.ac-button.is-primary {
          background-color: $kubeform-primary;
        }
      }
    }

    .illustration {
      top: 30%;
      position: sticky;
      display: flex;
      justify-content: flex-end;
    }
  }

  .product-description {
    .brand {
      height: 30px;
      margin-bottom: 1rem;

      img {
        height: 100%;
      }
    }
    h5 {
      margin-bottom: 1rem;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #636363;
      margin-bottom: 1.5rem;

      strong {
        color: $ac-primary;
      }
    }

    .features {
      margin-bottom: 30px;

      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #3e393e;
        margin-bottom: 1rem;
        display: flex;

        .material-icons {
          margin-right: 0.75rem;
          font-size: 1.2rem;
          color: $ac-primary;
        }
      }
    }
  }
}

[data-serialscrolling-target] {
  height: 100vh;
  /* your own styles here */
}

#nav-serialscrolling {
  position: sticky;
  top: 30%;
}

// products features area end

// others product start
.others-products {
  padding: 100px 0;

  .small-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    color: $ac-primary;
  }

  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: -0.5px;
    margin-bottom: 15px;
  }

  p {
    font-size: 18px;
    line-height: 160%;
    color: #3e393e;
    margin-bottom: 30px;
  }

  .products {
    .single-product {
      img {
        width: 60px;
        height: 60px;
        margin-bottom: 15px;
      }

      h5 {
        font-size: 22px;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 160%;
        margin-bottom: 10px;
      }

      .inline-button {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.25px;
        text-decoration-line: underline;
        color: $ac-primary;
        transition: 0.3s ease-in-out;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

// others product end

// social connect area start
.social-connect-area {
  padding: 100px 0 150px;
  background: rgba(243, 244, 247, 0.6);

  .connect-message {
    margin-right: 120px;
    margin-bottom: 20px;
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 20px;
    margin-bottom: 10px;
  }

  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
  }

  .social-link {
    li {
      a {
        font-weight: 600;
        font-size: 14px;
        line-height: 160%;
        letter-spacing: 0.5px;
        color: #1c1c1c;
        display: inline-flex;
        transition: 0.3s ease-in-out;
        padding: 10px 0;

        &:hover {
          text-decoration-line: underline;
          color: $ac-primary;
        }

        span {
          height: 20px;
          margin-right: 10px;

          img {
            height: 100%;
            filter: opacity(0.5);
          }
        }
      }
    }
  }

  .single-card {
    background-color: $ac-white;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    padding: 40px 30px;

    &:hover {
      box-shadow: 0px 10px 120px rgba(44, 60, 74, 0.38);
    }

    .card-top {
      display: flex;
      margin-bottom: 15px;
      align-items: center;

      .card-icon {
        width: 60px;
        height: 60px;
        margin-right: 24px;

        img {
          width: 100%;
        }
      }

      .count {
        width: calc(100% - 84px);

        h2 {
          font-weight: 500;
          font-size: 36px;
          color: #00a651;
          line-height: 1;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          color: #636363;
        }
      }
    }

    .card-bottom {
      p {
        font-size: 1rem;
        line-height: 160%;
        color: #3e393e;
        margin-bottom: 15px;
      }

      button {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1.25px;
        text-decoration-line: underline;
        text-transform: uppercase;
        border: none;
        background-color: transparent;

        /* 1c1c1c */

        color: #1c1c1c;
      }
    }
  }
}

// social connect area end

// ============================home-page CSS end 2022============================

// press area start
.press-area {
  .single-press-wrapper {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;

    &:hover {
      box-shadow: 0px 8px 56px rgba(15, 80, 100, 0.16);
      border-radius: 4px;
      overflow: hidden;

      .press-content {
        border: 1px solid #fbfbfb;
      }
    }

    .press-image-1 {
      background-image: url(../images/press/1.png);
    }

    .press-image-2 {
      background-image: url(../images/press/2.png);
    }

    .press-image-3 {
      background-image: url(../images/press/3.png);
    }

    .press-image-4 {
      background-image: url(../images/press/4.png);
    }
  }

  .press-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-color: #ddd;
    background-repeat: no-repeat;
    width: 100%;
  }

  .press-content {
    border: 1px solid $ac-white-light;
    border-top: 1px solid transparent;
    border-radius: 0 0 4px 4px;
    padding: 20px;

    .read-meta {
      font-size: 12px;
      color: lighten(#4a4a4a, 20%);
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      box-orient: vertical;
      -webkit-box-orient: vertical;

      a {
        color: $ac-color-text;
      }
    }

    p {
      color: $ac-color-text;
      font-size: 15px;
      margin-bottom: 30px;
    }

    .press-button-wrapper {
      overflow: hidden;
      position: relative;
      z-index: 1;

      &:after {
        position: absolute;
        content: "";
        top: 15px;
        width: 100%;
        height: 1px;
        background: $ac-white-light;
        left: 0;
        z-index: -1;
        transition: 0.3s ease-in-out;
      }

      .press-button {
        border: 1px solid $ac-white-light;
        font-size: 13px;
        color: lighten(#4a4a4a, 30%);
        font-weight: 600;
        padding: 5px 20px;
        border-radius: 50px;
        display: block;
        float: right;
        position: relative;
        z-index: 1;
        background: $ac-white;
        transition: 0.3s ease-in-out;

        &:hover {
          color: $ac-color-text;
          border: 1px solid $ac-color-text;
        }
      }
    }
  }
}

// press area end

.about-text-inner p {
  margin-bottom: 30px;
}

.ceo-message-wrapper h1 {
  margin-bottom: 40px;
  font-weight: 400;
}

.signature-image {
  margin-top: 40px;

  p {
    font-family: Raleway;
    font-weight: 600;
  }
}

.ceo-image {
  position: relative;
  z-index: 1;

  img {
    max-width: 300px;
    margin-top: 20px;
  }

  .dots-style {
    position: absolute;
    background: url(../images/appscode/dots.png);
    background-repeat: no-repeat;
    height: 150px;
    width: 250px;
    right: 100px;
    bottom: -75px;
    z-index: -1;
    left: 50%;
    margin-left: -125px;
  }
}

.is-paddingless-desktop {
  padding: 0;
}

/*********************************************************************************************
Responsive Classes
***********************************************************************************************/
@media (max-width: 768.98px) {
  .hero-area-1 {
    padding: 100px 0 50px;

    h1 {
      font-size: 38px;
      letter-spacing: -0.57px;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 1rem;
    }

    .buttons {
      margin-bottom: 15px;
      justify-content: center;

      .button {
        &.ac-button {
          margin-bottom: 0.5rem;
          margin-right: 0.5rem !important;
          padding: 0.5rem 1rem;
        }
      }

      .play-buttons {
        a {
          span {
            font-size: 20px;
            width: 24px;
            height: 24px;
            margin-right: 0.3rem;
          }
        }
      }
    }

    .news-message {
      padding: 15px;
    }

    .h-right-content {
      margin-right: 0;
    }
  }

  .products-area {
    .single-product {
      padding: 30px 20px;
      text-align: center;
    }
  }

  .others-products {
    padding: 50px 0;

    .small-title {
      font-size: 18px;
    }

    .pr-60 {
      padding-right: 0 !important;
    }

    h2 {
      font-size: 22px;
    }

    .products {
      .single-product {
        margin-top: 1rem;
        text-align: center;
        border: 1px solid $ac-white-light;
        padding: 20px 15px;
        border-radius: 4px;

        img {
          width: 50px;
          height: 50px;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  .products-features {
    .features-tabs {
      margin-top: 0;
    }

    .products-description-wrapper {
      .single-product {
        padding: 30px 15px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 10px;

        &:after {
          right: 0;
          width: 100%;
        }
      }
    }

    #nav-serialscrolling {
      top: 0;
    }
  }

  [data-serialscrolling-target] {
    height: 100%;
  }

  .subscription-area {
    padding: 50px 0;

    h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }

    .subscription-message {
      padding: 0;
    }
  }

  .social-connect-area {
    padding: 50px 0;

    h2 {
      font-size: 28px;
    }

    .connect-message {
      margin-right: 0;
    }
  }

  .social-prove-brand-area {
    padding: 30px 0 0;

    .container {
      margin-top: 0 !important;
    }

    .brand-image-wrapper {
      padding: 0 !important;
    }
  }

  .is-paddingless-desktop {
    padding: 0.75rem;
  }
}

// // Small devices (landscape phones, 576px and up)
@media (max-width: 500px) {
}

@media (min-width: 501px) and (max-width: 768.98px) {
}

// Medium devices (tablets, 769px and up)
@media (min-width: 769px) and (max-width: 1023.98px) {
  .hero-area-1 {
    padding: 100px 0 50px;

    h1 {
      font-size: 38px;
      letter-spacing: -0.57px;
    }

    p {
      font-size: 1rem;
    }

    .buttons {
      margin-bottom: 20px;

      .button {
        &.ac-button {
          margin-bottom: 0.5rem;
          margin-right: 0.5rem !important;
          padding: 0.5rem 1rem;
        }
      }

      .play-buttons {
        a {
          span {
            font-size: 20px;
            width: 24px;
            height: 24px;
            margin-right: 0.3rem;
          }
        }
      }
    }

    .news-message {
      padding: 15px;
    }

    .h-right-content {
      margin-right: 0;
    }
  }

  .products-features {
    .products-description-wrapper {
      .single-product {
        &:after {
          right: 0;
          width: 100%;
        }
      }
    }
  }

  .subscription-area {
    padding: 50px 0;

    h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }

    .subscription-message {
      padding: 0;
    }
  }

  .social-connect-area {
    padding: 50px 0;

    h2 {
      font-size: 28px;
    }

    .connect-message {
      margin-right: 0;
    }
  }

  .social-prove-brand-area {
    padding: 30px 0 0;

    .container {
      margin-top: 0 !important;
    }

    .brand-image-wrapper {
      padding: 0 !important;
    }
  }

  .is-paddingless-desktop {
    padding: 0.75rem;
  }
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) and (max-width: 1215px) {
  .hero-area-1 {
    padding: 100px 0 50px;

    h1 {
      font-size: 38px;
      letter-spacing: -0.57px;
    }

    p {
      font-size: 1rem;
    }

    .buttons {
      .button {
        &.ac-button {
          margin-bottom: 0.5rem;
          margin-right: 0.5rem !important;
          padding: 0.5rem 1rem;
        }
      }

      .play-buttons {
        a {
          span {
            font-size: 20px;
            width: 24px;
            height: 24px;
            margin-right: 0.3rem;
          }
        }
      }
    }

    .h-right-content {
      margin-right: 0;
    }
  }

  .products-features {
    .products-description-wrapper {
      .single-product {
        &:after {
          right: 0;
          width: 100%;
        }
      }
    }
  }

  .subscription-area {
    padding: 50px 0;

    h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }

    .subscription-message {
      padding: 0;
    }
  }

  .social-connect-area {
    padding: 50px 0;

    h2 {
      font-size: 28px;
    }

    .connect-message {
      margin-right: 0;
    }
  }

  .social-prove-brand-area {
    padding: 30px 0 0;

    .container {
      margin-top: 0 !important;
    }

    .brand-image-wrapper {
      padding: 0 !important;
    }
  }
}

@media (min-width: 1216px) and (max-width: 1600px) {
  .hero-area-1 {
    padding: 150px 0 100px;

    h1 {
      font-size: 58px;
      letter-spacing: -0.57px;
    }

    p {
      font-size: 1.3rem;
    }

    .h-right-content {
      margin-right: -60px;
    }

    .buttons {
      margin-bottom: 15px;
    }
  }

  .products-area {
    .single-product {
      padding: 35px 20px;
    }
  }

  .others-products {
    h2 {
      font-size: 28px;
    }
  }

  .products-features {
    .products-description-wrapper {
      .single-product {
        &:after {
          right: -160px;
          width: calc(100% + 160px);
        }
      }
    }
  }

  .subscription-area {
    padding: 70px 0 50px;

    h2 {
      font-size: 28px;
      margin-bottom: 15px;
    }

    .subscription-message {
      padding: 0;
    }
  }

  .social-connect-area {
    padding: 50px 0 150px;

    h2 {
      font-size: 28px;
      letter-spacing: -0.3px;
    }

    .connect-message {
      margin-right: 0;
    }

    .single-card {
      padding: 35px 20px;
      .card-top {
        .card-icon {
          width: 50px;
          height: 50px;
          margin-right: 1rem;
        }
        .count {
          h2 {
            font-size: 28px;
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }

  .social-prove-brand-area {
    padding: 30px 0 0;

    .container {
      margin-top: -80px !important;
    }

    .brand-image-wrapper {
      padding: 0 !important;
    }
  }
}

@media (min-width: 1408px) {
}
