#fixedHeader {
  padding: 9px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
body.fixed-nav #fixedHeader {
  position: fixed;
  width: 100%;
  box-shadow: 0px 1px 1px rgba(25, 76, 128, 0.08);
  background-color: #fff;
  padding: 9px 0;
  top: 0;
  z-index: 99;
}
.bg-white {
  background-color: #fff;
}
.hero-area-2 {
  position: relative;
  z-index: 1;
  &::after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    position: absolute;
    z-index: -2;
    content: "";
    background: url(../images/appscode/about-hero-bg-2.png);
  }
  .hero-area-inner-2 {
    height: 400px;
    h1 {
      font-size: 48px;
      margin-bottom: 20px;
      font-weight: 400;
    }
    p {
      font-size: 18px;
    }
  }
}
.hero-area-2.bg-color-available:after {
  background-color: #fbfbfb;
}
// consultation page css start
.illustration-area {
  min-height: 500px;
  background-repeat: no-repeat;
}
.illustration-1 {
  background-image: url(../images/consulting-page/illustation.png);
}
.consulting-inner {
  h2 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 50px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    color: $paragraph-color;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.testimonial-area-2 {
  .testimonial-wrapper {
    overflow: hidden;
    .quote-icon {
      margin-bottom: 30px;
    }
    h1 {
      font-size: 42px;
      line-height: 58px;
      font-weight: 400;
    }
    .user-information {
      margin-top: 30px;
      float: right;
      overflow: hidden;
      h4 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        color: $appscode-primary;
      }
      p {
        font-size: 14px;
        color: $paragraph-color;
      }
    }
  }
}

.package-area {
  .single-package-wrapper {
    padding: 30px 50px;
    h4 {
      font-size: 18px;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
    }
  }
}
// consultation page css end

// training page css start

.training-wrapper-image {
  .single-training-image-wrapper {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(even) {
      width: 250px;
      height: 250px;
      transform: translateY(-70px);
    }
    img {
      transition: 0.3s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.3);
      }
    }
  }
}
.about-training {
  position: relative;
  z-index: 1;
  .dots-shape {
    position: absolute;
    background-image: url(../images/training-page/dots-shape.png);
    background-repeat: no-repeat;
    z-index: -1;
    width: 200px;
    height: 300px;
    right: -70px;
    top: 30%;
  }
}
.pricing-plan-area-2 {
  .single-pricing {
    background-color: $white-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: 50px 50px;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 8px 50px rgba(26, 80, 151, 0.12);
      border: 1px solid transparent;
    }
    .pricing-feature {
      position: absolute;
      left: 20px;
      top: 20px;
      z-index: -1;
      h5 {
        font-size: 16px;
        color: $appscode-primary;
      }
    }
    h2 {
      font-size: 36px;
      line-height: 46px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 24px;
      color: $orange-color;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }
  .single-pricing.intermediate {
    h5 {
      color: $blue-color;
    }
  }
}
.feature-area-2 {
  background-color: #fbfbfb;
  .single-feature {
    padding: 0 60px;
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
    }
  }
  .single-feature.foundational {
    h3 {
      color: $appscode-primary;
    }
  }
  .single-feature.intermediate {
    h3 {
      color: $blue-color;
    }
  }
  .single-feature.advanced {
    h3 {
      color: $red-color;
    }
  }
}

.cta-area-2 {
  .cta-content {
    h1 {
      font-size: 73px;
      line-height: 83px;
      margin-bottom: 50px;
    }
  }
}
.ac-cta-area {
  .cta-text {
    h2 {
      color: $heading-color;
    }
  }
}
// training page css end

// contact-us page start
.contact-form {
  position: relative;
  z-index: 1;
  margin: 60px;
  height: 100%;
  .contact-form-inner {
    position: absolute;
    width: 100%;
    background: #f6f6f6;
    padding: 30px;
    border-radius: 4px;
    left: 0;
    top: -400px;
  }
}
.question-area {
  background-color: #fbfbfb;
  .single-question-wrapper {
    box-shadow: 0px 8px 57px rgba(26, 80, 151, 0.16);
    padding: 35px 45px;
    border-radius: 4px;
    .support-icon {
      max-width: 50px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    h4 {
      font-size: 28px;
      margin-bottom: 30px;
      font-weight: 600;
    }
    p {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}

.location-area {
  .office-details {
    padding: 0 30px;
    h4 {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 20px;
      font-weight: 600;
    }
    p {
      span {
        display: block;
      }
    }
  }
}

.tabs-wrapper {
  ul {
    li {
      color: $paragraph-color;
      display: inline-block;
      padding: 20px;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
    }
    li.is-active {
      color: $appscode-primary;
    }
  }
}
.map-wrapper iframe {
  width: 100%;
  height: 700px;
}
.single-map {
  display: none;
}
.single-map.is-active {
  display: block;
}
// contact-us page end

// product page feature area start
.single-product-feature-wrapper {
  overflow: hidden;
  background-color: $white-color;
  box-shadow: 0px 1px 4px rgba(50, 112, 128, 0.16);
  border-radius: 4px;
  padding: 40px 20px 40px 40px;
  transition: .3s ease-in-out;
  position: relative;
  min-height: 300px;
  &:after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    transition: .3s ease-in-out;
    background-color: $primary-color;
  }
  z-index: 1;
  &:hover{
    box-shadow: 0px 3px 28px rgba(50,152,128, .16);
    &:after{
      width: 100%;
      height: 5px;
    }
  }
  .product-feature-icon {
    width: 55px;
    float: left;
    margin-right: 25px;
  }
  .product-feature-content {
    float: left;
    width: 85%;
  }
  .product-feature-title {
    margin-bottom: 20px;
    h3 {
      font-size: 28px;
      font-weight: 700;
      line-height: 40px;
    }
    p {
      font-size: 16px;
      font-family: raleway;
      font-weight: 600;
    }
  }
  .product-feature-description {
    p {
      font-size: 16px;
    }
  }
}

// product page feature area end
