
.hero-area-2 {
  position: relative;
  z-index: 1;
  &::after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    position: absolute;
    z-index: -2;
    content: "";
    background: url(../images/appscode/about-hero-bg-2.png);
    background-size: contain;
  }
  .hero-area-inner-2 {
    height: 400px;
    padding-top: 120px;
    h1 {
      font-size: 48px;
      margin-bottom: 15px;
      font-weight: 400;
    }
    p {
      font-size: 18px;
    }
  }
}
.hero-area-2.bg-color-available:after {
  background-color: #fbfbfb;
}
// consultation page css start
.illustration-area {
  min-height: 500px;
  background-repeat: no-repeat;
}
.illustration-1 {
  background-image: url(../images/consulting-page/illustation.png);
  background-size: contain;
}
.consulting-inner {
  h2 {
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 50px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    color: $ac-color-text;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.testimonial-area-2 {
  .testimonial-wrapper {
    overflow: hidden;
    .quote-icon {
      margin-bottom: 30px;
    }
    h1 {
      font-size: 28px;
      line-height: 45px;
      font-weight: 600;
    }
    .user-information {
      margin-top: 30px;
      float: right;
      overflow: hidden;
      align-items: center;
      figure{
        margin-right: 15px;
      }
      h4 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        color: $ac-primary;
      }
      p {
        font-size: 14px;
        color: $ac-color-text;
      }
    }
  }
}

.package-area {
  .single-package-wrapper {
    padding: 30px 50px;
    h4 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    p {
      font-size: 16px;
    }
  }
}
// consultation page css end

// training page css start

.training-wrapper-image {
  .single-training-image-wrapper {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(even) {
      width: 250px;
      height: 250px;
      transform: translateY(-70px);
    }
    img {
      transition: 0.3s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.3);
      }
    }
  }
}
.about-training {
  position: relative;
  z-index: 1;
  .dots-shape {
    position: absolute;
    background-image: url(../images/training-page/dots-shape.png);
    background-repeat: no-repeat;
    z-index: -1;
    width: 200px;
    height: 300px;
    right: -70px;
    top: 30%;
  }
}

.cta-area-2 {
  .cta-content {
    h1 {
      font-size: 73px;
      line-height: 83px;
      margin-bottom: 50px;
    }
  }
}

// training page css end


.client-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}

.client-info {
  float: left;
  overflow: hidden;
  margin-top: 5px;
  text-align: left;
  h4 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 3px;
  }
  p {
    margin: 0;
    font-size: $font-size-extra-small;
    font-style: italic;
    color: $ac-color-text;
    opacity: 0.6;
  }
}

/*====================================
    Support page CSS
====================================*/
/* Payment Method section style */
.single-payment-method {
  display: inline-block;
  margin-left: 30px;
}

.single-payment-method:first-child {
  margin-left: 0;
}

.payment-method-innner-text h2 {
  color: $ac-color-heading;
  margin-bottom: 20px;
}

.payment-method-innner-text p {
  margin: 0;
}

.payment-method-area {
  position: relative;
  background-image: url(../images/shape/shape-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  margin-top: 120px;
}

.payment-method-area:after {
  background-image: url(../images/shape/shape-2.png);
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.item ul,
.item input[type="checkbox"] {
  display: none;
  overflow: hidden;
  transition: 0.3s;
}

.product-sidebar-menu .item label a {
  font-weight: 500;
  color: $ac-color-heading;
  padding: 0.5rem 1.25rem;
  display: block;
}

.item ul li.is-active a {
  color: $ac-primary;
}

.item input:checked ~ ul,
.item input:checked ~ .item > ul {
  display: block;
  transition: 0.3s linear;
}

.item input:checked ~ label span,
.item input:checked ~ .item > label span {
  transform: rotate(90deg);
  margin-top: 0;
  transform-origin: 0;
}

.item label span {
  position: absolute;
  right: 15px;
  transition: 0.3s ease-in-out;
  top: 9px;
}

.item ul li a {
  display: block;
  padding: 6px 0;
  font-family: $ac-font-paragraph;
  font-weight: 400;
}

.item label {
  position: relative;
  z-index: 9;
}

.product-sidebar-menu label,
.product-sidebar-menu li a {
  font-size: 14px;
  font-weight: 500;
  color: $ac-color-link;
  display: block;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.product-sidebar-menu li a:hover {
  color: $ac-primary;
}

.product-sidebar-menu .item ul {
  margin-left: 20px;
  padding-left: 15px;
  border-left: 1px solid $ac-white-light;
}
// border remove style
// .item input:checked ~ label,
// .item input:checked ~ .item > label {
//   border: 1px solid $ac-white-light;
//   background: $ac-white;
// }

.item:first-child input:checked ~ label,
.item:first-child input:checked ~ .item:first-child > label {
  border: 1px solid transparent;
}

.appscode-style .item input:checked ~ label > a {
  color: $ac-primary;
}

.item input:checked ~ ul,
.item input:checked ~ .item > ul > .item {
  margin-left: -20px;
}

.ac-product-left-sidebar {
  margin-right: 30px;
  position: sticky;
  top: 130px;
  z-index: 9;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  max-height: calc(100vh - 190px);
  overflow-x: hidden;
}

.product-sidebar-menu .item label {
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
  border-radius: 3px 0 0 3px;
}

/* datasheet style start */
.datasheet-wrapper {
  padding: 0 100px;
}

.download-question h4 {
  font-size: 18px;
  color: $ac-color-heading;
  font-weight: 700;
}

.download-question p {
  color: $ac-color-text;
  font-size: 16px;
  font-family: $ac-font-paragraph;
}

.download-question p strong {
  color: #32325d;
  font-weight: 500;
  font-family: $ac-font-paragraph;
  margin: 10px 0;
  display: block;
}

.download-question a {
  font-family: $ac-font-paragraph;
  font-size: 16px;
}

.form-area h4 {
  font-size: 18px;
  color: $ac-color-heading;
  font-weight: 700;
  margin-bottom: 30px;
}

.single-input-field label {
  display: block;
  color: #32325d;
  font-family: $ac-font-paragraph;
  font-size: 16px;
  margin-bottom: 5px;
}

.single-input-field input {
  padding: 12px 15px;
  border: 1px solid #c4cbd3;
  border-radius: 4px;
  font-size: 16px;
  font-family: $ac-font-paragraph;
  color: #242a31;
  width: 100%;
}

.single-input-field input::placeholder {
  color: $ac-white-light;
}

.single-input-field .select,
select {
  width: 100%;
  height: 48px !important;
}

.single-input-field .select select:not([multiple]) {
  padding-left: 15px;
  color: $ac-white-light;
}

.download-button .icon {
  padding-right: 25px;
}

/* datasheet style end */

/* schedule-demo start */
embed,
iframe,
object,
video {
  height: 100%;
  max-width: 100%;
}

.schedule-title {
  margin-top: 65px;
  color: #242a31;
  margin-bottom: 30px;
}

/* schedule-demo end */


/****************************************
Responsive Classes
*****************************************/
@include mobile {
  .package-area {
    .single-package-wrapper {
      padding: 20px 30px;
      border: 1px solid $ac-white-light;
    }
  }
  .testimonial-area-2 {
    .testimonial-wrapper {
      text-align: center;
      .is-pulled-right {
        float: inherit !important;
        margin-top: 15px;
        display: flex;
        justify-content: center;
      }
    }
  }
}

@include tablet-only {
  .package-area {
    .single-package-wrapper {
      padding: 20px;
      border: 1px solid $ac-white-light;
    }
  }
  .ac-image {
    text-align: center;
  }
  .about-training {
    .section-title {
      h2 {
        text-align: center;
      }
    }
  }
  .ac-text {
    p{
      text-align: center;
    }
  }
  .training-wrapper-image .single-training-image-wrapper:nth-child(even) {
    width: 150px;
    height: 150px;
  }
  .training-wrapper-image .single-training-image-wrapper {
    width: 180px;
    height: 180px;
  }
}


// Large devices (desktops, 1024px and up)
@include desktop-only {
  .training-wrapper-image .single-training-image-wrapper:nth-child(even) {
    width: 150px;
    height: 150px;
  }
  .training-wrapper-image .single-training-image-wrapper {
    width: 180px;
    height: 180px;
  }
}

@include widescreen-only {
  .training-wrapper-image .single-training-image-wrapper:nth-child(even) {
    width: 150px;
    height: 150px;
  }
  .training-wrapper-image .single-training-image-wrapper {
    width: 180px;
    height: 180px;
  }
}

@include fullhd {
  .training-wrapper-image .single-training-image-wrapper:nth-child(even) {
    width: 150px;
    height: 150px;
  }
  .training-wrapper-image .single-training-image-wrapper {
    width: 180px;
    height: 180px;
  }
}
