@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
$poppins: "Poppins", sans-serif;

// notification
.ac-notification {
  &.is-primary {
    background-color: $ac-primary;
  }

  p {
    color: #fff;

    a {
      color: #3273dc !important;
      font-weight: 500;
    }
  }
}

// hero area start
.hero-area-2 {
  &.webinar-page {
    &::after {
      background-color: rgba(25, 113, 189, 0.1);
      background-size: cover;
    }

    .webinar-hero-area {
      position: relative;
      z-index: 1;
    }

    .hero-area-inner-2 {
      height: auto;
      padding-bottom: 120px;
      padding-top: 100px;

      h1 {
        font-family: $poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 62px;
        line-height: 93px;
        color: #393e46;
        margin-bottom: 10px;
      }

      .subtitle {
        font-size: 36px;
        color: #666;
        line-height: 58px;
        font-weight: 500;
      }

      .single-webinar-info {
        display: flex;
        align-items: center;
        margin-right: 44px;

        &:last-child {
          margin-right: 0;
        }

        .icon {
          width: 34px;
          height: 34px;
          background: #00a651;
          color: #fff;
          border-radius: 50%;
          font-size: 14px;
          line-height: 15px;
          margin-right: 15px;
        }

        strong {
          color: #3f3d56;
          margin-right: 5px;
        }

        p {
          color: #666666;
        }
      }
    }

    .count-down-area {
      background: #ffffff;
      box-shadow: 2px 4px 27px rgba(25, 113, 189, 0.16);
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 7px 0;
      position: absolute;
      width: 85%;
      bottom: -94px;

      .signle-count {
        border-right: 1px solid #e6e6e6;
        text-align: center;
        width: 25%;
        padding: 25px 0;

        &:last-child {
          border-right: none;
        }

        .name {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #555555;
          margin-bottom: 20px;
        }

        .unit {
          font-family: $poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 62px;
          line-height: 62px;
          color: #393e46;
        }
      }
    }
  }
}

// hero area end
.registration-form-container {
  &.register-success,
  &.register-failed {
    position: sticky;
    top: 60px;

    form {
      display: none;
    }

    .register-notification {
      display: block;
    }
  }

  .register-notification {
    display: none;
  }
}

// registration form start
.registration-form-wrapper {
  position: relative;
  z-index: 1;

  .registration-form {
    width: 100%;
  }

  .circle-shape {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .reg-illustration {
    margin: 50px 0;
  }
}

.registration-form {
  box-shadow: 0px 4px 27px rgba(25, 113, 189, 0.16);
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;

  h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    color: #393e46;
    margin-bottom: 30px;
  }

  form {
    label.radio-title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      display: block;
      color: #393e46;
      margin-bottom: 6px;
      text-transform: uppercase;

      .is-require {
        color: $ac-red;
        padding-left: 5px;
      }
    }

    .ac-single-radio {
      label {
        font-size: 14px !important;
      }
    }

    .form-message {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #555555;
    }

    input[type="submit"] {
      height: 45px;
      font-size: 14px;
      font-weight: 500;
    }

    .single-input-form {
      width: 100%;
      margin-bottom: 20px;

      &.is-fullwidth {
        width: 100%;
      }

      label {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        display: block;
        color: #393e46;
        margin-bottom: 6px;
        text-transform: uppercase;

        .is-require {
          color: #ea3d2f;
          padding-left: 5px;
        }
      }
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    .textarea-wrapper,
    .select {
      border: 1px solid #a6abbd;
      border-radius: 4px;
      height: 45px;
      width: 100%;
      padding: 0 15px;
      font-weight: 500;
      font-size: 15px;
      background-color: transparent;
      color: $ac-color-text;

      &:focus {
        outline: none !important;
        border: 1px solid $ac-primary;
      }

      &::placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #a6abbd;
      }
    }

    .select {
      border-color: #a6abbd;
      padding: 0;

      &:hover {
        border-color: #a6abbd;
      }

      select {
        background-color: transparent;
        border: none;
        font-weight: 500;
        height: 45px !important;
        color: $ac-color-text;
        padding-left: 15px;

        option[selected] {
          color: #333;
        }
      }
    }

    .textarea-wrapper {
      height: 100px;
    }

    .textarea-wrapper {
      padding: 10px 10px 10px 15px;

      &:focus {
        outline: none !important;
        border: 1px solid $ac-primary;
      }
    }

    textarea {
      width: 100%;
      height: calc(100% - 0px);
      border: none;
      font-weight: 500;
      font-size: 15px;

      &::placeholder {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #a6abbd;
      }

      &:focus {
        outline: none;
        border: none;
      }
    }

    input[type="submit"] {
      width: 100%;
      background-color: $ac-primary;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: darken(#00a651, $amount: 5);
      }
    }

    p.is-error {
      color: #ea3d2f;
      font-size: 12px;
      line-height: 1.4;
    }
  }
}

// registration form end
// summary area start
.webinar-summary-area {
  padding-top: 150px;

  .webinar-summary {
    h3 {
      font-family: $poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 22px;

      color: #393e46;
      margin-bottom: 20px;
    }

    .summary-content {
      margin-bottom: 30px;
      width: calc(100% - 30px);

      p {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #555555;
        margin-bottom: 15px;
        text-align: justify;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .speaker-info-wrapper {
    margin-top: 30px;
    max-width: calc(100% - 30px);
    display: grid;
    grid-template-columns: 110px auto;
    grid-gap: 30px;

    .speaker-thumbnail {
      width: 110px;
      height: 110px;
      border: 1px solid #a6abbd;
      border-radius: 50%;
      overflow: hidden;
    }

    .speaker-info {
      h5 {
        font-family: $poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;

        color: #393e46;
      }

      .designation {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #555555;
        margin-bottom: 15px;

        a {
          font-family: Roboto;
        }
      }

      .speaker-message {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #555555;
      }
    }
  }
}

// summary area end

.webinar-header {
  margin-bottom: 20px;

  .upcoming-message {
    h1 {
      font-weight: 500;
      line-height: 110%;
    }
  }

  .webinar-list-items {
    .webinar-item {
      width: 130px;
      background-color: #ccffe5;
      border-radius: 4px;
      margin-right: 20px;
      padding: 15px;
      cursor: pointer;

      &.is-active {
        background-color: $ac-primary;

        p,
        h2 {
          color: $ac-white;
        }
      }

      &:last-child {
        margin-right: 0;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        color: $ac-primary;

        &.date {
          font-size: 13px;
        }
      }

      h2 {
        font-size: 52px;
        font-weight: 400;
        text-align: center;
        color: $ac-primary;
        line-height: 1.029;
      }
    }
  }
}

.webinar-body {
  .single-webinar {
    opacity: 0;
    visibility: hidden;
    display: none;

    &.is-active {
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }
  .webinar-video {
    margin-bottom: 20px;
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%;
    &.active-overlay {
      &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.3;
      }
    }

    /* 9 / 16 * 100 */
    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border: 0;
    }
  }

  .webinar-title {
    h1 {
      font-size: 40px;
      line-height: 130%;
      margin-bottom: 20px;
      font-weight: 400;
    }
  }

  .date-and-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .date {
      lord-icon {
      }

      span {
        font-size: 18px;
        color: $ac-color-text;
        font-weight: 500;
        margin-left: 15px;
      }
    }
  }

  .webinar-summary {
    .highlight {
      position: relative;
      padding-left: 25px;

      &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
        background-color: $ac-primary;
      }
    }

    p {
      color: #636363;
      margin-bottom: 20px;
    }

    .check-items {
      li {
        display: block;
        margin-bottom: 8px;

        lord-icon {
        }

        span {
          margin-left: 15px;
          font-size: 15px;
        }
      }
    }
  }

  .webinar-speakers {
    display: flex;
    align-items: center;

    .single-speaker {
      position: relative;
      z-index: 1;
      margin-right: 20px;
      max-width: 260px;
      border-radius: 4px;
      overflow: hidden;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        .speaker-info {
          bottom: 0;
        }
      }

      .speaker-info {
        background-color: #ccffe5;
        padding: 20px 15px;
        position: absolute;
        width: 100%;
        text-align: center;
        left: 0;
        bottom: -100%;
        border-top: 5px solid $ac-primary;
        transition: 0.3s ease-in-out;

        p {
          font-size: 13px;
        }
      }
    }
  }
}
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #ccc;
}

.tab:hover {
  background-color: #aaa;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

/****************************************
Responsive Classes
*****************************************/
@media (max-width: 1023.98px) {
  .webinar-header {
    .upcoming-message {
      h1 {
        font-size: 34px;
      }
    }
    .webinar-list-items {
      .webinar-item {
        width: 110px;
        h2 {
          font-size: 22px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .webinar-body {
    .webinar-title {
      h1 {
        font-size: 22px;
      }
    }
    .webinar-speakers {
      .single-speaker {
        .speaker-info {
          padding: 15px;
          h6 {
            font-size: 14px;
          }
        }
      }
    }
  }
}

// // Small devices (landscape phones, 576px and up)
@media (max-width: 500px) {
  .webinar-hero-area.mt-80.mr-100 {
    margin-right: 0 !important;
    margin-top: 80px !important;
  }
  .webinar-header {
    flex-direction: column;
    align-items: flex-start !important;

    .upcoming-message {
      h1 {
        font-size: 30px;
        margin-bottom: 20px;
        br {
          display: none;
        }
      }
    }

    .webinar-list-items {
      .webinar-item {
        margin-right: 10px;
        width: auto;
      }
    }
  }
  .webinar-body {
    .date-and-location {
      flex-direction: column;
      align-items: flex-start !important;
      .date {
        margin-bottom: 8px;
        span {
          font-size: 15px;
        }
      }
    }
    .webinar-speakers {
      overflow: auto;
      .single-speaker {
        min-width: 130px;
      }
    }
  }
}

@media (min-width: 501px) and (max-width: 768.98px) {
  .webinar-hero-area.mt-80.mr-100 {
    margin-right: 0 !important;
    margin-top: 80px !important;
  }
  .webinar-header {
    flex-direction: column;
    align-items: flex-start !important;

    .upcoming-message {
      h1 {
        font-size: 34px;
        margin-bottom: 20px;
        br {
          display: none;
        }
      }
    }

    .webinar-list-items {
      .webinar-item {
        margin-right: 15px;
        width: auto;
        h2 {
          font-size: 32px;
        }
      }
    }
  }
  .webinar-body {
    .date-and-location {
      flex-direction: column;
      align-items: flex-start !important;
      .date {
        margin-bottom: 8px;
        span {
          font-size: 15px;
        }
      }
    }
    .webinar-speakers {
      overflow: auto;
      .single-speaker {
        min-width: 130px;
      }
    }
  }
}

// Medium devices (tablets, 769px and up)
@media (min-width: 769px) and (max-width: 1023.98px) {
  .webinar-hero-area.mt-80.mr-100 {
    margin-right: 0 !important;
    margin-top: 80px !important;
  }
  .webinar-header {
    flex-direction: row;
    align-items: center !important;

    .upcoming-message {
      h1 {
        font-size: 34px;
        margin-bottom: 20px;
        br {
          display: block;
        }
      }
    }

    .webinar-list-items {
      .webinar-item {
        margin-right: 15px;
        width: auto;
        h2 {
          font-size: 32px;
        }
      }
    }
  }
  .webinar-body {
    .date-and-location {
      flex-direction: column;
      align-items: flex-start !important;
      .date {
        margin-bottom: 8px;
        span {
          font-size: 15px;
        }
      }
    }
    .webinar-speakers {
      overflow: auto;
      .single-speaker {
        min-width: 130px;
      }
    }
  }
}

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) and (max-width: 1215px) {
  .webinar-hero-area.mt-80.mr-100 {
    margin-right: 0 !important;
    margin-top: 80px !important;
  }
  .webinar-header {
    flex-direction: row;
    align-items: center !important;

    .upcoming-message {
      h1 {
        font-size: 34px;
        margin-bottom: 20px;
        br {
          display: block;
        }
      }
    }

    .webinar-list-items {
      .webinar-item {
        margin-right: 15px;
        width: auto;
        h2 {
          font-size: 32px;
        }
      }
    }
  }
  .webinar-body {
    .webinar-title {
      h1 {
        font-size: 22px;
      }
    }
    .date-and-location {
      flex-direction: row;
      align-items: center !important;
      .date {
        margin-bottom: 0px;
        span {
          font-size: 15px;
        }
      }
    }
    .webinar-speakers {
      overflow: auto;
      .single-speaker {
        min-width: 130px;
      }
    }
  }
}

@media (min-width: 1216px) and (max-width: 1600px) {
  .webinar-hero-area.mt-80.mr-100 {
    margin-right: 0 !important;
    margin-top: 80px !important;
  }
  .webinar-header {
    .upcoming-message {
      h1 {
        font-size: 48px;
      }
    }

    .webinar-list-items {
      .webinar-item {
        margin-right: 15px;
        width: 120px;
        h2 {
          font-size: 32px;
        }
      }
    }
  }
  .webinar-body {
    .webinar-title {
      h1 {
        font-size: 28px;
      }
    }
    .date-and-location {
      flex-direction: row;
      align-items: center !important;
      .date {
        margin-bottom: 0px;
        span {
          font-size: 15px;
        }
      }
    }
    .webinar-speakers {
      overflow: auto;
      .single-speaker {
        min-width: 130px;
      }
    }
  }
}

@media (min-width: 1408px) {
}
