{{ define "main" }}
<section class="single-video-page sp-y-80">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <div class="left-content">

                    <!-- youtube video start  -->
                    <div class="video-content">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/EO6uOhKb2XI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <!-- youtube video end  -->

                    <!-- video title start  -->
                    <div class="video-title is-flex is-justify-content-space-between is-align-items-baseline">
                        <h1>Elasticsearch Hot Warm Cold Architecture Management with Kibana
                            in Kubernetes Using KubeDB</h1>
                        <div class="buttons outlined-bg-buttons">
                            <div class="button is-tinny">Share <span class="material-icons-outlined ml-8">
                                share
                            </span></div>
                        </div>
                    </div>
                    <!-- video title end  -->

                    <!-- user info start  -->
                    <div class="user-info-wrapper">
                        <figure class="image is-48x48">
                            <img class="is-rounded" src="/assets/images/customers/persons/mario_kozjak.png"
                                alt="Mario Kozjak">
                        </figure>
                        <div class="user-info">
                            <h5>Mario Kozjak</h5>
                            <p>Solutions Architect at Elpheria</p>
                        </div>
                    </div>
                    <!-- user info end  -->

                    <!-- tags start  -->
                    <div class="tags">
                        <strong>#ElasticsearchKubernetes </strong> <strong>#KubernetesDatabase </strong>
                        <strong>KubeDB</strong>
                    </div>
                    <!-- end start  -->

                    <!-- video description start  -->
                    <div class="video-description">
                        <p>Introducing Kubedb Dashboard for Elasticsearch data management with Kibana. Now we can deploy
                            Kibana to search, monitor, analyze and visualize indexed data easily in Kubernetes native
                            way.</p>

                        <p>Elasticsearch is mostly used for logging and log analysis, scraping and aggregating public
                            data, traditional text search, metrics, and monitoring application events. Kibana is a
                            web-based visual interface for monitoring, managing, and securing an Elastic Stack. Kibana's
                            dev tools offer a comprehensive way to communicate with ElasticStack. KubeDB managed
                            Elasticsearch and ElasticsearchDashboard eases the difficulties of managing
                            Elasticsearch-Kibana stack in the Kubernetes realm.</p>

                        <p>Here is a sneak preview of the webinar: </p>

                        <p> - Deploy Hot-Warm-Cold Elasticsearch Cluster</p>
                        <p> - Deploy Kibana Instance </p>
                        <p> - Monitor Kubernetes Logs with ELK Stack </p>
                        <p> - Index Lifecycle Management for Hot-Warm-Cold Nodes </p>

                        <p>KubeDB by AppsCode simplifies and automates routine database tasks such as provisioning,
                            monitoring, patching, backup, recovery, failure detection, and repair for various popular
                            databases on private and public clouds.</p>

                        <p>Slide Deck: <a href="#">https://docs.google.com/presentation/... </a></p>
                    </div>
                    <!-- video description end -->

                </div>
            </div>
            <div class="column is-4">
                <div class="right-content">
                    <div class="video-list-wrapper">

                        <!-- title start -->
                        <h4>You may also like this video</h4>
                        <!-- title end -->

                        <!-- video list items start  -->
                        <div class="video-list-items">

                            <!-- single video start  -->
                            <a href="#" class="single-video">
                                <div class="thumbnail"><img
                                        src="https://via.placeholder.com/200/dddddd/808080" alt=""></div>
                                <div class="descriptions">
                                    <h5 class="is-ellipsis-2">Recovery of postgres cluster using kubedb</h5>
                                    <p>By: Kamol Hasan | Appscode Inc.</p>
                                </div>
                            </a>
                            <!-- single video end -->

                            <!-- single video start  -->
                            <a href="#" class="single-video">
                                <div class="thumbnail"><img
                                        src="https://via.placeholder.com/200/dddddd/808080" alt=""></div>
                                <div class="descriptions">
                                    <h5 class="is-ellipsis-2">Automatic recovery of postgres cluster using kubedb</h5>
                                    <p>By: Kamol Hasan | Appscode Inc.</p>
                                </div>
                            </a>
                            <!-- single video end -->

                            <!-- single video start  -->
                            <a href="#" class="single-video">
                                <div class="thumbnail"><img
                                        src="https://via.placeholder.com/200/dddddd/808080" alt=""></div>
                                <div class="descriptions">
                                    <h5 class="is-ellipsis-2">Recovery of postgres cluster using kubedb</h5>
                                    <p>By: Kamol Hasan | Appscode Inc.</p>
                                </div>
                            </a>
                            <!-- single video end -->

                            <!-- single video start  -->
                            <a href="#" class="single-video">
                                <div class="thumbnail"><img
                                        src="https://via.placeholder.com/200/dddddd/808080" alt=""></div>
                                <div class="descriptions">
                                    <h5 class="is-ellipsis-2">Recovery of postgres cluster using kubedb</h5>
                                    <p>By: Kamol Hasan | Appscode Inc.</p>
                                </div>
                            </a>
                            <!-- single video end -->

                            <!-- single video start  -->
                            <a href="#" class="single-video">
                                <div class="thumbnail"><img
                                        src="https://via.placeholder.com/200/dddddd/808080" alt=""></div>
                                <div class="descriptions">
                                    <h5 class="is-ellipsis-2">Automatic recovery of postgres cluster using kubedb</h5>
                                    <p>By: Kamol Hasan | Appscode Inc.</p>
                                </div>
                            </a>
                            <!-- single video end -->

                            <!-- single video start  -->
                            <a href="#" class="single-video">
                                <div class="thumbnail"><img
                                        src="https://via.placeholder.com/200/dddddd/808080" alt=""></div>
                                <div class="descriptions">
                                    <h5 class="is-ellipsis-2">Recovery of postgres cluster using kubedb</h5>
                                    <p>By: Kamol Hasan | Appscode Inc.</p>
                                </div>
                            </a>
                            <!-- single video end -->

                        </div>
                        <!-- video list items end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}