{{ $site := .site }}

<div class="resources-single-list">

  <a href="{{ $site.Params.blog_url }}" class="resources-single-item">
    <div class="resources-single-icon">
      <iconify-icon icon="heroicons:pencil-square" width="16" height="16"></iconify-icon>
    </div>
    <div class="resources-single-info">
      <span class="resources-single-title">Blog</span>
      <span class="resources-single-desc">Articles, tutorials & insights</span>
    </div>
  </a>

  <a href="{{ $site.Params.docs_url }}" class="resources-single-item">
    <div class="resources-single-icon">
      <iconify-icon icon="heroicons:book-open" width="16" height="16"></iconify-icon>
    </div>
    <div class="resources-single-info">
      <span class="resources-single-title">Docs</span>
      <span class="resources-single-desc">Guides, references & API docs</span>
    </div>
  </a>

  <a href="https://appscode.com/webinar/" class="resources-single-item">
    <div class="resources-single-icon">
      <iconify-icon icon="heroicons:video-camera" width="16" height="16"></iconify-icon>
    </div>
    <div class="resources-single-info">
      <span class="resources-single-title">Webinars</span>
      <span class="resources-single-desc">Live & on-demand sessions</span>
    </div>
  </a>

  <a href="{{ $site.Params.learn_url }}" class="resources-single-item">
    <div class="resources-single-icon">
      <iconify-icon icon="heroicons:academic-cap" width="16" height="16"></iconify-icon>
    </div>
    <div class="resources-single-info">
      <span class="resources-single-title">Learn</span>
      <span class="resources-single-desc">Hands-on learning paths</span>
    </div>
  </a>

  <a href="{{ $site.Params.youtube_url }}" target="_blank" rel="noopener" class="resources-single-item">
    <div class="resources-single-icon">
      <iconify-icon icon="heroicons:play-circle" width="16" height="16"></iconify-icon>
    </div>
    <div class="resources-single-info">
      <span class="resources-single-title">Videos</span>
      <span class="resources-single-desc">Tutorials, demos & walkthroughs</span>
    </div>
  </a>

</div>
